<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_event.png"></div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/event/eventChapterDetail/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/1dcfb6c6683be7af.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/11/25 06:00 ～ 2021/12/15 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/11/25 06:00 ～ 2021/12/15 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input name="idx" type="hidden" value="80016">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/event/eventChapterDetail/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/a56dbb2e8323e5eb.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/11/04 06:00 ～ 2021/12/08 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input name="idx" type="hidden" value="99070">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/event/eventChapterDetail/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/ebb6c6592f8653d8.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/02/07 06:00 ～
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input name="idx" type="hidden" value="99011">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/event/eventChapterDetail/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/5ff05ccd05ebc37a.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2018/08/30 06:00 ～
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input name="idx" type="hidden" value="99001">
    </form>
</div>
<div class="f_l col2 p_5">
    <button class="basic_btn" onclick="location.href='/record/eventlog/'"
            type="button">
        <img class="w_212" src="https://ongeki-net.com/ongeki-mobile/img/banner_eventlog.png">
        <div class="f_11 l_h_10">過去のあなたのランキングはこちら</div>
        <div class="f_15">イベント履歴へ</div>
    </button>
</div>
<div class="f_l col2 p_5">
    <button class="basic_btn" onclick="window.open('https://ongeki.sega.jp/ranking/','_blank')" type="button">
        <img class="w_212" src="https://ongeki-net.com/ongeki-mobile/img/banner_ongeki.jpg?ver=1.30.0">
        <div class="f_11 l_h_10">過去の上位ランキングはこちら</div>
        <div class="f_15">オンゲキ公式サイトへ</div>
    </button>
</div>
<div class="clearfix"></div>
