<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_music.png"></div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_category_on.png?ver=1.30.0"></a>
        <a routerLink="/record/musicMybest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_mybest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLatest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_latest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicTechCount/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_techcount.png?ver=1.30.0"></a>
        <a routerLink="/record/musicScoreGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_scoredata.png?ver=1.30.0"></a>
        <img class="record_scoredata_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    </div>
    <div class="tab_container p_15">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_genre_off.png?ver=1.30.0"></a>
        <a routerLink="/record/musicWord/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_word_off.png?ver=1.30.0"></a>
        <a routerLink="/record/musicCharacter/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_character_off.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLevel/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_level.png?ver=1.30.0"></a>
        <form accept-charset="utf-8" action="/record/musicLevel/search/"
              method="get">
            <select class="m_15" name="level">
                <option value="1">LEVEL 0</option>
                <option value="3">LEVEL 1</option>
                <option value="5">LEVEL 2</option>
                <option value="7">LEVEL 3</option>
                <option value="9">LEVEL 4</option>
                <option value="11">LEVEL 5</option>
                <option value="13">LEVEL 6</option>
                <option value="15">LEVEL 7</option>
                <option value="16">LEVEL 7+</option>
                <option value="17">LEVEL 8</option>
                <option value="18">LEVEL 8+</option>
                <option value="19">LEVEL 9</option>
                <option value="20">LEVEL 9+</option>
                <option value="21">LEVEL 10</option>
                <option value="22">LEVEL 10+</option>
                <option value="23">LEVEL 11</option>
                <option value="24">LEVEL 11+</option>
                <option value="25">LEVEL 12</option>
                <option value="26">LEVEL 12+</option>
                <option value="27">LEVEL 13</option>
                <option value="28">LEVEL 13+</option>
                <option value="29">LEVEL 14</option>
                <option value="30">LEVEL 14+</option>
                <option selected="" value="31">LEVEL 15</option>
            </select>
        </form>
    </div>
</div>
<div class="container2 p_5">
    <table class="f_0">
        <tbody>
        <tr>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_usually.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_good.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_great.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_excellent.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_unbelievable.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_fb.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
        </tr>
        <tr>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_s.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_ss.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_sss.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_sssplus.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_fc.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
            <td><img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_ab.png?ver=1.30.0">
                <div class="f_14">0/2</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container3">
    <hr class="gray_line">
    <div class="p_5 f_20">LEVEL 15</div>
    <div class="basic_btn master_score_back m_10 p_5 t_l">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <div class="score_level_base f_r">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                    <div class="score_level t_c">15</div>
                </div>
                <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                <div class="music_label p_5 break">LAMIA</div>
            </div>
            <input name="idx" type="hidden"
                   value="imTBglM8fZF+Nhaj434c2MC2idlOMpobET6sZwdYTdv2FEObBvZLt8nEWn4qINJ1kaTScovTDaV61+L1WIMP/A==">
        </form>
    </div>
    <div class="basic_btn master_score_back m_10 p_5 t_l">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <div class="score_level_base f_r">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                    <div class="score_level t_c">15</div>
                </div>
                <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                <div class="music_label p_5 break">Apollo</div>
            </div>
            <input name="idx" type="hidden"
                   value="fsV4SKpyYlMnIWF4PjkOhWjJni3wXD1QKpVRbV0IsNcaXhOq/uOPgxU5126pzXKUr+aJa4b6ufsVcbC/C0O5vA==">
        </form>
    </div>
    <hr class="gray_line">
</div>
