<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog_on.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_playlog.png"></div>
<div class="container3 t_l">
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
        <span class="f_r f_12 h_10">2021/11/21 21:55</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> No Limit RED Force
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/6ada0962cdfcadde.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">12,353,439</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_good.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">170.63％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block_new">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">999,697</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_ss.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="2">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
        <span class="f_r f_12 h_10">2021/11/21 21:51</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_matching.png"> <img
                class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> TEmPTaTiON
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/a96fb62629a43762.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">9,942,297</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_excellent.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">306.34％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block_new">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">985,941</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_s.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="1">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
        <span class="f_r f_12 h_10">2021/11/21 21:47</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_matching.png"> <img
                class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> TEmPTaTiON
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/a96fb62629a43762.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">10,294,293</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_excellent.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">361.67％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block_new">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">1,005,409</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_sss.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="0">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
        <span class="f_r f_12 h_10">2021/07/22 21:40</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> QZKago Requiem
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/f6b327d78bac1266.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">9,708,556</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_excellent.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">369.99％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">971,189</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_s.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb_base.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="49">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
        <span class="f_r f_12 h_10">2021/07/22 21:36</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> Xevel
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/2c0928235784d019.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">10,846,747</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_good.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">142.86％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block_new">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">970,208</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_s.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb_base.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="48">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
        <span class="f_r f_12 h_10">2021/07/22 21:32</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> Xevel
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/2c0928235784d019.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">11,193,267</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_great.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">213.23％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block_new">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">1,008,472</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_sssplus.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="47">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
        <span class="f_r f_12 h_10">2021/07/07 22:06</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> 四月の雨
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/59cf2a0a3ebc7e98.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">8,796,259</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_unbelievable.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">467.64％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">975,160</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_s.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb_base.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="46">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="m_10">
        <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
        <span class="f_r f_12 h_10">2021/06/18 21:04</span>
        <div class="m_5 l_h_10 break">
            <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> 四月の雨
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/59cf2a0a3ebc7e98.png">
        <div class="f_r">
            <div class="playlog_score_block m_5 p_5 t_r white">
                <table>
                    <tbody>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">BATTLE SCORE</div>
                            <div class="f_20">8,988,504</div>
                        </td>
                        <td class="w_65" rowspan="2">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_unbelievable.png">
                        </td>
                    </tr>
                    <tr>
                        <td class="battle_score_block_new">
                            <div class="f_11">OVER DAMAGE</div>
                            <div class="f_20">485.93％</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="technical_score_block_new">
                            <div class="f_11">TECHNICAL SCORE</div>
                            <div class="f_20">991,314</div>
                        </td>
                        <td class="w_65">
                            <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_ss.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix p_t_5 t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
                </div>
            </div>
        </div>
        <form accept-charset="utf-8" action="/record/playlogDetail/" class="p_5 t_r"
              method="get">
            <input name="idx" type="hidden" value="4">
            <button type="submit"><img class="f_r h_40 basic_btn"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_detail.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
</div>
