<div class="f_0">
    <a routerLink="/card/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_book.png"></a>
    <a routerLink="/card/cardList/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_list_on.png"></a>
    <a routerLink="/card/deck/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_deck.png"></a>
    <a routerLink="/card/cardmaker/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_maker.png"></a>
    <a routerLink="/card/training/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_training.png"></a>
    <img class="card_training_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_card_detail.png"></div>
<div class="container3">
    <hr class="gray_line">
    <div class="f_l w_212 m_5 m_t_0">
        <img class="card_detail_img w_212" src="https://ongeki-net.com/ongeki-mobile/img/card/e8c10e109a360539.png">
    </div>
    <div class="card_detail_container f_l t_l">
        <div class="h_50 f_0">
            <img class="card_attr" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
            <img src="https://ongeki-net.com/ongeki-mobile/img/card_icon_n.png">
            <div class="card_detail_star_container v_b f_0">
                <div>
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                </div>
                <div class="card_star_on_block">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
                </div>
            </div>
            <img class="card_kaika" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
        </div>
        <div class="p_t_5 f_14 l_h_12 break">【N】星咲 あかり</div>
        <div class="card_lv_container">
            <img src="https://ongeki-net.com/ongeki-mobile/img/card_lv_base.png">
            <div class="card_lv_block t_r f_0">
                <span class="v_b f_18 f_b">43</span><span class="v_b f_11">/60</span>
            </div>
            <div class="card_detail_exp_container">
                <div class="card_detail_exp_gage" style="width: 50%"></div>
            </div>
        </div>
        <div class="card_detail_param_block" style="height: 120px;">
            <table class="f_11">
                <tbody>
                <tr>
                    <td>攻撃力</td>
                    <td><span class="f_18">176</span>/227</td>
                </tr>
                <tr>
                    <td>印刷可能回数</td>
                    <td><span class="f_18">2</span>枚</td>
                </tr>
                <tr>
                    <td>ver.</td>
                    <td><span class="f_14">オンゲキ</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <table class="card_skill_table white">
            <tbody>
            <tr>
                <td class="v_t f_0" rowspan="2">
                    <img class="card_skill_icon" src="https://ongeki-net.com/ongeki-mobile/img/skill_attack.png ">
                </td>
                <td class="f_11 l_h_12 skill_attack p_l_5">
                    <span class="v_m break">ボスアタック +5</span>
                </td>
            </tr>
            <tr>
                <td class="f_10 l_h_10 v_t break">
                    バトル後半で、自身の攻撃力5％アップ
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="card_detail_other_block t_l f_12">
        <div class="p_l_5 f_13">入手方法</div>
        <div class="card_detail_other_item">該当する章を初めて選択した際に入手<br>親密度が一定以上になると入手</div>
    </div>
    <hr class="gray_line">
</div>
<div class="t_c">
    <button class="f_0" onclick="history.back();" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>

<div class="container3">
    <hr class="gray_line">
    <div class="f_l w_212 m_5 m_t_0">
        <img class="card_detail_img w_212" src="https://ongeki-net.com/ongeki-mobile/img/card/66ada8ad19eff20a.png">
    </div>
    <div class="card_detail_container f_l t_l">
        <div class="h_50 f_0">
            <img class="card_attr" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
            <img src="https://ongeki-net.com/ongeki-mobile/img/card_icon_srp.png">
            <div class="card_detail_star_container v_b f_0">
                <div>
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star.png">
                </div>
                <div class="card_star_on_block">
                    <img class="w_15" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
                </div>
            </div>
        </div>
        <div class="p_t_5 f_14 l_h_12 break">【SR+】早乙女 彩華[ぐらぐらエクササイズ]</div>
        <div class="card_lv_container">
            <img src="https://ongeki-net.com/ongeki-mobile/img/card_lv_base.png">
            <div class="card_lv_block t_r f_0">
                <span class="v_b f_18 f_b">1</span><span class="v_b f_11">/10</span>
            </div>
            <div class="card_detail_exp_container">
                <div class="card_detail_exp_gage" style="width: 0%"></div>
            </div>
        </div>
        <div class="card_detail_param_block">
            <table class="f_11">
                <tbody>
                <tr>
                    <td>攻撃力</td>
                    <td><span class="f_18">53</span>/87</td>
                </tr>
                <tr>
                    <td>印刷可能回数</td>
                    <td><span class="f_18">1</span>枚</td>
                </tr>
                <tr>
                    <td>ver.</td>
                    <td><span class="f_14">R.E.D. PLUS</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <table class="card_skill_table white">
            <tbody>
            <tr>
                <td class="v_t f_0" rowspan="2">
                    <img class="card_skill_icon" src="https://ongeki-net.com/ongeki-mobile/img/skill_boost.png ">
                </td>
                <td class="f_11 l_h_12 skill_boost p_l_5">
                    <span class="v_m break">ボス彩華ブースト +18</span>
                </td>
            </tr>
            <tr>
                <td class="f_10 l_h_10 v_t break">
                    バトル後半で、<br>【早乙女 彩華】かつ【ATTACK】の攻撃力18％アップ
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="card_detail_other_block t_l f_12">
        <div class="p_l_5 f_13">入手方法</div>
        <div class="card_detail_other_item">ミッションポイント達成報酬</div>
    </div>
    <div class="card_detail_other_block t_l f_12">
        <div class="p_l_5 f_13">使用可能なスターチケット</div>
        <div class="card_detail_other_item ">
            <img class="col3 f_l" src="https://ongeki-net.com/ongeki-mobile/img/ticket/d11c8fd9469cc292.png">
            <div class="col3_2 f_l p_5">
                <div class="f_12 gray break">【SR+】奏坂学園</div>
                <div class="f_15 t_r black">2枚所有</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <hr class="gray_line">
</div>
