<div class="f_0">
    <a routerLink="/collection/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_icon.png"></a>
    <a routerLink="/collection/trophy/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_trophy.png"></a>
    <a routerLink="/collection/plate/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_plate.png"></a>
    <a routerLink="/collection/kaikaticket/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_item_on.png"></a>
</div>
<div class="m_t_15 f_0">
    <div class="news_tab_block t_c">
        <a routerLink="/collection/kaikaticket/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_kaikaticket.png"></a>
        <a routerLink="/collection/expUpItem/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_exp.png"></a>
        <a routerLink="/collection/intimateUpItem/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_intimate.png"></a>
        <a routerLink="/collection/starticket/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_starticket_on.png"></a>
    </div>
</div>

<hr class="gray_line m_t_0">
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_starticket.png"></div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/b869ce53a80d3e80.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】奏坂学園</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">13枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="1002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5c00b65c4dcccd38.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】奏坂学園</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">18枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="1003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/1985ef31f8763899.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SSR】奏坂学園</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">0枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="1004">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/d11c8fd9469cc292.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR+】奏坂学園</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">2枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="1013">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/56b27696ab13c7fd.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】東方Project</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">2枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="10002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/b24c8f166ee67525.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】東方Project</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="10003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/c3a29c8751265ec7.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】東方永夜抄</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="13002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/6c5f6d2f584efcc3.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】東方永夜抄</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">2枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="13003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/14a74c42459cd51d.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】東方Project　古明地姉妹編</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">0枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="17002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/29d18632810300c0.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】東方Project　古明地姉妹編</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">2枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="17003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/24d56f24dba4c305.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】バーチャル・シンガー</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="20002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/e0a1e418ffb2cc32.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】この素晴らしい世界に祝福を！2</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="22002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/0b949fe051dc6695.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】この素晴らしい世界に祝福を！2</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="22003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/d312cbad77f4d8c3.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】プリンセスコネクト！Re:Dive</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="26002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/b66788e6f397b8f1.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】プリンセスコネクト！Re:Dive</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">0枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="26003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/799a70d64f4cd0da.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】Tokyo 7th シスターズ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="28002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/3d1958299717736a.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】プロジェクト東京ドールズ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="31002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/dc4e4f1f30851eea.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】キズナアイ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">0枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="32002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/588a16b0fad51ae9.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】キズナアイ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="32003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/8b840e39e41e221b.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】転生したらスライムだった件</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="34002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/7dc851aef5fe2251.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】転生したらスライムだった件</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="34003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/bb62dea2ce14f12d.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】ゆるゆり♪♪</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">2枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="35002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/8085bcea72124eac.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】ゆるゆり♪♪</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">4枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="35003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/762c3ec3064b5fdb.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】Re:ステージ！プリズムステップ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="37003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5df00a189742e5df.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】バトルガール ハイスクール</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="38002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/6021df8dd2f88de0.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】バトルガール ハイスクール</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="38003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/3c03ce119eb8c4ab.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】ゴシックは魔法乙女</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="39002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/e6fe4e2b3ab0d4b3.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】ゴシックは魔法乙女</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">2枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="39003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/6b631c31322de394.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】蒼の彼方のフォーリズム</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="40002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/ebb69ead69732d2d.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】蒼の彼方のフォーリズム</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="40003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/4291d974e98b217b.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【R】魔法少女まどか☆マギカ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="41002">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/8b7d9b258667786a.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】魔法少女まどか☆マギカ</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">3枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="41003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/c5d16ccc50f80300.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】ノラと皇女と野良猫ハート</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="46003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/77f178e65aa90803.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】Arcaea</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">0枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="48003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/ab11eac9c7e1b9c1.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】プロジェクトセカイ カラフルステージ！ feat. 初音ミク</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="49003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/27aee05b7c112650.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】Wonderland Wars</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="50003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/12b8cff1361eac0f.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】ご注文はうさぎですか？BLOOM</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="53003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/242c5c2c70d143e6.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR】プロモーション</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="999003">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/54ff0dc59b978f67.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SSR】プロモーション</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">1枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="999004">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/ef76aad0a87b3332.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">【SR+】プロモーション</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="t_c f_15 black">
            <span class="d_ib m_3 p_5">0枚所有</span>
            <img class="basic_btn w_100 m_3 f_r"
                 src="https://ongeki-net.com/ongeki-mobile/img/btn_starticket_detail.png">
        </div>
        <form accept-charset="utf-8" action="/collection/starticketDetail/"
              method="get">
            <input name="idx" type="hidden" value="999013">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
