<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog_on.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>

<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_eventlog.png"></div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/0a25f92e2a67ad35.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/10/21 06:00 ～ 2021/11/24 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/ca8408ebfe73451e.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/10/21 06:00 ～ 2021/11/24 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/11/04 06:00 ～ 2021/11/17 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/10/21 06:00 ～ 2021/11/24 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99068">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogTech/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/dc7072effb795eb3.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/10/07 06:00 ～ 2021/10/20 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/10/07 06:00 ～ 2021/10/20 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80015">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/a6d24388fa778145.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/09/30 06:00 ～ 2021/10/20 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/09/30 06:00 ～ 2021/10/13 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/09/30 06:00 ～ 2021/10/20 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99047">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/6f7cf07cea70c463.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/09/22 06:00 ～ 2021/10/20 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/b23d112dd9f11f6a.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/09/09 06:00 ～ 2021/10/13 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/09e65afcdb6b8834.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/08/19 06:00 ～ 2021/09/21 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/09/02 06:00 ～ 2021/09/15 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/09/02 06:00 ～ 2021/09/21 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99063">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogTech/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/e6f4c1d7aabf19fd.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/08/12 06:00 ～ 2021/09/01 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/08/12 06:00 ～ 2021/09/01 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99058">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/66a7e1bf6c1d8287.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/08/05 06:00 ～ 2021/09/01 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/13989d8851134e6e.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/07/08 06:00 ～ 2021/08/04 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/07/15 06:00 ～ 2021/07/28 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/07/08 06:00 ～ 2021/08/04 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80013">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/2c9043cabf16fa1e.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/07/08 06:00 ～ 2021/08/11 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/d6f450f9f0a955fa.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/07/01 06:00 ～ 2021/08/04 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogTech/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/607ac907f2d5af34.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/06/17 06:00 ～ 2021/07/07 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/06/17 06:00 ～ 2021/07/07 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80012">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/4491a7d4142fed4c.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/06/10 06:00 ～ 2021/07/14 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/bb563a4467bbf6b6.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/05/13 06:00 ～ 2021/06/16 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/98eecabfd6709405.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/05/06 06:00 ～ 2021/06/30 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/15360bb5ee562273.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/04/28 06:00 ～ 2021/06/23 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/06/03 06:00 ～ 2021/06/16 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/04/28 06:00 ～ 2021/06/23 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80011">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogTech/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/32977924dbf8a5f6.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/04/01 06:00 ～ 2021/04/07 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/04/01 06:00 ～ 2021/04/07 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99067">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/651550f4194605e0.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/04/01 06:00 ～ 2021/04/07 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/e6f232bb89d8e551.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/04/01 06:00 ～ 2021/04/07 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/0e28b273f763b3d9.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/03/31 06:00 ～ 2021/05/05 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/04/08 06:00 ～ 2021/04/21 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/03/31 06:00 ～ 2021/05/05 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99056">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/6a7b96e28f58ee19.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/03/11 06:00 ～ 2021/03/29 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/c305156a2fb1b5ae.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/03/04 06:00 ～ 2021/03/29 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/ec587a2f87be9572.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/02/11 06:00 ～ 2021/03/29 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2021/03/11 06:00 ～ 2021/03/24 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/03/11 06:00 ～ 2021/03/29 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99048">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/464f4aa38c97c9bf.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/01/28 06:00 ～ 2021/02/24 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/076560077094454b.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2021/01/21 06:00 ～ 2021/02/17 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogTech/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/8670b9d2e2d7272c.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2021/01/07 06:00 ～ 2021/01/27 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2021/01/07 06:00 ～ 2021/01/27 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80009">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/7814e7dc045659cd.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/12/24 06:00 ～ 2021/01/20 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/15cf2c067a05a97a.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/12/17 06:00 ～ 2021/01/27 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/1aac5dcf95cc2811.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/12/10 06:00 ～ 2020/12/30 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/12/10 06:00 ～ 2020/12/23 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2020/12/10 06:00 ～ 2020/12/30 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99037">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/750f993a9fb6fe5a.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/12/03 06:00 ～ 2021/01/06 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/f7e26dd4972f52b8.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/11/19 06:00 ～ 2020/12/09 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/11/19 06:00 ～ 2020/12/02 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2020/11/19 06:00 ～ 2020/12/09 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80008">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/b0de19ccad7c7452.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/11/05 06:00 ～ 2020/12/02 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/db97e655d067089f.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/10/29 06:00 ～ 2020/11/18 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/b23db5df6940a927.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/10/22 06:00 ～ 2020/11/18 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogTech/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/79825a10dcdf05b4.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/10/01 06:00 ～ 2020/10/28 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2020/10/01 06:00 ～ 2020/10/28 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80007">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/2ccc090ae8c544eb.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/09/30 06:00 ～ 2020/11/04 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/10/15 06:00 ～ 2020/10/28 23:59
                            <div class="p_t_10 main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                            <hr class="event_line">
                            2020/09/30 06:00 ～ 2020/11/04 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99043">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/e846ab3aab80d178.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/09/30 06:00 ～ 2020/11/04 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/39122dcb95d51fd5.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/09/03 06:00 ～ 2020/09/28 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/09/17 06:00 ～ 2020/09/28 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99040">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/ff2f8d32a984aba1.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/09/03 06:00 ～ 2020/09/28 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/4262ce689287b8ee.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/08/20 06:00 ～ 2020/09/09 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/08/20 06:00 ～ 2020/09/02 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80003">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/bc7204b0b8760c65.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/08/06 06:00 ～ 2020/09/02 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/0e2cfd838a61953c.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/08/06 06:00 ～ 2020/09/02 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/d9c9c8b6572baeff.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/07/09 06:00 ～ 2020/07/29 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/07/09 06:00 ～ 2020/07/22 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80004">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/3140fdfa98eb9f6b.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/07/02 06:00 ～ 2020/08/05 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/5e28c4314bebe442.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/06/25 06:00 ～ 2020/07/22 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/f311b0a06e6dc624.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/06/11 06:00 ～ 2020/08/12 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/0b8851a5d2b4cbd3.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/06/11 06:00 ～ 2020/08/12 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/f559a3879d9df174.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/02/27 06:00 ～ 2020/04/08 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/d0d51cf4ee605e59.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2020/02/20 06:00 ～ 2020/04/08 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/028cc11dd86ce46d.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/02/20 06:00 ～ 2020/04/08 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/03/19 06:00 ～ 2020/04/01 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99032">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/a18806c183e48771.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2020/01/09 06:00 ～ 2020/02/12 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2020/01/23 06:00 ～ 2020/02/05 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99019">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/ae20f541c0e493b0.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/12/24 06:00 ～ 2020/01/22 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/5b1d6a7fd7971bc1.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/12/10 06:00 ～ 2019/12/30 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/12/10 06:00 ～ 2019/12/23 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="80001">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/60c30f8953d6808b.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/11/28 06:00 ～ 2019/12/23 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/5e8ab94bdffdb72e.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/10/31 06:00 ～ 2019/11/27 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/6728b69abfe2c081.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/10/17 06:00 ～ 2019/11/13 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/26f45d843a6f5325.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/10/03 06:00 ～ 2019/11/13 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/39af018673d04f84.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/09/19 06:00 ～ 2019/10/23 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/de2e0213a3a2d935.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/09/19 06:00 ～ 2019/10/23 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/10/03 06:00 ～ 2019/10/16 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99004">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/24d8d27ccfdf6673.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/09/12 06:00 ～ 2019/10/09 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/052627512d051879.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/08/22 06:00 ～ 2019/09/25 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/2ef4c33a5ffe16d0.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/08/22 06:00 ～ 2019/09/25 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/09/05 06:00 ～ 2019/09/18 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99022">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/5ad94aba8ea1acb2.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/07/04 06:00 ～ 2019/08/07 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/cb8bfeee87b63b88.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/07/04 06:00 ～ 2019/08/07 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/07/18 06:00 ～ 2019/07/31 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99016">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/c03d992a27aabc68.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/05/23 06:00 ～ 2019/06/26 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/06/06 06:00 ～ 2019/06/19 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99003">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/185fb1cbf7dcc56b.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/05/09 06:00 ～ 2019/06/05 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/d68a96861908574f.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/04/11 06:00 ～ 2019/05/15 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/04/25 06:00 ～ 2019/05/08 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99013">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/bf8dadeb97bf32d8.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/04/01 06:00 ～ 2019/04/10 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/0a083215b725df5e.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2019/04/01 06:00 ～ 2019/04/10 23:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/ddb4e0b14451e8c2.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/02/07 06:00 ～ 2019/03/13 23:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/02/21 06:00 ～ 2019/03/06 23:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99012">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/6248fdbc0b433c9e.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2019/01/10 06:00 ～ 2019/02/07 03:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2019/01/24 06:00 ～ 2019/02/07 03:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99009">
    </form>
</div>
<div class="basic_btn event_back gray_img m_15 f_0">
    <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/b06cad733df976de.png">
    <div class="w_300 f_l">
        <div class="f_12 t_l p_15">
            <div class="main_color f_14 f_b">開催期間</div>
            <hr class="event_line">
            2018/12/06 06:00 ～ 2019/02/07 03:59
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/250cb62c75d350ff.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2018/11/01 06:00 ～ 2018/11/29 03:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2018/11/15 06:00 ～ 2018/11/29 03:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99010">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/df381fb9ed2d0fe4.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2018/09/20 06:00 ～ 2018/10/18 03:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2018/10/04 06:00 ～ 2018/10/18 03:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99002">
    </form>
</div>
<div class="basic_btn event_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/eventlogRanking/" method="get">
        <table>
            <tbody>
            <tr>
                <td class="v_m t_c f_0"><img class="w_148 f_l"
                                             src="https://ongeki-net.com/ongeki-mobile/img/event/f044fe836288b141.png"></td>
                <td class="v_t">
                    <div class="w_300 f_l">
                        <div class="f_12 t_l p_15">
                            <div class="main_color f_14 f_b">開催期間</div>
                            <hr class="event_line">
                            2018/07/26 06:00 ～ 2018/09/06 03:59
                            <div class="p_t_10 main_color f_14 f_b">ランキングイベント開催期間</div>
                            <hr class="event_line">
                            2018/08/23 06:00 ～ 2018/09/06 03:59
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="99007">
    </form>
</div>
