<div class="f_0">
    <a routerLink="/home/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_home.png?ver=1.30.0"></a>
    <a routerLink="/home/playerDataDetail/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_playerdata.png?ver=1.30.0"></a>
    <a routerLink="/home/bpTargetMusic/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_bp_on.png?ver=1.30.0"></a>
    <a routerLink="/home/ratingTargetMusic/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_rating.png?ver=1.30.0"></a>
    <img class="bp_target_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    <img class="rating_target_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>
<div class="border_block m_10 f_0">
    <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/banner_bp_target.png">
    <div class="t_l m_10 f_12 black">
        現在のバトルポイント算出に使用されている楽曲を確認することができます。<br>
        バトルポイントの算出には、楽曲のバトルハイスコアと<br>
        OVER DAMAGEが使用されます。<br>
        バトルポイント（ベスト）とバトルポイント（OVER DAMAGE）を<br>
        合算した値があなたのバトルポイントになります。<br>
        <br>
        <div class="t_c sub_color">※オンゲキプレミアムコースで利用可能な機能となります</div>
        <div class="p_10 t_c">
            <a href="https://gw.sega.jp/gw/login/?product_name=ongeki" target="_blank">
                <img class="basic_btn h_40" src="https://ongeki-net.com/ongeki-mobile/img/btn_charge_course_regist.png">
            </a>
        </div>
    </div>
</div>
