<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter_on.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>
<div class="border_block mission_back m_15 ">
    <img class="col3 f_l" src="https://ongeki-net.com/ongeki-mobile/img/monthlymission.png">
    <div class="col3_2 f_l">
        <span class="d_ib m_5 f_13 sub_color">Mission : マンスリーミッション(2021/11月)</span>
        <hr class="event_line">
        <div class="m_5 t_c f_b">
            <div class="t_r f_14 black"><span class="f_l p_l_5 f_12 main_color">合計ミッションポイント</span>445mp</div>
        </div>
        <hr class="event_line m_t_5">
        <div class="t_r m_5 m_b_0"><span class="f_11">更新日時：2021/11/28 23:51</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="m_10 f_14">開催期間：2021/10/21 06:00～2021/12/01 23:59</div>
<div class="f_0">
    <div class="news_tab_block t_c">
        <a routerLink="/record/missionDetail/?idx=5001"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_reward.png"></a>
        <a routerLink="/record/missionCardBonus/?idx=5001"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_cardbonus_on.png"></a>
    </div>
</div>
<hr class="gray_line m_t_0">
<img class="title m_5" src="https://ongeki-net.com/ongeki-mobile/img/title_event_card_bonus.png">
<div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/ff473a6f76b0fc57.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_srp.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/484d37c3eb6c2279.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋14pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/2ac675cfb5e23a47.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/a541a1970b92322e.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/55ecd7f27f612bee.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/14dffbf5bc8f8610.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/98263528e32b5920.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_srp.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/bbb0584b2e5163fb.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋14pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/dcbaf06c2fbc0d7d.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_r.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/a3a2f87a38e62d7a.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋2pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_r.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/a419143618cc453b.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋2pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/bf58a1c2d765794a.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/36c3743e519aa835.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/20073552f5bffea3.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_r.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/042457375c88df23.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋2pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/84136e9549d0baef.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/e868c497e1e5f24a.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_r.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/fbf0d7c34b8b1772.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋2pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/a09f208452eb0c3e.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/4eaa2d6a01e1c0f4.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/75817ec5449501ba.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/24145b9dde860214.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/d5a08c8d2c040820.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/35a892a4e204d630.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/f81ce26910b6bd47.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋10pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/a7fba4ac59d27495.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/8221d4579281ee89.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/972225988cb2972b.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/71affee79dffd522.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">ボーナス＋6pt</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
</div>
<hr class="gray_line">
<form accept-charset="utf-8" action="/record/missionCardBonus/pages/" class="v_m f_0"
      id="page" method="get">
    <button class="m_5" name="type" type="submit" value="first"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_first.png"></button>
    <button class="m_5" name="type" type="submit" value="prev"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_prev.png"></button>
    <div class="d_ib m_5 v_t"><input class="pager" id="pIdx" name="pIdx" type="text" value="1"><span
            class="f_15">/3</span></div>
    <button class="m_5" name="type" type="submit" value="next"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_next.png"></button>
    <button class="m_5" name="type" type="submit" value="last"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_last.png"></button>
    <input name="idx" type="hidden" value="5001">
</form>
