<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_music.png"></div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_category.png?ver=1.30.0"></a>
        <a routerLink="/record/musicMybest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_mybest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLatest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_latest_on.png?ver=1.30.0"></a>
        <a routerLink="/record/musicTechCount/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_techcount.png?ver=1.30.0"></a>
        <a routerLink="/record/musicScoreGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_scoredata.png?ver=1.30.0"></a>
        <img class="record_scoredata_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    </div>
    <div class="tab_container p_15 t_l f_15 ">
        <div class="basic_btn lunatic_score_back m_10 p_10 black">
            <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
                No Limit RED Force
                <input name="idx" type="hidden"
                       value="nzUYMRO60ql80lDXyWP77X0peoiYMgsZMK/ZWPIE0CfaOG+XijBYqVitNcgcrLTqxqv/G0djf3lSQHfcLWSViw==">
            </form>
        </div>
        <div class="basic_btn m_10 p_10 black">
            <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
                TEmPTaTiON
                <input name="idx" type="hidden"
                       value="2KReo9hCcNKdXVL/Cwa/9Rde3BVni83HyhJjXQ63+NjtAgRidArw2xI37j/KIcPPAxKvF5ORiAXjSpKCvBOPFA==">
            </form>
        </div>
        <div class="basic_btn m_10 p_10 black">
            <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
                QZKago Requiem
                <input name="idx" type="hidden"
                       value="h7ND5jTtWmujLq4ZlWFzVjM7Wl6yRgyBGdSgoDngOCt4UHvIRG1xj7Z5ZOTuiEuRg4S/Btc1qSlniBuE94wZjg==">
            </form>
        </div>
        <div class="basic_btn m_10 p_10 black">
            <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
                Xevel
                <input name="idx" type="hidden"
                       value="xPaxS8DNEDD4esOXnsfsxBA3DhtaE7S+glDaN0p+o3dTSLSJNQizFzxDY4L1d6npdYbVNRCzNfsmq1B9JqOzkw==">
            </form>
        </div>
        <div class="basic_btn m_10 p_10 black">
            <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
                四月の雨
                <input name="idx" type="hidden"
                       value="pjBRihFcbaro8e00vQbUXiNeRqnNgPctoj0p8ED2a7s6azW6sdEBUhXYqYXbOxH8SvPcqxVjDDZwdSuIBfUx2A==">
            </form>
        </div>
    </div>
</div>
