<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_character_detail.png"></div>
<div class="container3 character_container">
    <hr class="gray_line">
    <div class="character_img_container">
        <img src="https://ongeki-net.com/ongeki-mobile/img/chara/3b785622706742b1.png">
    </div>
    <div class="character_data_container">
        <div class="character_name_block">
            <div class="character_friendly_container f_l">
                <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                     style="clip: rect(33px 94px 86px 0px)">
                <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_20.png">
                <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_1.png">
                <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/rebirth.png">
                <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/rebirth_num_1.png">
            </div>
            <div class="f_l f_b">
                <div class="m_15 f_20">
                    星咲 あかり
                </div>
                <hr class="w_302">
                <div class="f_13 sub_color">CV：赤尾 ひかる</div>
            </div>
            <div class="clearfix f_11 t_r m_5">
                学年： 高校2年生<br>誕生日：7月26日／星座：しし座／血液型：O型／身長：157cm
            </div>
            <div class="border_block back_gray_border m_10">
                <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/chara_favorite.png">
                <span class="f_13">ナビボイス設定中</span>
            </div>
            <div class="basic_btn back_yellow_border m_10">
                <form accept-charset="utf-8" action="/character/characterDetail/favoriteOn/"
                      method="post">
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/chara_favorite.png">
                    <span class="f_13">ナビボイスに設定する！</span>
                    <input name="idx" type="hidden" value="1001">
                    <input name="vIdx" type="hidden" value="0">
                    <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                </form>
            </div>
            <hr class="gray_line">
            <div class="t_c p_t_10 f_15 black">コスチュームを変更する</div>
            <div class="t_l m_10 m_t_0 p_5 f_0">
                <div class="border_block back_gray_border w_112 d_ib m_5 t_c v_t">
                    <img class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/costume/7cdec9e00257b565.png">
                    <div class="character_costume_setting_label">設定中</div>
                </div>
            </div>
            <hr class="gray_line">
            <div class="t_c p_t_10 f_15 black">アタッチメントを変更する</div>
            <div class="t_l m_10 m_t_0 p_5 f_0">
                <div class="border_block back_gray_border w_112 d_ib m_5 t_c v_t">
                    <img class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/attachment/2c214b4133db405b.png">
                    <div class="character_attachment_setting_label">設定中</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container2 p_15 t_l">
            <img src="https://ongeki-net.com/ongeki-mobile/img/title_profile.png">
            <div class="white_block p_10 f_11">
                <dl>
                    <dt class="character_data_label f_l">よく聴く音楽</dt>
                    <dd class="character_data black break">
                        ポップス<br>
                        <span class="gray">「この曲を聴くと元気になれるんだー！ねぇ、一緒に聴こうよ！ほらほら！」</span>
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">好きなもの</dt>
                    <dd class="character_data black break">
                        歌うこと<br>
                        <span class="gray">「ふんふんふ～ん♪……わぁっ！もう、驚かさないでよー！」</span>
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">苦手なもの</dt>
                    <dd class="character_data black break">
                        料理/ババ抜き<br>
                        <span class="gray">「私ってすぐ顔に出ちゃうらしくて、ババ抜きは全然勝てないんだー。てへへ。」</span>
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">趣味</dt>
                    <dd class="character_data black break">
                        食べ歩き<br>
                        <span class="gray">「ねーねー！帰りに、新しくできたクレープ屋さんに寄って行こうよ！クリームが絶品って噂なんだ♪」</span>
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">特技</dt>
                    <dd class="character_data black break">
                        親密度Lv.140で解放！
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">日課</dt>
                    <dd class="character_data black break">
                        親密度Lv.??で解放！
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">休日の過ごし方</dt>
                    <dd class="character_data black break">
                        親密度Lv.??で解放！
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">気分転換の方法</dt>
                    <dd class="character_data black break">
                        親密度Lv.??で解放！
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">好きな言葉</dt>
                    <dd class="character_data black break">
                        親密度Lv.??で解放！
                    </dd>
                </dl>
                <dl>
                    <dt class="character_data_label f_l">大切なもの</dt>
                    <dd class="character_data black break">
                        親密度Lv.??で解放！
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <hr class="gray_line">
</div>
<div class="t_c">
    <button class="f_0" onclick="location.href='/character/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
