<header class="f_0">
    <img class="line_top" src="https://ongeki-net.com/ongeki-mobile/img/line_01.png">
    <div>
        <a class="d_ib col4 p_4" routerLink="/home/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_home_on.png"></a>
        <a class="d_ib col4 p_4" routerLink="/record/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_record.png"></a>
        <a class="d_ib col4 p_4" routerLink="/event/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_event.png"></a>
        <a class="d_ib col4 p_4" routerLink="/collection/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_collection.png"></a>
    </div>
    <div>
        <a class="d_ib col4 p_4" routerLink="/character/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_character.png"></a>
        <a class="d_ib col4 p_4" routerLink="/card/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_card.png"></a>
        <a class="d_ib col4 p_4" routerLink="/friend/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_friend.png"></a>
        <a class="d_ib col4 p_4" routerLink="/ranking/"><img
                class="w_112" src="https://ongeki-net.com/ongeki-mobile/img/menu_ranking.png"></a>
    </div>
    <img class="line_bottom" src="https://ongeki-net.com/ongeki-mobile/img/line_02.png">
</header>
<router-outlet></router-outlet>
