<div class="f_0">
    <a routerLink="/collection/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_icon.png"></a>
    <a routerLink="/collection/trophy/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_trophy.png"></a>
    <a routerLink="/collection/plate/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_plate_on.png"></a>
    <a routerLink="/collection/kaikaticket/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_item.png"></a>
</div>
<div class="container2 p_15">
    <img src="https://ongeki-net.com/ongeki-mobile/img/title_plate_set.png">
    <div class="white_block p_10">
        <div class="f_14">Arcaea</div>
        <hr class="gray_line">
        <img class="w_248" src="https://ongeki-net.com/ongeki-mobile/img/plate/670a857be2365f68.png">
    </div>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_plate.png"></div>
<div class="container p_15 t_l f_0">
    <div class="white_block p_10">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">オンゲキ</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/fdbfa6c74e26bb6d.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="1">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">♥星咲 あかり♥</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/bd7e5302c25d0678.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="10001">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">光吉 猛修／謎</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/619950f1bbfc3bb8.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50006">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">松丸 亮吾／謎</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/3d26b5caf9c5f2dd.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50007">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">☆あかねさまのおんげきせいふく☆</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/81713b6e92bdee8b.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50008">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">バーチャル・シンガー</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/70c10a51c96c07b2.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50011">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">東方Project 古明地姉妹編</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/8f850cded5709638.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50038">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">ゆるゆり♪♪</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/132229be25b968de.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50042">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">ゆるゆり♪♪②</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/b63f271b55140092.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50043">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">すずしまさんちの夜ごはん</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/e09251853229000d.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50046">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">すずしまさんちの夜ごはん②</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/e736aa812d07da45.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50047">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">魔法少女まどか☆マギカ</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/25329f71fc630cd6.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50048">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">CUE!</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/3dba8dc3de037244.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50057">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">Arcaea</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/670a857be2365f68.png"></td>
                <td>
                    <img class="set_btn gray_img" src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png">
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">Arcaea②</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/1673ba1f8afec2b7.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50059">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">セガNET麻雀 MJ</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/7773a8fe5a67c611.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50091">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">セガNET麻雀 MJ ②</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/76849574ee410bff.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="50092">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">ASTERISM</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/a25e47a6239b8feb.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="90001">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
        <table class="t_c">
            <tbody>
            <tr>
                <td>
                    <div class="f_12 gray">ハジけて THE サマーバケーション</div>
                </td>
                <td class="w_127"></td>
            </tr>
            <tr>
                <td><img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/plate/df02e736e6a39773.png"></td>
                <td>
                    <form accept-charset="utf-8" action="/collection/plate/set/"
                          method="post">
                        <input name="idx" type="hidden" value="90012">
                        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                        <button type="submit"><img class="set_btn"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_set.png"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="gray_line">
    </div>
</div>
