<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_setting.png"></div>
<div class="container2 p_15">
    <div class="f_b">コメント編集</div>
    <form accept-charset="utf-8" action="/home/userOption/updateUserComment/update/"
          method="post">
		<textarea maxlength="150" name="comment" rows="5">オンゲキ初心者
よろしくお願いします
Twitter @dummy_user</textarea>
        <div class="m_10 f_13 t_r">残りあと<span id="counter" style="color: rgb(116, 116, 116);">65</span>文字</div>
        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
        <button class="f_0" type="submit"><img class="basic_btn h_45 m_15"
                                               src="https://ongeki-net.com/ongeki-mobile/img/btn_change.png"></button>
    </form>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/userOption/';" type="button">
        <img src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
