<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_music.png"></div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_category.png?ver=1.30.0"></a>
        <a routerLink="/record/musicMybest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_mybest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLatest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_latest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicTechCount/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_techcount_on.png?ver=1.30.0"></a>
        <a routerLink="/record/musicScoreGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_scoredata.png?ver=1.30.0"></a>
        <img class="record_scoredata_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    </div>
    <div class="tab_container p_15 t_l f_15 ">
        <div class="t_c f_13">※2019/8/22以降のプレイ結果が集計の対象となります。</div>
        <div class="techcount_container">
            <img class="techcount_top_line" src="https://ongeki-net.com/ongeki-mobile/img/back_techcount_top.png">
            <table class="music_detail_table m_auto t_c collapse black">
                <tbody>
                <tr>
                    <td></td>
                    <td class="w_148 f_0 p_3">
                        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_ab.png?ver=1.30.0"><br>
                        <span class="f_13 l_h_10">(481回)</span>
                    </td>
                    <td class="w_148 f_0 p_5">
                        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_abplus.png?ver=1.30.0"><br>
                        <span class="f_13 l_h_10">(60回)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">0</div>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">1</div>
                        </div>
                    </td>
                    <td>7</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">2</div>
                        </div>
                    </td>
                    <td>32</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">3</div>
                        </div>
                    </td>
                    <td>21</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">4</div>
                        </div>
                    </td>
                    <td>7</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">5</div>
                        </div>
                    </td>
                    <td>24</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">6</div>
                        </div>
                    </td>
                    <td>28</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">7</div>
                        </div>
                    </td>
                    <td>10</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">7+</div>
                        </div>
                    </td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">8</div>
                        </div>
                    </td>
                    <td>29</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">8+</div>
                        </div>
                    </td>
                    <td>17</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">9</div>
                        </div>
                    </td>
                    <td>52</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">9+</div>
                        </div>
                    </td>
                    <td>24</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">10</div>
                        </div>
                    </td>
                    <td>21</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">10+</div>
                        </div>
                    </td>
                    <td>11</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">11</div>
                        </div>
                    </td>
                    <td>37</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">11+</div>
                        </div>
                    </td>
                    <td>25</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">12</div>
                        </div>
                    </td>
                    <td>74</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">12+</div>
                        </div>
                    </td>
                    <td>31</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">13</div>
                        </div>
                    </td>
                    <td>28</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">13+</div>
                        </div>
                    </td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">14</div>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">14+</div>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <div class="score_level_base_detail w_50 l_h_12">
                            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                            <div class="score_level t_c">15</div>
                        </div>
                    </td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
            <img class="techcount_bottom_line" src="https://ongeki-net.com/ongeki-mobile/img/back_techcount_bottom.png">
        </div>
    </div>
</div>
