<div class="f_0">
    <a routerLink="/event/eventChapterDetail/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_chapter.png?ver=1.30.0"></a>
    <a routerLink="/event/reward/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_reward_on.png?ver=1.30.0"></a>
    <a routerLink="/event/cardBonus/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_card.png?ver=1.30.0"></a>
    <img class="gray_img" src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_ranking.png">
    <a routerLink="/event/techChallenge/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_techchallenge.png"></a>
</div>
<div class="border_block event_back m_15 ">
    <img class="col3 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/1dcfb6c6683be7af.png">
    <div class="col3_2 f_l">
        <span class="d_ib m_5 f_13 sub_color">ぶらり湯けむり温泉郷</span>
        <hr class="event_line">
        <div class="col2 f_l m_t_5 t_c f_b">
            <span class="p_l_5 f_12 main_color">累計獲得ジュエル</span>
            <hr class="gray_line m_t_0 m_b_0">
            <div class="t_r f_14 black">0JP</div>
        </div>
        <div class="col2 f_l m_t_5 t_c f_b">
            <span class="p_l_5 f_12 main_color">所持ジュエル</span>
            <hr class="gray_line m_t_0 m_b_0">
            <div class="t_r p_r_5 f_14 black">
                0JP
            </div>
        </div>
        <div class="clearfix"></div>
        <hr class="event_line m_t_5">
        <div class="t_r m_5 m_b_0"><span class="f_11">更新日時：2021/11/29 09:33</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<img class="event_title" src="https://ongeki-net.com/ongeki-mobile/img/title_event_point_bonus.png">
<div class="event_container p_5 t_l f_15">
    <div class="m_t_5 p_5 f_12 l_h_12 break">※以下の報酬に加えて一定のジュエルポイントに達すると、マニーなどを獲得できます。</div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            25JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/b869ce53a80d3e80.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【R】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            50JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/7d11554266f20c6d.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">解花チケット
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            120JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            240JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5c00b65c4dcccd38.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            360JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】三角 葵[湯けむり温泉旅情]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            500JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/1b66bc3a1e50c995.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">【ALL】強化アイテム（中）
                        <div class="t_r f_15 sub_color f_b">×3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            750JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/7cc858d2021c8039.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">親密度上昇プレゼント（中）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,000JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】三角 葵[湯けむり温泉旅情]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,100JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/7cc858d2021c8039.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">親密度上昇プレゼント（中）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,200JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">【ALL】強化アイテム（大）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,300JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】三角 葵[湯けむり温泉旅情]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,400JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">親密度上昇プレゼント（大）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,500JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/attachment/0ab1f0d9b03850a0.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">湯桶</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,600JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">【ALL】強化アイテム（大）
                        <div class="t_r f_15 sub_color f_b">×2</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            1,800JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】三角 葵[湯けむり温泉旅情]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            2,000JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">親密度上昇プレゼント（大）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            2,200JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">【ALL】強化アイテム（大）
                        <div class="t_r f_15 sub_color f_b">×3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            2,500JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】三角 葵[湯けむり温泉旅情]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            2,900JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            3,400JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/1985ef31f8763899.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SSR】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            4,000JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">親密度上昇プレゼント（大）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            4,700JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/plate/5987cb155d3ae4df.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">プレート</div>
                        ぶらり湯けむり温泉郷
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            5,500JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">親密度上昇プレゼント（大）
                        <div class="t_r f_15 sub_color f_b">×2</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">
            6,500JP
        </div>
        <hr class="event_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Platinum.png">
                    <div class="f_14 black f_b">風呂上がりはぶどうジュースに限る</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/event/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back_event.png"></button>
</div>
