<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_mission.png?ver=1.30.0"></div>
<div class="basic_btn mission_back m_15 f_0">
    <form accept-charset="utf-8" action="/record/missionDetail/" method="get">
        <img class="w_148 f_l" src="https://ongeki-net.com/ongeki-mobile/img/monthlymission.png">
        <div class="w_300 f_l">
            <div class="f_12 t_l p_15">
                <div class="main_color f_14 f_b">開催期間</div>
                <hr class="event_line">
                2021/10/21 06:00 ～ 2021/12/01 23:59
            </div>
        </div>
        <div class="clearfix"></div>
        <input name="idx" type="hidden" value="5001">
    </form>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="history.back();" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
