<div class="f_0">
    <a routerLink="/ranking/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_ranking_music.png"></a>
    <a routerLink="/ranking/battlePoint/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_ranking_bp.png"></a>
    <a routerLink="/ranking/rating/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_ranking_rating.png"></a>
    <a routerLink="/ranking/totalHiscore/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_ranking_th.png"></a>
    <a routerLink="/ranking/totalPoint/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_ranking_tp_on.png"></a>
    <a routerLink="/ranking/intimate/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_ranking_intimate.png"></a>
</div>

<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_tpranking.png"></div>
<div class="f_0">
    <div class="container p_15">
        <form accept-charset="utf-8" action="/ranking/totalPoint/" method="get">
            <select class="m_15" name="rankingType">
                <option selected="" value="99">全国ランキング</option>
                <option value="1">県別ランキング</option>
                <option value="2">店舗別ランキング</option>
                <option value="3">フレンドランキング</option>
            </select>
        </form>
        <div class="t_l f_12 l_h_12">
            ※ランキングは1日1回更新されます（フレンドランキングは即時更新です）<br>
            ※県別・店舗別ランキングは、あなたが最後にプレイした場所のランキングが表示されます
        </div>
    </div>
</div>
<div class="ranking_user_block">
    <table class="t_c">
        <tbody>
        <tr>
            <td rowspan="2">
                <div class="ranking_icon_block f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
                </div>
            </td>
            <td class="w_350 h_35 f_12 l_h_12">あなたの総獲得マニー</td>
            <td class="w_35"></td>
        </tr>
        <tr>
            <td class="gray_line f_b">677,667</td>
            <td></td>
        </tr>
        <tr>
            <td class="f_11 gray" colspan="3">上記は現在の総獲得マニーの為、ランキング集計時とは異なる場合があります</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="ranking_block">
    <table class="ranking_inner_table f_14">
        <tbody>
        <tr>
            <td colspan="5">
                <div class="ranking_title_block">
                    <div class="m_5 f_15 ranking_kind_name">総獲得マニー</div>
                    <div class="m_5 f_20 ranking_type_name f_b">― 全国ランキング ―</div>
                    <div class="ranking_date_block f_12 l_h_12">ランキング更新日時：2021/11/29 04:00</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_40" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_first.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＵｋｉＫｕｍａ</td>
            <td class="t_r f_18 f_b">63,968,140</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_35" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_second.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">☆ＲｉＲｉ＊ββ</td>
            <td class="t_r f_18 f_b">54,165,100</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_35" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_third.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">☆ＴＩＡ</td>
            <td class="t_r f_18 f_b">42,308,982</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＦＨＫ５８</td>
            <td class="t_r f_18 f_b">41,728,745</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＴＯＲＩ＠ＮｉＣ</td>
            <td class="t_r f_18 f_b">39,834,682</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＬＡ２ＮＡＰ１Ｓ</td>
            <td class="t_r f_18 f_b">39,525,577</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＭａＭａ</td>
            <td class="t_r f_18 f_b">37,617,349</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｒｉｓｕ</td>
            <td class="t_r f_18 f_b">37,116,932</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｓ．Ｊｏｙ</td>
            <td class="t_r f_18 f_b">31,816,516</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△△△△ＭＡＮ</td>
            <td class="t_r f_18 f_b">31,767,477</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△ＵＮＯ＊Ｌｕａ</td>
            <td class="t_r f_18 f_b">31,537,446</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｄ．Ｋ</td>
            <td class="t_r f_18 f_b">30,940,181</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△３Ｇ</td>
            <td class="t_r f_18 f_b">30,564,778</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">７Ｎａ．Ｄ</td>
            <td class="t_r f_18 f_b">29,894,735</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＳＹＬＶＩＡＳ☆</td>
            <td class="t_r f_18 f_b">29,347,600</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＬＯＥ＊Ｍ</td>
            <td class="t_r f_18 f_b">28,453,292</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＢＥＲＵ</td>
            <td class="t_r f_18 f_b">28,170,023</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｔｅａｒ</td>
            <td class="t_r f_18 f_b">27,935,832</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＫＲＢＹ</td>
            <td class="t_r f_18 f_b">27,398,846</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＫＥＩ☆☆☆</td>
            <td class="t_r f_18 f_b">27,325,444</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ａｓｕＭｏＭＳＰ</td>
            <td class="t_r f_18 f_b">27,114,199</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">．</td>
            <td class="t_r f_18 f_b">27,054,880</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△ＪＡＣＫＥＹ</td>
            <td class="t_r f_18 f_b">26,543,216</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">☆ＴＢＣ＊Ｌｕａ</td>
            <td class="t_r f_18 f_b">26,325,345</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｍ○ＳＳＡＮ</td>
            <td class="t_r f_18 f_b">26,232,071</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＫＵＴＳＵＰＡＮ</td>
            <td class="t_r f_18 f_b">26,062,912</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｃ☆Ｍ．Ｋ！ＺΣ</td>
            <td class="t_r f_18 f_b">24,594,934</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＤＲ．Ｆ</td>
            <td class="t_r f_18 f_b">24,547,442</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｃ＊Ｌｕａ</td>
            <td class="t_r f_18 f_b">24,271,028</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＦｒｅｎｓＲＩＮ</td>
            <td class="t_r f_18 f_b">24,111,541</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｈ．Ｋｏｙｏｒｉ</td>
            <td class="t_r f_18 f_b">24,000,897</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＹｕγｕＣαｎ△</td>
            <td class="t_r f_18 f_b">23,860,021</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｃｏｃｏａ☆ＺＫ</td>
            <td class="t_r f_18 f_b">23,847,110</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">８６７Ｄａｙｓ</td>
            <td class="t_r f_18 f_b">23,813,858</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△Ａｋｉ＊Ｌｕａ</td>
            <td class="t_r f_18 f_b">23,775,605</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＣＴ</td>
            <td class="t_r f_18 f_b">22,668,310</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｙφｓｈ☆Ｊｏｙ</td>
            <td class="t_r f_18 f_b">21,612,152</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">４ＳＴ４１ＷｉＭ</td>
            <td class="t_r f_18 f_b">21,560,594</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＥＭＡＮ</td>
            <td class="t_r f_18 f_b">21,430,737</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">８９０３ｈｓｈｓ</td>
            <td class="t_r f_18 f_b">21,336,724</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｓ－ｋａｙａ＊</td>
            <td class="t_r f_18 f_b">21,190,517</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＫＵＭＡ＝ω＝</td>
            <td class="t_r f_18 f_b">20,847,030</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">４ＲＵ</td>
            <td class="t_r f_18 f_b">20,829,885</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＮＥＷ９ＲＯＷ</td>
            <td class="t_r f_18 f_b">20,790,254</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｔｅｎｃｈｏ</td>
            <td class="t_r f_18 f_b">20,458,284</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｋｏｍａ</td>
            <td class="t_r f_18 f_b">20,419,494</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｋ－ＦＩＳＨＥＲ</td>
            <td class="t_r f_18 f_b">20,301,890</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＫＡＭＥ</td>
            <td class="t_r f_18 f_b">19,572,200</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｓｏ４＊Ｌｕａ</td>
            <td class="t_r f_18 f_b">19,527,004</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＭＡＩＫＹ</td>
            <td class="t_r f_18 f_b">19,243,168</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＳＴ．ＱＺ</td>
            <td class="t_r f_18 f_b">18,909,137</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">２５６＊ｒｉｃｏ</td>
            <td class="t_r f_18 f_b">18,892,875</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△ＢＣ</td>
            <td class="t_r f_18 f_b">18,665,792</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＣＨＡＭＰＩＯＮ</td>
            <td class="t_r f_18 f_b">18,445,625</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｒａｇｎａ◇ＤＳ</td>
            <td class="t_r f_18 f_b">18,258,546</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＴＳＵＢＡＫＩ．</td>
            <td class="t_r f_18 f_b">18,254,213</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｐｏｐｏ☆ＧｉＬ</td>
            <td class="t_r f_18 f_b">18,238,437</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｋｕｒｏｍｅ</td>
            <td class="t_r f_18 f_b">17,754,541</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">．</td>
            <td class="t_r f_18 f_b">17,573,102</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＫＮ・：＊☆</td>
            <td class="t_r f_18 f_b">17,492,393</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＧｅＰｏＮ</td>
            <td class="t_r f_18 f_b">17,412,015</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｋ</td>
            <td class="t_r f_18 f_b">17,400,364</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＦＥＳ◇Ｙｕｅ</td>
            <td class="t_r f_18 f_b">17,221,550</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＭＥＬＡＮ</td>
            <td class="t_r f_18 f_b">17,178,938</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＯＨＩＹＡ</td>
            <td class="t_r f_18 f_b">17,155,122</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△ＲｉＳＰＥＡＬ</td>
            <td class="t_r f_18 f_b">17,141,301</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｔ－ｐｏｔ</td>
            <td class="t_r f_18 f_b">16,931,075</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＯＤＥＮｉＣ☆Ｍ</td>
            <td class="t_r f_18 f_b">16,918,811</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｆｕｃｃｏ</td>
            <td class="t_r f_18 f_b">16,810,930</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｈｉｎｏｋｅｎ</td>
            <td class="t_r f_18 f_b">16,783,017</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＳＱＵＥＥＺＥ</td>
            <td class="t_r f_18 f_b">16,691,585</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｕｓａｎａｂｅ☆</td>
            <td class="t_r f_18 f_b">16,484,081</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">７－ｚｒ♪Ｇｉα</td>
            <td class="t_r f_18 f_b">16,452,082</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｍ＠†Ｓψ</td>
            <td class="t_r f_18 f_b">16,442,316</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ａｃｃｏｒｄ．</td>
            <td class="t_r f_18 f_b">16,362,095</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｓｗｉｎｅ</td>
            <td class="t_r f_18 f_b">16,259,219</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｒ</td>
            <td class="t_r f_18 f_b">16,230,309</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＣＨＯＣＯＬＡＴ</td>
            <td class="t_r f_18 f_b">16,167,513</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">△ＡＯｉ</td>
            <td class="t_r f_18 f_b">16,155,514</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＬＵＮＡ</td>
            <td class="t_r f_18 f_b">15,976,633</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＰＯＰＯ！？</td>
            <td class="t_r f_18 f_b">15,877,055</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＵｉｈｒＫｚｒｉ</td>
            <td class="t_r f_18 f_b">15,638,090</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＭＡＭＩＳＡＮ！</td>
            <td class="t_r f_18 f_b">15,513,813</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＫＵ－ＫＵ</td>
            <td class="t_r f_18 f_b">15,401,136</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｍ．Ｋ．Ｇ．</td>
            <td class="t_r f_18 f_b">15,385,002</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｓｅｆ♪ｄａｃ</td>
            <td class="t_r f_18 f_b">15,282,006</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ａｙａ＊ｌｉａ♪</td>
            <td class="t_r f_18 f_b">15,215,966</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＩＲＯＩＲＯ</td>
            <td class="t_r f_18 f_b">15,156,875</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｍｅｒｍ４ｉｄ</td>
            <td class="t_r f_18 f_b">15,115,091</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｓｈｏｃｈａｎ＊</td>
            <td class="t_r f_18 f_b">15,051,116</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＦＵＫＡＫＥＮ</td>
            <td class="t_r f_18 f_b">15,048,410</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_2.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">＃ＲＵＮ</td>
            <td class="t_r f_18 f_b">15,031,763</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_3.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｓｙａｍｉｃｈｉ</td>
            <td class="t_r f_18 f_b">14,960,446</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_4.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">Ｔ．Ｅ</td>
            <td class="t_r f_18 f_b">14,900,639</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_5.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">γｕｎё＊Ｌｕａ</td>
            <td class="t_r f_18 f_b">14,730,094</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_6.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＡＭＡＳＡ</td>
            <td class="t_r f_18 f_b">14,712,858</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_7.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＯＴＡＫＵ</td>
            <td class="t_r f_18 f_b">14,617,113</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_8.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ｂｅｌｌ</td>
            <td class="t_r f_18 f_b">14,611,158</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_9.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＮＯＩＲＥ</td>
            <td class="t_r f_18 f_b">14,461,505</td>
        </tr>
        <tr>
            <td class="t_r f_0">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_1.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank_num_0.png">
                <img class="h_17" src="https://ongeki-net.com/ongeki-mobile/img/ranking/rank.png">
            </td>
            <td class="f_0"></td>
            <td class="t_l">ＮＡＲＤＹ</td>
            <td class="t_r f_18 f_b">14,410,799</td>
        </tr>
        <tr>
            <td class="f_12 l_h_12 " colspan="5">
                <div class="m_5">ランキング更新日時：2021/11/29 04:00</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
