<div class="f_0">
    <a routerLink="/card/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_book.png"></a>
    <a routerLink="/card/cardList/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_list.png"></a>
    <a routerLink="/card/deck/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_deck_on.png"></a>
    <a routerLink="/card/cardmaker/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_maker.png"></a>
    <a routerLink="/card/training/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_training.png"></a>
    <img class="card_training_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>

<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_deck.png"></div>
<div class="beck_title_container" id="deck_1">
    <div class="deck_title_block col3 f_l">
        <div class="deck_title_green f_13 f_b">デッキ1</div>
    </div>
    <div class="col3_2 f_l t_r">
        <form accept-charset="utf-8" action="/card/deckPositionChange/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="1">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_position.png"></button>
        </form>
        <form accept-charset="utf-8" action="/card/deckAutoSet/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="1">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_auto.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="deck_card_container back_green m_15 p_3">
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="y4ED+fj2QHTk+8OB4htHl4Cuy5o/79unpZdxiQJESnyd7+c4Lu4gfP/Bt45/14/2qiC77hgfYcUvKK7SyOqCNg==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.35</span>　攻撃力<span
                            class="sub_color">207</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/b9ddbc120b4ed32c.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="1">
                <input name="pos" type="hidden" value="2">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="MDx82F66pm9UKQe77qWEXX6KqYCW/Xo/c1gEt5b1o5Gjptz8YCPhaZRrr+bLwvZY7n5ZiUKYFIsSIqg8YvOAVQ==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">287</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/05c34b21133b7cfb.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="1">
                <input name="pos" type="hidden" value="1">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="pPDL2Snrv57cUBA8w/cIR/JKwzakXHX/rCAp9F2ZWcfTBtO03rq1lvwJw6Ugm/5EbXpBo1D7n8Ozph8G7iCgiw==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.53</span>　攻撃力<span
                            class="sub_color">236</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/c5cf4b827e53e5cd.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="1">
                <input name="pos" type="hidden" value="3">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="t_r p_r_5 p_b_0 f_12 gray">攻撃力合計：730</div>
</div>
<div class="beck_title_container" id="deck_2">
    <div class="deck_title_block col3 f_l">
        <div class="deck_title_green f_13 f_b">デッキ2</div>
    </div>
    <div class="col3_2 f_l t_r">
        <form accept-charset="utf-8" action="/card/deckPositionChange/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="2">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_position.png"></button>
        </form>
        <form accept-charset="utf-8" action="/card/deckAutoSet/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="2">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_auto.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="deck_card_container back_green m_15 p_3">
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="3xDfJAa/LGYsIaF0btIfZ4Ops3ri6gymOPWCkAUGTy1T8IZROXHobhjcjCptx/Ir/uu8Y/usDqfkIT9TWOS+XA==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.60</span>　攻撃力<span
                            class="sub_color">300</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/8d83ed89137f835c.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="2">
                <input name="pos" type="hidden" value="2">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_srp.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="3lkBhuNg4cbejBhC8BxZ80lCL/JjWdEW+KtWf0o9Z1ttFcFvnvZOoNLT9Tka8z6wvd7Bn70O/KrF/I2zBfHGPw==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">300</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/0b0598a66bc49d8e.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="2">
                <input name="pos" type="hidden" value="1">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="3672g+qOx1whZs+TtmHfPUI6goIksECxIT4kFDucHIQgDxHE2EWdFuBAzr+l585wBcbHjgZRgY6WZUABruJCdA==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">327</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/97d627cc99315b81.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="2">
                <input name="pos" type="hidden" value="3">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="t_r p_r_5 p_b_0 f_12 gray">攻撃力合計：927</div>
</div>
<div class="beck_title_container" id="deck_3">
    <div class="deck_title_block col3 f_l">
        <div class="deck_title_green f_13 f_b">デッキ3</div>
    </div>
    <div class="col3_2 f_l t_r">
        <form accept-charset="utf-8" action="/card/deckPositionChange/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="3">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_position.png"></button>
        </form>
        <form accept-charset="utf-8" action="/card/deckAutoSet/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="3">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_auto.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="deck_card_container back_green m_15 p_3">
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="z4gs6mhv88oqc8tRWCF2BXMjiWOaKsbPdEDlGcNsp2S0l+3dLDY4jEPX2cF1utvUsI4JU0KRHKd+kWAkujSz8Q==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">322</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/bf4ddffb888d89c9.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="3">
                <input name="pos" type="hidden" value="2">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="rkXSqUbq9heuFK9egTNoSTkCS4jyl/S+qFwVFRrDoo4a69mbdGKWSYHCmhoU3rhfQqUbUFTBVqUURPc+0fPgsg==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.60</span>　攻撃力<span
                            class="sub_color">300</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/451c682df0f3a518.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="3">
                <input name="pos" type="hidden" value="1">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="FT66Zb0TjUe4c5tADwOgzeo0WBCtowL87Mx1bNux1FDIaR4isBodmORw0N/MaT2sMRqkAnNzvWD4NmR+TubU2Q==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">322</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/f9ae5daed6b15d52.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="3">
                <input name="pos" type="hidden" value="3">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="t_r p_r_5 p_b_0 f_12 gray">攻撃力合計：944</div>
</div>
<div class="beck_title_container" id="deck_4">
    <div class="deck_title_block col3 f_l">
        <div class="deck_title_green f_13 f_b">デッキ4</div>
    </div>
    <div class="col3_2 f_l t_r">
        <form accept-charset="utf-8" action="/card/deckPositionChange/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="4">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_position.png"></button>
        </form>
        <form accept-charset="utf-8" action="/card/deckAutoSet/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="4">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_auto.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="deck_card_container back_green m_15 p_3">
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="SuUoxBK+Ltabhtco25IDtR2QNhfwQpVr+3BxE2Jf8SjlrwBN7F149D8/Tqoh9iL0noIk6KF9lME1X6plvRiW+g==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">327</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/c7056d16fd8e0475.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="4">
                <input name="pos" type="hidden" value="2">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_srp.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="sq6ugz8b0pI0EaCiHGoleiT/WW3sTyhThdKprwCP4ynGGW5mchlAYiAZaWVPb0oLL5ze4A1+Wc1Zs0SzmZUzAw==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">300</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/207c6a9d63aa3630.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="4">
                <input name="pos" type="hidden" value="1">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="/Za4Rvx4ff/7UuUSpSSk+D7+XUgUB0zndaEmlSmPfM8keyPTcG+5OEoqSl4KegKGkKsXv7Pv2mohUVP0EfxjnA==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.51</span>　攻撃力<span
                            class="sub_color">261</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/d5bcba514afc3d75.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="4">
                <input name="pos" type="hidden" value="3">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="t_r p_r_5 p_b_0 f_12 gray">攻撃力合計：888</div>
</div>
<div class="beck_title_container" id="deck_5">
    <div class="deck_title_block col3 f_l">
        <div class="deck_title_green f_13 f_b">デッキ5</div>
    </div>
    <div class="col3_2 f_l t_r">
        <form accept-charset="utf-8" action="/card/deckPositionChange/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="5">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_position.png"></button>
        </form>
        <form accept-charset="utf-8" action="/card/deckAutoSet/" class="d_ib"
              method="get">
            <input name="idx" type="hidden" value="5">
            <button class="f_0" type="submit"><img class="h_35 p_3"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_auto.png"></button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<div class="deck_card_container back_green m_15 p_3">
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_n.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="LP5236dXmnutgBchKvhmx2BuWoZnchHiLiLnr1GlASHWSZ3r+0oTw02dAnWBOW+eC+LNaSniM8kMJqJQ8LqNDw==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.28</span>　攻撃力<span
                            class="sub_color">131</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/66cf6ac1952c8f55.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="5">
                <input name="pos" type="hidden" value="2">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_n.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="Ksyydjwkr6DEEi9+/HdCyB8VPnBUUvRKUPGGzVJ10ecrB2pnJ3diQrp1/Xb/fJTr8lCRS+neXFWyHBxQ0r63yw==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.43</span>　攻撃力<span
                            class="sub_color">176</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/e8c10e109a360539.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="5">
                <input name="pos" type="hidden" value="1">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="deck_card_block p_t_5 f_l col3">
        <div class="t_c m_5">
            <div class="t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_n.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
            </div>
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <input name="idx" type="hidden"
                       value="grUikzPnQ9rl1R8L3EhNpyctM3ASsVTQO3ioEcMNWW5b8lVZb3809qpZUlXASPbVcOe7jt4rtR6PGmsxYLFWDQ==">
                <button class="f_0" type="submit">
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.37</span>　攻撃力<span
                            class="sub_color">158</span></div>
                    <img class="basic_btn w_127"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/bb1e3409822498cd.png">
                </button>
            </form>
            <form accept-charset="utf-8" action="/card/changeCardSelect/"
                  method="get">
                <input name="deck" type="hidden" value="5">
                <input name="pos" type="hidden" value="3">
                <button class="deck_card_change f_0" type="submit"><img
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_deck_card_change.png"></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="t_r p_r_5 p_b_0 f_12 gray">攻撃力合計：465</div>
</div>
