<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_music.png"></div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_category_on.png?ver=1.30.0"></a>
        <a routerLink="/record/musicMybest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_mybest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLatest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_latest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicTechCount/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_techcount.png?ver=1.30.0"></a>
        <a routerLink="/record/musicScoreGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_scoredata.png?ver=1.30.0"></a>
        <img class="record_scoredata_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    </div>
    <div class="tab_container p_15">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_genre_off.png?ver=1.30.0"></a>
        <a routerLink="/record/musicWord/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_word.png?ver=1.30.0"></a>
        <a routerLink="/record/musicCharacter/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_character_off.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLevel/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_music_level_off.png?ver=1.30.0"></a>
        <form accept-charset="utf-8" action="/record/musicWord/search/"
              method="get">
            <select class="m_15" name="word">
                <option value="99">全て</option>
                <option value="0">あ行</option>
                <option value="1">か行</option>
                <option value="2">さ行</option>
                <option value="3">た行</option>
                <option value="4">な行</option>
                <option value="5">は行</option>
                <option value="6">ま行</option>
                <option value="7">や行</option>
                <option value="8">ら行</option>
                <option value="9">わ行</option>
                <option value="10">A～G</option>
                <option value="11">H～N</option>
                <option value="12">O～U</option>
                <option value="13">V～Z</option>
                <option value="14">数字・その他</option>
            </select>
            <button class="f_0" name="diff" type="submit" value="0"><img
                    class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_basic.png"></button>
            <button class="f_0" name="diff" type="submit" value="1"><img
                    class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_advanced.png"></button>
            <button class="f_0" name="diff" type="submit" value="2"><img
                    class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_expert.png"></button>
            <button class="f_0" name="diff" type="submit" value="3"><img
                    class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_master.png"></button>
            <button class="f_0" name="diff" type="submit" value="10"><img
                    class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_lunatic.png"></button>
        </form>
    </div>
</div>
