<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog_on.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>
<div class="border_block event_back m_15 f_0">
    <table>
        <tbody>
        <tr>
            <td class="v_m t_c f_0"><img class="w_148 f_l"
                                         src="https://ongeki-net.com/ongeki-mobile/img/event/ca8408ebfe73451e.png"></td>
            <td class="v_t">
                <div class="w_300 f_l">
                    <div class="f_12 t_l p_15">
                        <div class="main_color f_14 f_b">ランキングイベント開催期間</div>
                        <hr class="event_line">
                        2021/11/04 06:00 ～ 2021/11/17 23:59
                        <div class="f_12 l_h_10">（報酬受け取り期間：ランキングイベント終了から180日間）</div>
                        <div class="p_5"></div>
                        <div class="main_color f_14 f_b">テクニカルチャレンジ開催期間</div>
                        <hr class="event_line">
                        2021/10/21 06:00 ～ 2021/11/24 23:59<br>
                        <div class="f_12 l_h_10">（報酬受け取り期間：テクニカルチャレンジ終了から180日間）</div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
</div>
<div class="f_0">
    <div class="news_tab_block t_c">
        <a routerLink="/record/eventlogRanking/?idx=99068"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_ranking_on.png"></a>
        <a routerLink="/record/eventlogTech/?idx=99068"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_techchallenge.png"></a>
    </div>
</div>
<hr class="gray_line m_t_0">
<img class="event_title" src="https://ongeki-net.com/ongeki-mobile/img/title_event_ranking.png">
<div class="event_container p_5 t_l f_15">
    <div class="border_block m_10 p_10 t_c">
        <div class="f_14 l_h_15">
            ランキング未参加
        </div>
        <hr class="event_line">
        <div class="f_13 f_b main_color">あなたのポイントと最終順位</div>
        <div class="m_5"><span class="f_20 f_b">― pt</span></div>
        <div class="m_5"><span class="f_20 f_b">― 位</span></div>
    </div>
</div>
<img class="event_title" src="https://ongeki-net.com/ongeki-mobile/img/title_event_ranking_bonus.png">
<div class="event_container p_5 t_l f_15">
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">1位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×5</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/plate/789626ed29518504.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">プレート</div>
                        「アイドルマスター」シリーズ⑥
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Rainbow.png">
                    <div class="f_14 black f_b">優勝 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×4</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">2位～10位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×5</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/plate/789626ed29518504.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">プレート</div>
                        「アイドルマスター」シリーズ⑥
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Rainbow.png">
                    <div class="f_14 black f_b">TOP 10 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×4</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">11位～100位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×5</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/plate/789626ed29518504.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">プレート</div>
                        「アイドルマスター」シリーズ⑥
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Platinum.png">
                    <div class="f_14 black f_b">TOP 100 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×4</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">101位～500位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×4</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/plate/789626ed29518504.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">プレート</div>
                        「アイドルマスター」シリーズ⑥
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Gold.png">
                    <div class="f_14 black f_b">TOP 500 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">501位～1000位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/plate/789626ed29518504.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">プレート</div>
                        「アイドルマスター」シリーズ⑥
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Gold.png">
                    <div class="f_14 black f_b">TOP 1000 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">1001位～5000位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×2</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Silver.png">
                    <div class="f_14 black f_b">TOP 5000 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">5001位～7500位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/68882000cd661dd5.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SSR】黛 冬優子[隠匿シンギュラリティ]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Silver.png">
                    <div class="f_14 black f_b">TOP 10000 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×2</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">7501位～10000位</div>
        <hr class="event_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Silver.png">
                    <div class="f_14 black f_b">TOP 10000 [「アイドルマスター」シリーズ]</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×2</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">10001位～100000位</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5559f7b089000ab6.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】「アイドルマスター」シリーズ
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">参加賞</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_87"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/money_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">500マニー</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="history.back();" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
