<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music_on.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_music.png"></div>
<div class="container3">
    <hr class="gray_line">
    <div class="m_10 t_l">
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/30ccc002addef434.png">
        <div class="w_260 f_l p_5">
            <div class="t_r f_12 main_color">
                <div class="w_100 f_l"><img class="w_100" src="https://ongeki-net.com/ongeki-mobile/img/music_get.png">
                </div>
                POPS＆ANIME
            </div>
            <div class="l_h_0 clearfix"></div>
            <div class="m_5 f_14 break">Phantom Joke</div>
            <hr class="basic_line">
            <div class="m_5 f_13 break">
                UNISON SQUARE GARDEN<br>
                対戦相手：<br>
                <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                藤沢 柚子 Lv.5
                <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_leaf.png">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="p_5">
        <table class="music_detail_table collapse">
            <tbody>
            <tr>
                <td>
                    <div class="score_level_base_detail w_50 l_h_12">
                        <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                        <div class="score_level t_c">4</div>
                    </div>
                </td>
                <td class="music_score_icon_area t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
                </td>
                <td>
                </td>
                <td>
                    <div class="basic_score_back basic_btn m_5 p_5 f_12 white" onclick="linkRanking(this)">
                        <form accept-charset="utf-8" action="/ranking/musicRankingDetail/"
                              method="get">
                            ランキング
                            <input name="diff" type="hidden" value="0">
                            <input name="idx" type="hidden"
                                   value="xX5kPMUDgI1R+RrwozfcfQemvCu5KDBLHHO/YWPt81t5Uj21BnjW4sji2adJW/YviaPEwoZLxGM/DU6zXtydvw==">
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="score_level_base_detail w_50 l_h_12">
                        <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                        <div class="score_level t_c">7+</div>
                    </div>
                </td>
                <td class="music_score_icon_area t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
                </td>
                <td>
                </td>
                <td>
                    <div class="advanced_score_back basic_btn m_5 p_5 f_12 white" onclick="linkRanking(this)">
                        <form accept-charset="utf-8" action="/ranking/musicRankingDetail/"
                              method="get">
                            ランキング
                            <input name="diff" type="hidden" value="1">
                            <input name="idx" type="hidden"
                                   value="xX5kPMUDgI1R+RrwozfcfQemvCu5KDBLHHO/YWPt81t5Uj21BnjW4sji2adJW/YviaPEwoZLxGM/DU6zXtydvw==">
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="score_level_base_detail w_50 l_h_12">
                        <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                        <div class="score_level t_c">11</div>
                    </div>
                </td>
                <td class="music_score_icon_area t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_unbelievable.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_sss.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_fb.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_ab.png?ver=1.30.0">
                </td>
                <td>
                    <div class="expert_score_back basic_btn m_5 p_5 f_12 white"
                         onclick="scrollDetail(&quot;#expert&quot;)">
                        　詳細　
                    </div>
                </td>
                <td>
                    <div class="expert_score_back basic_btn m_5 p_5 f_12 white" onclick="linkRanking(this)">
                        <form accept-charset="utf-8" action="/ranking/musicRankingDetail/"
                              method="get">
                            ランキング
                            <input name="diff" type="hidden" value="2">
                            <input name="idx" type="hidden"
                                   value="xX5kPMUDgI1R+RrwozfcfQemvCu5KDBLHHO/YWPt81t5Uj21BnjW4sji2adJW/YviaPEwoZLxGM/DU6zXtydvw==">
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="score_level_base_detail w_50 l_h_12">
                        <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                        <div class="score_level t_c">13</div>
                    </div>
                </td>
                <td class="music_score_icon_area t_l f_0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_unbelievable.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_aaa.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png?ver=1.30.0">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
                </td>
                <td>
                    <div class="master_score_back basic_btn m_5 p_5 f_12 white"
                         onclick="scrollDetail(&quot;#master&quot;)">
                        　詳細　
                    </div>
                </td>
                <td>
                    <div class="master_score_back basic_btn m_5 p_5 f_12 white" onclick="linkRanking(this)">
                        <form accept-charset="utf-8" action="/ranking/musicRankingDetail/"
                              method="get">
                            ランキング
                            <input name="diff" type="hidden" value="3">
                            <input name="idx" type="hidden"
                                   value="xX5kPMUDgI1R+RrwozfcfQemvCu5KDBLHHO/YWPt81t5Uj21BnjW4sji2adJW/YviaPEwoZLxGM/DU6zXtydvw==">
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="gray_line">
</div>
<div class="border_block expert_score_back p_5" id="expert">
    <div class="f_l t_l v_t">
        <div class="score_level_base f_l">
            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
            <div class="score_level t_c">11</div>
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
    </div>
    <div class="music_label p_5 f_r">
        <table class="t_r f_11 l_h_10">
            <tbody>
            <tr>
                <td>最終プレイ日時：</td>
                <td>2020/09/30 10:29</td>
            </tr>
            <tr>
                <td>プレイ回数：</td>
                <td class="t_r">1</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <table class="score_table expert_score_table t_r clearfix">
        <tbody>
        <tr>
            <th class="score_label expert_score_label">OVER DAMAGE HIGH SCORE</th>
            <th class="score_label expert_score_label">BATTLE HIGH SCORE</th>
            <th class="score_label expert_score_label">TECHNICAL HIGH SCORE</th>
        </tr>
        <tr>
            <td class="score_value expert_score_value">435.31%</td>
            <td class="score_value expert_score_value">8,078,021</td>
            <td class="score_value expert_score_value">1,007,321</td>
        </tr>
        </tbody>
    </table>
    <div class="music_score_icon_area t_r f_0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_unbelievable.png?ver=1.30.0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_sss.png?ver=1.30.0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_fb.png">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_ab.png?ver=1.30.0">
    </div>
    <div class="border_block m_3">
        <div class="m_10 f_12 l_h_10">BATTLE HIGH SCOREデッキ</div>
        <div class="card_block f_l col3 f_0">
            <div class="card_info_block f_11 gray"><span class="main_color">Lv.70<span></span></span></div>
            <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/b823091aab4b0d14.png">
        </div>
        <div class="card_block f_l col3 f_0">
            <div class="card_info_block f_11 gray"><span class="main_color">Lv.60<span></span></span></div>
            <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/8d83ed89137f835c.png">
        </div>
        <div class="card_block f_l col3 f_0">
            <div class="card_info_block f_11 gray"><span class="main_color">Lv.70<span></span></span></div>
            <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/bd5ea4d0d51253f6.png">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<hr class="gray_line">
<div class="border_block master_score_back p_5" id="master">
    <div class="f_l t_l v_t">
        <div class="score_level_base f_l">
            <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
            <div class="score_level t_c">13</div>
        </div>
        <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
    </div>
    <div class="music_label p_5 f_r">
        <table class="t_r f_11 l_h_10">
            <tbody>
            <tr>
                <td>最終プレイ日時：</td>
                <td>2020/09/30 10:32</td>
            </tr>
            <tr>
                <td>プレイ回数：</td>
                <td class="t_r">1</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <table class="score_table master_score_table t_r clearfix">
        <tbody>
        <tr>
            <th class="score_label master_score_label">OVER DAMAGE HIGH SCORE</th>
            <th class="score_label master_score_label">BATTLE HIGH SCORE</th>
            <th class="score_label master_score_label">TECHNICAL HIGH SCORE</th>
        </tr>
        <tr>
            <td class="score_value master_score_value">408.46%</td>
            <td class="score_value master_score_value">8,048,497</td>
            <td class="score_value master_score_value">968,037</td>
        </tr>
        </tbody>
    </table>
    <div class="music_score_icon_area t_r f_0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_br_unbelievable.png?ver=1.30.0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_tr_aaa.png?ver=1.30.0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
        <img src="https://ongeki-net.com/ongeki-mobile/img/music_icon_back.png">
    </div>
    <div class="border_block m_3">
        <div class="m_10 f_12 l_h_10">BATTLE HIGH SCOREデッキ</div>
        <div class="card_block f_l col3 f_0">
            <div class="card_info_block f_11 gray"><span class="main_color">Lv.70<span></span></span></div>
            <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/b823091aab4b0d14.png">
        </div>
        <div class="card_block f_l col3 f_0">
            <div class="card_info_block f_11 gray"><span class="main_color">Lv.60<span></span></span></div>
            <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/8d83ed89137f835c.png">
        </div>
        <div class="card_block f_l col3 f_0">
            <div class="card_info_block f_11 gray"><span class="main_color">Lv.70<span></span></span></div>
            <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/bd5ea4d0d51253f6.png">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="history.back();" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
