<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_serialcode.png"></div>
<div class="container2 p_10">
    <form accept-charset="utf-8" action="/home/serialcode/submit/" method="post">
        <input name="serial" type="text" value="">
        <div class="f_13 t_c">
            ※ご注意<br>
            ・シリアルコードは半角数字のみで入力してください。<br>
            ・最大数を超える場合、アイテムは破棄されます。<br>
        </div>
        <input class="basic_btn h_40 m_15" src="https://ongeki-net.com/ongeki-mobile/img/btn_submit.png" type="image">
        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
    </form>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
