<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter_on.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>

<div class="story_title_block f_0 f_r">
    <div class="medal_block f_l t_r">
        <span class="v_m p_3 f_14 gray">6</span>
        <img class="h_45 v_m" src="https://ongeki-net.com/ongeki-mobile/img/medal.png">
    </div>
    <div class="almighty_jewel_block f_l t_r">
        <span class="v_m p_3 f_14 gray">1,462</span>
        <img class="h_45 v_m" src="https://ongeki-net.com/ongeki-mobile/img/jewel/658a4874416cf515.png">
    </div>
    <div class="clearfix"></div>
</div>
<div class="f_l col2 p_5">
    <button class="basic_btn f_0" onclick="location.href='/record/missionList/'"
            type="button">
        <img class="w_212" src="https://ongeki-net.com/ongeki-mobile/img/banner_mission.png?ver=1.30.0">
    </button>
</div>
<div class="f_l col2 p_5">
    <button class="basic_btn f_0" onclick="location.href='/record/medalShop/'"
            type="button">
        <img class="w_212" src="https://ongeki-net.com/ongeki-mobile/img/banner_medalshop.png">
    </button>
</div>
<div class="clearfix"></div>
<form accept-charset="utf-8" action="/record/storyDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/chapter/10508cf11a5ce150.png">
    </button>
    <input name="story" type="hidden" value="5">
</form>
<form accept-charset="utf-8" action="/record/storyDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/chapter/f0b9b61414561767.png">
    </button>
    <input name="story" type="hidden" value="4">
</form>
<form accept-charset="utf-8" action="/record/storyDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/chapter/1d08779d502fdfb3.png">
    </button>
    <input name="story" type="hidden" value="3">
</form>
<form accept-charset="utf-8" action="/record/storyDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/chapter/e3f788c1669b104d.png">
    </button>
    <input name="story" type="hidden" value="2">
</form>
<form accept-charset="utf-8" action="/record/storyDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/chapter/80018078536ff606.png">
    </button>
    <input name="story" type="hidden" value="1">
</form>
