<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music_on.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>

<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_music.png"></div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/record/musicGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_category.png?ver=1.30.0"></a>
        <a routerLink="/record/musicMybest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_mybest_on.png?ver=1.30.0"></a>
        <a routerLink="/record/musicLatest/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_latest.png?ver=1.30.0"></a>
        <a routerLink="/record/musicTechCount/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_techcount.png?ver=1.30.0"></a>
        <a routerLink="/record/musicScoreGenre/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_scoredata.png?ver=1.30.0"></a>
        <img class="record_scoredata_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    </div>
    <div class="tab_container p_15">
        <form accept-charset="utf-8" action="/record/musicMybest/search/"
              method="get">
            <button class="f_0" name="diff" type="submit" value="99"><img
                    class="w_65" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_all.png"></button>
            <button class="f_0" name="diff" type="submit" value="0"><img
                    class="w_65" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_basic.png"></button>
            <button class="f_0" name="diff" type="submit" value="1"><img
                    class="w_65" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_advanced.png"></button>
            <button class="f_0" name="diff" type="submit" value="2"><img
                    class="w_65" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_expert.png"></button>
            <button class="f_0" name="diff" type="submit" value="3"><img
                    class="w_65" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_master.png"></button>
            <button class="f_0" name="diff" type="submit" value="10"><img
                    class="w_65" src="https://ongeki-net.com/ongeki-mobile/img/btn_music_lunatic_on.png"></button>
        </form>
    </div>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">0</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">Red and Blue and Green</div>
        </div>
        <input name="idx" type="hidden"
               value="frPMLSxqtMhyIkPzsJ6pJRoI1/22QP6Wy3Td6puXTbwdiTR3X5iXjulEtbh2SltLpjxcXtjp+22O9ymHpafJwg==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">20</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">東亞 -O.N.G.E.K.I. MIX-</div>
        </div>
        <input name="idx" type="hidden"
               value="wiuU+Mvk5V+7fohJngMFuskiwWTKUqmpce5txIdu5DY8LLUXtEK/rgTV0gj4Hvh8LJXKLHC53Mh9kclHTHcEGA==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">11</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">0</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">セガサターン起動音[H.][Remix]</div>
        </div>
        <input name="idx" type="hidden"
               value="4J0M8szEQ9b3KESIhkT1c+tHgoTAveXHQDiRmhlYu1nY2BStg4OYeyEKqkP5pN0VVD/0wtQxfmkKPKZZuIQ97g==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">11</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">Sakura Fubuki</div>
        </div>
        <input name="idx" type="hidden"
               value="J4EM9vq6r7F03NSlbulLFc4sk9xS4xS/tJcjAe7Wgn9ZT1HfdloAyVdQyF8yS110RBAEMirbOI/4AG87A718Gg==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">10</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">ナイト・オブ・ナイツ</div>
        </div>
        <input name="idx" type="hidden"
               value="AiBQETgH2E8/kJYPorqhZQdMpomAdCWXlOdrGFdjnvkbpTgrlYQOH3EgbCJK41ghWbR1FD0ibeaJE7LoHGY0jg==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">9</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">14</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">初音ミクの激唱</div>
        </div>
        <input name="idx" type="hidden"
               value="7eKXOxBm/hBQoWVSep9p7k2JQKkvVxLdR4GA0xk9P4n1Uc9Oo8ykw6TlDYDNTYVgjihvM0IykLdFpMOqxzm+CA==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">9</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">最強 the サマータイム!!!!!</div>
        </div>
        <input name="idx" type="hidden"
               value="BKBt0C6k070opCnj2Tl7II/p+HX0NkewL8x5e2eYnFDb5qJDSAUzUVw2bsYAVesZC9rQ+EwQjTpzOUTEK99Jjw==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">7</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">12+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">STARTLINER</div>
        </div>
        <input name="idx" type="hidden"
               value="vSaNDYFmlF7D2XEWcaJLu4TcuK5epcrp6D3W+Z82u94Smcy9ZWLW8lupnpMPoMv2vucWlZc1Qiv9FurTIfWbjA==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">7</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">ジングルベル</div>
        </div>
        <input name="idx" type="hidden"
               value="B+3tfmrzO84eXoQde3T1O3TCbJyxfSnFttHk6iZaLA4d+wFXlKldq+Uirmt0LcEK7Y8Zrx6w8M8RJvxs0GldXw==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">5</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">からくりピエロ</div>
        </div>
        <input name="idx" type="hidden"
               value="8U0JGSTsJnx9MYH8AC+95n4MJEk7HeImJsCSL/21x7TnkERU1RaEWLihBrgjoN9nTM9Nr79TV563zRte91hY7Q==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">3</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">ハッピータイフーン</div>
        </div>
        <input name="idx" type="hidden"
               value="7W7ee5/cOqIke9eQNTpTzY/h+RR0TBSieaBH78WGgnkL8/6ybPm6YUEbgARvXeAJPrEc53u9QxZUFyCkSkxcrQ==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">0</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">ロボットプラネットユートピア</div>
        </div>
        <input name="idx" type="hidden"
               value="QTTtOV8cTxzO/AX8EKVFXkkqpRLrbHMvLPS4nCB6stMJaoKd6WNErI2cqwTekdtS/2BcKU9ryCsePbhKvzafXA==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">14</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">luna blu</div>
        </div>
        <input name="idx" type="hidden"
               value="2thjDul8dMnVRs+BcGb3dHKMVnyCyOr2wgGVHclX97KmIv9oB11sHu9IGdxJEdV6vyyrX0+4F8Ue2nR3AQHxMg==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">0</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">My First Phone</div>
        </div>
        <input name="idx" type="hidden"
               value="Cw0LPwpl7PzzOLUd4zY9sSEHXrrgr8F+YWDS1o/3+F2Nfdueg29Z4jssDmakXr9hJ8/CrgtySTdaZsVnJpTyfg==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">14+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">緋蜂</div>
        </div>
        <input name="idx" type="hidden"
               value="Yx5D62tmLHNwTJ+cD1dKTRnqMgciuz3OpbB8x5dhw3znnqnEuToWIAE5y+QawbfXF47AK5nbh55cvwE/zbq26g==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">14</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">Calamity Fortune</div>
        </div>
        <input name="idx" type="hidden"
               value="kRR5j62q+KHqkeMxndZRamOiygoGkpgHcw310x8rZ7ASQQqB3NdRMkt2lPgTPqhb91lGsYlKTd4axvUbBDwOhQ==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="basic_btn lunatic_score_back m_10 p_5 t_l">
    <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <div>
            <div class="score_level_base f_r">
                <img src="https://ongeki-net.com/ongeki-mobile/img/music_level_label.png">
                <div class="score_level t_c">13+</div>
            </div>
            <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png">
            <div class="music_label p_5 break">No Limit RED Force</div>
        </div>
        <input name="idx" type="hidden"
               value="8xiuC9eTItBjf/oaHMkFApGPjDnGddCTGPIkQKIFYexMrhP9JoAGF2GBB4DtabUPwv+cJxH2NoW+q1NFNg8Ofw==">
        <div class="clearfix"></div>
        <div class="w_260 f_r">
            <table class="score_table lunatic_score_table t_r clearfix">
                <tbody>
                <tr>
                    <td class="score_label lunatic_score_label t_c black">プレイ回数</td>
                    <td class="score_value lunatic_score_value t_r w_100">
                        <div class="f_14 l_h_12">1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
