<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_setting.png"></div>
<div class="container2 p_15">
    <div class="f_b">プレイヤー名変更</div>
    <form accept-charset="utf-8" action="/home/userOption/updateUserName/update/"
          method="post">
        <input maxlength="8" name="userName" type="text" value="ＵＳＥＲ＿００１">
        <div class="f_13 t_l">
            ※全角英数字8文字まで<br>
            ※以下の記号も使用できます<br>
            <div class="t_l">
                <button class="set_symbol_btn " type="button">．</button>
                <button class="set_symbol_btn " type="button">・</button>
                <button class="set_symbol_btn " type="button">：</button>
                <button class="set_symbol_btn " type="button">；</button>
                <button class="set_symbol_btn " type="button">？</button>
                <button class="set_symbol_btn " type="button">！</button>
                <button class="set_symbol_btn " type="button">～</button>
                <button class="set_symbol_btn " type="button">／</button>
                <button class="set_symbol_btn " type="button">＋</button>
                <button class="set_symbol_btn " type="button">－</button>
                <button class="set_symbol_btn " type="button">×</button>
                <button class="set_symbol_btn " type="button">÷</button>
                <button class="set_symbol_btn " type="button">＝</button>
                <button class="set_symbol_btn " type="button">♂</button>
                <button class="set_symbol_btn " type="button">♀</button>
                <button class="set_symbol_btn " type="button">∀</button>
                <button class="set_symbol_btn " type="button">＃</button>
                <button class="set_symbol_btn " type="button">＆</button>
                <button class="set_symbol_btn " type="button">＊</button>
                <button class="set_symbol_btn " type="button">＠</button>
                <button class="set_symbol_btn " type="button">☆</button>
                <button class="set_symbol_btn " type="button">○</button>
                <button class="set_symbol_btn " type="button">◎</button>
                <button class="set_symbol_btn " type="button">◇</button>
                <button class="set_symbol_btn " type="button">□</button>
                <button class="set_symbol_btn " type="button">△</button>
                <button class="set_symbol_btn " type="button">▽</button>
                <button class="set_symbol_btn " type="button">♪</button>
                <button class="set_symbol_btn " type="button">†</button>
                <button class="set_symbol_btn " type="button">‡</button>
                <button class="set_symbol_btn " type="button">Σ</button>
                <button class="set_symbol_btn " type="button">α</button>
                <button class="set_symbol_btn " type="button">β</button>
                <button class="set_symbol_btn " type="button">γ</button>
                <button class="set_symbol_btn " type="button">θ</button>
                <button class="set_symbol_btn " type="button">φ</button>
                <button class="set_symbol_btn " type="button">ψ</button>
                <button class="set_symbol_btn " type="button">ω</button>
                <button class="set_symbol_btn " type="button">Д</button>
                <button class="set_symbol_btn " type="button">ё</button>
                <button class="set_symbol_btn em_space" type="button">　</button>
            </div>
        </div>
        <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
        <button class="f_0" type="submit"><img class="basic_btn h_45 m_15"
                                               src="https://ongeki-net.com/ongeki-mobile/img/btn_change.png"></button>
    </form>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/userOption/';" type="button">
        <img src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
