<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_character.png"></div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <div class="character_favorite">
                <img src="https://ongeki-net.com/ongeki-mobile/img/chara_favorite.png">
            </div>
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/52dd57153ba565ef.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(33px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_20.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_1.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/rebirth.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/rebirth_num_1.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1000">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/6f78371d7bd8cbd4.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(18px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_20.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_2.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1001">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/f8643e9a890a8a16.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(52.8px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_40.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_0.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1002">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/dfc95657ae10d387.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(31.714285714286px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_60.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_1.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1003">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/d0641a892dbb9018.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(42px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_10.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_5.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1004">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/6da18abbf21b6433.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(69px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_0.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1005">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/fe5dfb32bf3894d3.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(33px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_1.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1007">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/11a126c6b7964950.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(60px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_0.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1006">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/0aa391280704022a.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(60px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_2.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1010">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/74ec6b928bab296c.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(51px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_0.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1009">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/1d0e4d4009729ccc.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(24px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_5.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1008">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/1c9abbd8ce6cc6e0.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(58.2px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_40.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_0.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1011">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/68359b62863a3d48.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(57px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_20.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_5.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1012">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/56afe58faff198c9.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(23.1px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_90.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_3.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1014">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/a0ee1206d1c16405.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(19.5px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_50.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_7.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1013">
        </form>
    </div>
</div>
<div class="clearfix"></div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/chara/c554fc4db8d52476.png"></button>
            <div class="character_friendly">
                <div class="character_friendly_container">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/gage.png"
                         style="clip: rect(69px 94px 84px 0px)">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_00.png">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/friendly/num_0.png">
                </div>
            </div>
            <input name="idx" type="hidden" value="1015">
        </form>
    </div>
</div>
<div class="chara_btn f_l col3">
    <div class="t_c f_0">
        <form accept-charset="utf-8" action="/character/characterOther/"
              method="get">
            <button class="f_0" type="submit"><img
                    class="w_160" src="https://ongeki-net.com/ongeki-mobile/img/btn_character_other.png"></button>
        </form>
    </div>
</div>
<div class="clearfix"></div>
