<div class="f_0">
    <a routerLink="/collection/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_icon.png"></a>
    <a routerLink="/collection/trophy/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_trophy.png"></a>
    <a routerLink="/collection/plate/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_plate.png"></a>
    <a routerLink="/collection/kaikaticket/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_item_on.png"></a>
</div>
<div class="m_t_15 f_0">
    <div class="news_tab_block t_c">
        <a routerLink="/collection/kaikaticket/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_kaikaticket_on.png"></a>
        <a routerLink="/collection/expUpItem/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_exp.png"></a>
        <a routerLink="/collection/intimateUpItem/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_intimate.png"></a>
        <a routerLink="/collection/starticket/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_starticket.png"></a>
    </div>
</div>
<hr class="gray_line m_t_0">
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_kaikaticket.png"></div>
<div class="border_block m_10 p_5">
    <img class="col3 m_t_5 p_3 f_l v_m" src="https://ongeki-net.com/ongeki-mobile/img/ticket/7d11554266f20c6d.png">
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">解花チケット</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="f_15 black"><span class="d_ib m_3 p_5">17枚所有</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<hr class="gray_line m_t_0">
