<div class="f_0">
    <a routerLink="/event/eventChapterDetail/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_chapter.png?ver=1.30.0"></a>
    <a routerLink="/event/reward/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_reward.png?ver=1.30.0"></a>
    <a routerLink="/event/cardBonus/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_card_on.png?ver=1.30.0"></a>
    <img class="gray_img" src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_ranking.png">
    <a routerLink="/event/techChallenge/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_techchallenge.png"></a>
</div>
<div class="border_block event_back m_15 ">
    <img class="col3 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/1dcfb6c6683be7af.png">
    <div class="col3_2 f_l">
        <span class="d_ib m_5 f_13 sub_color">ぶらり湯けむり温泉郷</span>
        <hr class="event_line">
        <div class="col2 f_l m_t_5 t_c f_b">
            <span class="p_l_5 f_12 main_color">累計獲得ジュエル</span>
            <hr class="gray_line m_t_0 m_b_0">
            <div class="t_r f_14 black">0JP</div>
        </div>
        <div class="col2 f_l m_t_5 t_c f_b">
            <span class="p_l_5 f_12 main_color">所持ジュエル</span>
            <hr class="gray_line m_t_0 m_b_0">
            <div class="t_r p_r_5 f_14 black">
                0JP
            </div>
        </div>
        <div class="clearfix"></div>
        <hr class="event_line m_t_5">
        <div class="t_r m_5 m_b_0"><span class="f_11">更新日時：2021/11/29 09:34</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_event_card_bonus.png">
<div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/9ffbdca7cf3a15e4.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">
                ボーナス＋5<img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png"></div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/2ac675cfb5e23a47.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">
                ボーナス＋2<img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png"></div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/a541a1970b92322e.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">
                ボーナス＋5<img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <div class="p_5 t_l f_0">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
            </div>
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/55ecd7f27f612bee.png">
            <div class="p_5 f_0">
                <img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_star_on.png">
            </div>
            <div class="f_11 l_h_10">
                ボーナス＋5<img class="w_13" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr class="gray_line">
    <div class="t_c">
        <button class="f_0" onclick="location.href='/event/';" type="button"><img
                src="https://ongeki-net.com/ongeki-mobile/img/btn_back_event.png"></button>
    </div>

    <footer class="f_0 footer">
        <img class="line_top" src="https://ongeki-net.com/ongeki-mobile/img/line_03.png">
        <div>
            <div class="d_ib col3 f_13 p_5"><a href="http://otogame-net.com/agreement/" target="_blank">利用規約</a></div>
            <div class="d_ib col3 f_13 p_5"><a href="http://otogame-net.com/environment/" target="_blank">推奨環境</a></div>
            <div class="d_ib col3 f_13 p_5"><a href="http://otogame-net.com/contact/" target="_blank">ご意見／お問い合わせ</a>
            </div>
        </div>
        <div>
            <div class="d_ib col2 f_13 p_5"><a href="https://www.sega.co.jp/privacypolicy_shd/" target="_blank">プライバシーポリシー</a>
            </div>
            <div class="d_ib col2 f_13 p_5"><a href="https://gw.sega.jp/gw/support/tokuteiam/" target="_blank">特定商取引に関する法律に基づく表示</a>
            </div>
        </div>
        <a href="http://otogame-net.com/use-right/" target="_blank"><img
                class="footer_banner w_450" src="https://ongeki-net.com/ongeki-mobile/img/banner_course.png"></a>
        <hr class="footer_line">
        <a href="http://ongeki.sega.jp" target="_blank"><img
                class="footer_banner w_450" src="https://ongeki-net.com/ongeki-mobile/img/banner_ongeki.jpg?ver=1.30.0"></a>
        <a class="col2 f_l" href="http://maimai.sega.jp" target="_blank"><img
                class="footer_banner w_212"
                src="https://ongeki-net.com/ongeki-mobile/img/banner_maimai.png?ver=1.20"></a>
        <a class="col2 f_l" href="http://chunithm.sega.jp" target="_blank"><img
                class="footer_banner w_212"
                src="https://ongeki-net.com/ongeki-mobile/img/banner_chuni.jpg?ver=2.00"></a>
        <div class="clearfix"></div>
        <a class="w_450 d_ib t_l footer_banner" href="https://my-aime.net/aime/jp/p/" target="_blank">
            <table>
                <tbody>
                <tr>
                    <td><img src="https://ongeki-net.com/ongeki-mobile/img/banner_aime.png"></td>
                    <td class="p_10 f_13">
                        Aimeサービスサイトに登録しておけば、<br>
                        紛失や破損をした際でもデータ移行が出来るよ！
                    </td>
                </tr>
                </tbody>
            </table>
        </a>
        <hr class="footer_line">
        <a href="http://sega.jp" target="_blank"><img src="https://ongeki-net.com/ongeki-mobile/img/logo_sega.png"></a>
        <div class="f_15 p_5">© SEGA</div>
    </footer>
</div>
