<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter_on.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>
<div class="border_block mission_back m_15 ">
    <img class="col3 f_l" src="https://ongeki-net.com/ongeki-mobile/img/monthlymission.png">
    <div class="col3_2 f_l">
        <span class="d_ib m_5 f_13 sub_color">Mission : マンスリーミッション(2021/11月)</span>
        <hr class="event_line">
        <div class="m_5 t_c f_b">
            <div class="t_r f_14 black"><span class="f_l p_l_5 f_12 main_color">合計ミッションポイント</span>445mp</div>
        </div>
        <hr class="event_line m_t_5">
        <div class="t_r m_5 m_b_0"><span class="f_11">更新日時：2021/11/28 23:49</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="m_10 f_14">開催期間：2021/10/21 06:00～2021/12/01 23:59</div>
<div class="f_0">
    <div class="news_tab_block t_c">
        <a routerLink="/record/missionDetail/?idx=5001"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_reward_on.png"></a>
        <a routerLink="/record/missionCardBonus/?idx=5001"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_cardbonus.png"></a>
    </div>
</div>
<hr class="gray_line m_t_0">
<img class="event_title" src="https://ongeki-net.com/ongeki-mobile/img/title_event_point_bonus.png">
<div class="event_container p_5 t_l f_15">
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">1,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/7d11554266f20c6d.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">解花チケット
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">2,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/b869ce53a80d3e80.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【R】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">3,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/jewel/993084310de42904.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="t_r f_15 sub_color f_b">×50</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">4,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">5,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/bbb0584b2e5163fb.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SR+】皇城 セツナ[薄暮バイオリニスト]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">6,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/jewel/993084310de42904.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="t_r f_15 sub_color f_b">×75</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">7,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_87"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/money_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">2000マニー</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">8,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">9,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/bbb0584b2e5163fb.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SR+】皇城 セツナ[薄暮バイオリニスト]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">10,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/5c00b65c4dcccd38.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">12,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/jewel/993084310de42904.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="t_r f_15 sub_color f_b">×200</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">14,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">16,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/bbb0584b2e5163fb.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SR+】皇城 セツナ[薄暮バイオリニスト]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">18,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">親密度上昇プレゼント</div>
                        親密度上昇プレゼント（大）
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">20,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/bbb0584b2e5163fb.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SR+】皇城 セツナ[薄暮バイオリニスト]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">22,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/d11c8fd9469cc292.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR+】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">24,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">26,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_87"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/money_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">4000マニー</td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">29,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_74" src="https://ongeki-net.com/ongeki-mobile/img/card/bbb0584b2e5163fb.png"></td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">カード</div>
                        【SR+】皇城 セツナ[薄暮バイオリニスト]
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">32,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img
                            class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/ticket/d11c8fd9469cc292.png">
                    </td>
                    <td class="v_m p_5 f_13 l_h_12 break">
                        <div class="f_11 l_h_10 gray">スターチケット</div>
                        【SR+】奏坂学園
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">35,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <div class="m_10">
                <div class="p_5 f_13 break">
                    <div class="f_11 l_h_10 gray">称号</div>
                </div>
                <div class="collection_list_trophy_block f_l t_c">
                    <img src="https://ongeki-net.com/ongeki-mobile/img/trophy_Gold.png">
                    <div class="f_14 black f_b">progressive/regressive</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr class="gray_line">
    </div>
    <div class="border_block m_10 p_10">
        <div class="p_5 f_18 main_color f_b">40,000mp</div>
        <hr class="event_line">
        <div class="m_5">
            <table>
                <tbody>
                <tr>
                    <td class="w_87 v_m t_c p_5 f_0"><img class="w_74"
                                                          src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png"></td>
                    <td class="v_m p_5 f_15 l_h_12 break">メダル
                        <div class="t_r f_15 sub_color f_b">×1</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="gray_line">
    </div>
</div>
