<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_loginbonus.png?ver=1.30.0">
</div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/home/loginBonusSpecial/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_special_on.png"></a>
        <a routerLink="/home/loginBonus/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_ongeki.png"></a>
        <a routerLink="/home/loginBonusStandard/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_standard.png"></a>
        <a routerLink="/home/loginBonusPremium/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_premium.png"></a>
    </div>
</div>

<div class="container4 f_0">
    <hr class="gray_line m_t_0">
    <div class="loginbonus_special_container">
        <div class="f_11">本日のログインボーナス：未受け取り</div>
        <div class="loginbonus_special_sheet f_12">No.001</div>
        <div class="loginbonus_special_limit t_r f_11 red">～ 2021/12/08</div>
        <div class="loginbonus_special_name f_12">
            <div><span>名取さな　イベント開催記念ログインボーナス</span></div>
        </div>
        <div class="loginbonus_special_item_conteiner">
            <div class="loginbonus_item_block_1">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
                <div class="loginbonus_item_block_no f_11">1</div>
                <img class="loginbonus_item_chapter_jewel"
                     src="https://ongeki-net.com/ongeki-mobile/img/jewel/c30fb7c22a03f8d1.png">
                <div class="loginbonus_item_detail f_11">
                    <div class="loginbonus_marquee"><span>【ジュエル】名取さな</span></div>
                </div>
                <img class="loginbonus_item_get"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
            </div>
            <div class="loginbonus_item_block_2">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
                <div class="loginbonus_item_block_no f_11">2</div>
                <img class="loginbonus_item_chapter_jewel"
                     src="https://ongeki-net.com/ongeki-mobile/img/jewel/c30fb7c22a03f8d1.png">
                <div class="loginbonus_item_detail f_11">
                    <div class="loginbonus_marquee"><span>【ジュエル】名取さな</span></div>
                </div>
            </div>
            <div class="loginbonus_item_block_3">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_rainbow.png">
                <div class="loginbonus_item_block_no f_11">3</div>
                <div class="loginbonus_item_card_block">
                    <img class="loginbonus_item_card"
                         src="https://ongeki-net.com/ongeki-mobile/img/card/812506a3039299c4.png">
                </div>
                <div class="loginbonus_item_detail f_11">
                    <div class="loginbonus_marquee"><span>【SR】名取さな[おはようございナース！]</span></div>
                </div>
            </div>
            <div class="loginbonus_item_block_4">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_5">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_6">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_7">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_8">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_9">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_10">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
        </div>
    </div>
    <hr class="gray_line m_t_0">
    <div class="loginbonus_special_container">
        <div class="f_11">本日のログインボーナス：未受け取り</div>
        <div class="loginbonus_special_sheet f_12">No.001</div>
        <div class="loginbonus_special_limit t_r f_11 red">～ 2022/02/28</div>
        <div class="loginbonus_special_name f_12">
            <div><span>オンゲキ bright稼働記念　ログインボーナス</span></div>
        </div>
        <div class="loginbonus_special_item_conteiner">
            <div class="loginbonus_item_block_1">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
                <div class="loginbonus_item_block_no f_11">1</div>
                <img class="loginbonus_item_ticket_1"
                     src="https://ongeki-net.com/ongeki-mobile/img/ticket/7d11554266f20c6d.png">
                <div class="loginbonus_item_detail f_11">
                    <div><span>解花チケット</span></div>
                </div>
                <img class="loginbonus_item_get"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
            </div>
            <div class="loginbonus_item_block_2">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
                <div class="loginbonus_item_block_no f_11">2</div>
                <img class="loginbonus_item" src="https://ongeki-net.com/ongeki-mobile/img/item/7cc858d2021c8039.png">
                <div class="loginbonus_item_detail f_11">
                    <div class="loginbonus_marquee"><span>親密度上昇プレゼント（中）</span></div>
                </div>
            </div>
            <div class="loginbonus_item_block_3">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_rainbow.png">
                <div class="loginbonus_item_block_no f_11">3</div>
                <img class="loginbonus_item_ticket_1"
                     src="https://ongeki-net.com/ongeki-mobile/img/ticket/1dca2d172db6d334.png">
                <div class="loginbonus_item_detail f_11">
                    <div class="loginbonus_marquee"><span>無料ガチャチケット（SR確定）[1枚]</span></div>
                </div>
            </div>
            <div class="loginbonus_item_block_4">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_rainbow.png">
                <div class="loginbonus_item_block_no f_11">4</div>
                <img class="loginbonus_item_medal" src="https://ongeki-net.com/ongeki-mobile/img/medal_m.png">
                <div class="loginbonus_item_detail f_11">
                    <div><span>メダル</span></div>
                </div>
            </div>
            <div class="loginbonus_item_block_5">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_rainbow.png">
                <div class="loginbonus_item_block_no f_11">5</div>
                <img class="loginbonus_item_ticket_1"
                     src="https://ongeki-net.com/ongeki-mobile/img/ticket/1985ef31f8763899.png">
                <div class="loginbonus_item_detail f_11">
                    <div class="loginbonus_marquee"><span>【SSR】奏坂学園</span></div>
                </div>
            </div>
            <div class="loginbonus_item_block_6">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_7">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_8">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_9">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
            <div class="loginbonus_item_block_10">
                <img class="loginbonus_item_block_back"
                     src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_none.png">
            </div>
        </div>
    </div>
    <hr class="gray_line m_t_0">
</div>
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
