<div class="f_0">
    <a routerLink="/card/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_book.png"></a>
    <a routerLink="/card/cardList/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_list.png"></a>
    <a routerLink="/card/deck/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_deck_on.png"></a>
    <a routerLink="/card/cardmaker/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_maker.png"></a>
    <a routerLink="/card/training/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_training.png"></a>
    <img class="card_training_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>

<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_deck_position.png"></div>
<div class="border_block m_15 back_green deck_title_green">
    <div class="m_10 t_c f_15 l_h_10">
        <span class="f_b">デッキ1</span>
        <div class="music_clear p_10">
            <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
            <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
            <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
        </div>
    </div>
    <hr class="gray_line m_b_0">
    <div>
        <form accept-charset="utf-8" action="/card/deckPositionChange/change/"
              method="post">
            <div class="f_l col3">
                <div class="t_c m_5">
                    <div class="p_5 t_l f_0">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
                    </div>
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.35</span>　攻撃力<span
                            class="sub_color">207</span></div>
                    <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/b9ddbc120b4ed32c.png">
                    <div class="basic_btn m_5 f_0"><img class="h_40"
                                                        name="選択" src="https://ongeki-net.com/ongeki-mobile/img/btn_choice.png"></div>
                    <span class="d_n">2</span>
                </div>
            </div>
            <div class="f_l col3">
                <div class="t_c m_5">
                    <div class="p_5 t_l f_0">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_chokaika.png">
                    </div>
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
                            class="sub_color">287</span></div>
                    <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/05c34b21133b7cfb.png">
                    <div class="basic_btn m_5 f_0"><img class="h_40"
                                                        name="選択" src="https://ongeki-net.com/ongeki-mobile/img/btn_choice.png"></div>
                    <span class="d_n">1</span>
                </div>
            </div>
            <div class="f_l col3">
                <div class="t_c m_5">
                    <div class="p_5 t_l f_0">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
                        <img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_kaika.png">
                    </div>
                    <div class="card_info_block f_11 gray"><span class="main_color">Lv.53</span>　攻撃力<span
                            class="sub_color">236</span></div>
                    <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/c5cf4b827e53e5cd.png">
                    <div class="basic_btn m_5 f_0"><img class="h_40"
                                                        name="選択" src="https://ongeki-net.com/ongeki-mobile/img/btn_choice.png"></div>
                    <span class="d_n">3</span>
                </div>
            </div>
            <input name="idx" type="hidden" value="1">
            <input name="from" type="hidden" value="0">
            <input name="to" type="hidden" value="0">
            <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/card/deck/#deck_1';" type="button">
        <img src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
