<div class="wrapper t_c">
    <a href="/" class="d_b p_5"><img src="https://ongeki-net.com/ongeki-mobile/img/logo.png" class="logo"></a>
</div>
<div class="wrapper main_wrapper t_c">
    <header class="f_0">
        <img src="https://ongeki-net.com/ongeki-mobile/img/line_01.png" class="line_top">
    </header>

    <router-outlet></router-outlet>

    <footer class="f_0 footer">
        <img src="https://ongeki-net.com/ongeki-mobile/img/line_03.png" class="line_top">
        <div>
            <div class="d_ib col3 f_13 p_5"><a href="http://otogame-net.com/agreement/" target="_blank">利用規約</a></div>
            <div class="d_ib col3 f_13 p_5"><a href="http://otogame-net.com/environment/" target="_blank">推奨環境</a></div>
            <div class="d_ib col3 f_13 p_5"><a href="http://otogame-net.com/contact/" target="_blank">ご意見／お問い合わせ</a></div>
        </div>
        <div>
            <div class="d_ib col2 f_13 p_5"><a href="https://www.sega.co.jp/privacypolicy_shd/" target="_blank">プライバシーポリシー</a></div>
            <div class="d_ib col2 f_13 p_5"><a href="https://gw.sega.jp/gw/support/tokuteiam/" target="_blank">特定商取引に関する法律に基づく表示</a></div>
        </div>
        <a href="http://otogame-net.com/use-right/" target="_blank"><img src="https://ongeki-net.com/ongeki-mobile/img/banner_course.png" class="footer_banner w_450"></a>
        <hr class="footer_line">
        <a href="http://ongeki.sega.jp" target="_blank"><img src="https://ongeki-net.com/ongeki-mobile/img/banner_ongeki.jpg?ver=1.30.0" class="footer_banner w_450"></a>
        <a href="http://maimai.sega.jp" target="_blank" class="col2 f_l"><img src="https://ongeki-net.com/ongeki-mobile/img/banner_maimai.png?ver=1.20" class="footer_banner w_212"></a>
        <a href="http://chunithm.sega.jp" target="_blank" class="col2 f_l"><img src="https://ongeki-net.com/ongeki-mobile/img/banner_chuni.jpg?ver=2.00" class="footer_banner w_212"></a>
        <div class="clearfix"></div>
        <a href="https://my-aime.net/aime/jp/p/" target="_blank" class="w_450 d_ib t_l footer_banner">
            <table>
                <tbody><tr>
                    <td><img src="https://ongeki-net.com/ongeki-mobile/img/banner_aime.png"></td>
                    <td class="p_10 f_13">
                        Aimeサービスサイトに登録しておけば、<br>
                        紛失や破損をした際でもデータ移行が出来るよ！
                    </td>
                </tr>
                </tbody></table>
        </a>
        <hr class="footer_line">
        <a href="http://sega.jp" target="_blank"><img src="https://ongeki-net.com/ongeki-mobile/img/logo_sega.png"></a>
        <div class="f_15 p_5">© SEGA</div>
        <div class="p_10">
            <div class="f_12 l_h_12">©上海アリス幻樂団</div>
            <div class="f_12 l_h_12">© Crypton Future Media, INC. www.piapro.net</div>
            <div class="f_12 l_h_12"> ©2018 VOCALOMAKETS Powered by Bumpy Factory Corporation.<br>　結月ゆかりは株式会社バンピーファクトリーの登録商標です。</div>
            <div class="f_12 l_h_12">Licensed by TOY'S FACTORY INC.</div>
            <div class="f_12 l_h_12">©2013 海冬レイジ・株式会社KADOKAWA メディアファクトリー刊／機巧少女は傷つかない製作委員会</div>
            <div class="f_12 l_h_12">GUMI(Megpoid)©INTERNET Co., LTD.</div>
            <div class="f_12 l_h_12">© カルロ・ゼン・KADOKAWA刊／幼女戦記製作委員会</div>
            <div class="f_12 l_h_12">©BanG Dream! Project ©Craft Egg Inc. ©bushiroad All Rights Reserved.</div>
            <div class="f_12 l_h_12">©2017 暁なつめ・三嶋くろね／ＫＡＤＯＫＡＷＡ／このすば２製作委員会</div>
            <div class="f_12 l_h_12">©KADOKAWA・SEGA／アンジュ・ヴィエルジュ・フィルムパートナーズ</div>
            <div class="f_12 l_h_12">Licensed by REISSUE RECORDS inc.</div>
            <div class="f_12 l_h_12">©得能正太郎・芳文社／NEW GAME!!製作委員会</div>
            <div class="f_12 l_h_12">©2014 Donuts Co. Ltd. All Rights Reserved.</div>
            <div class="f_12 l_h_12">illustration by iXima</div>
            <div class="f_12 l_h_12">© Cygames, Inc.</div>
            <div class="f_12 l_h_12">©鎌池和馬／冬川基／アスキー・メディアワークス／PROJECT-RAILGUN S</div>
            <div class="f_12 l_h_12">© 長月達平・株式会社KADOKAWA刊／Re:ゼロから始める異世界生活製作委員会</div>
            <div class="f_12 l_h_12">illust ろこる (@tuno901)</div>
            <div class="f_12 l_h_12">illustration by mebae<br>©2011 mebae/ Kaikai Kiki Co., Ltd. All Rights Reserved. <br>©FANTASISTAUTAMARO ALL RIGHTS RESERVED.<br>©2011 by IXY music Co.,Ltd.&amp; TOY'S FACTORY &amp; Crypton Future Media, Inc.</div>
            <div class="f_12 l_h_12">© HARUKAZE</div>
            <div class="f_12 l_h_12">Licensed　by　PONY CANYON INC．<br>©2010  by  NICHION,INC.&amp;  PONY CANYON MUSIC PUBLISHING INC.<br>©かきふらい・芳文社／桜高軽音部</div>
            <div class="f_12 l_h_12">Licensed by SACRA MUSIC</div>
            <div class="f_12 l_h_12">Licensed by EPIC Records Japan<br>By the courtesy of KING RECORD Co., Ltd.</div>
            <div class="f_12 l_h_12">Licensed by Aniplex Inc.<br>© GUILTY CROWN COMMITTEE<br>© 2012 by FUJIPACIFIC MUSIC INC. &amp; Sony Music Publishing (Japan) Inc.</div>
            <div class="f_12 l_h_12">© 温泉むすめ／Enbound, Inc.</div>
            <div class="f_12 l_h_12">©VisualArt's/Key/Angel Beats! Project</div>
            <div class="f_12 l_h_12">© 2017-2019 SQUARE ENIX CO., LTD. All Rights Reserved.</div>
            <div class="f_12 l_h_12">©Kizuna AI</div>
            <div class="f_12 l_h_12">©Project Revue Starlight</div>
            <div class="f_12 l_h_12">©azuma lim channel</div>
            <div class="f_12 l_h_12">Licensed by EXIT TUNES INC.</div>
            <div class="f_12 l_h_12">Licensed by Victor Entertainment<br>©2014 Donuts Co. Ltd. All Rights Reserved.</div>
            <div class="f_12 l_h_12">©ゾンビランドサガ製作委員会</div>
            <div class="f_12 l_h_12">2019©YuNi</div>
            <div class="f_12 l_h_12">©2018  by  NICHION,INC.&amp;  PONY CANYON MUSIC PUBLISHING INC.</div>
            <div class="f_12 l_h_12">Label：upd8 music<br>©2018 WMP</div>
            <div class="f_12 l_h_12">©VISUAL ARTS / Key Sounds Label</div>
            <div class="f_12 l_h_12">illustration by KEI</div>
            <div class="f_12 l_h_12">©なもり/一迅社・七森中ごらく部</div>
            <div class="f_12 l_h_12">©渡 航、小学館／やはりこの製作委員会はまちがっている。続</div>
            <div class="f_12 l_h_12">© Re:STAGE! PROJECT</div>
            <div class="f_12 l_h_12">©2015 CAVE Interactive CO., LTD.</div>
            <div class="f_12 l_h_12">©sprite/久奈浜学院FC部</div>
            <div class="f_12 l_h_12">©川上泰樹・伏瀬・講談社／転スラ製作委員会</div>
            <div class="f_12 l_h_12">©2015-2020 COLOPL, Inc.</div>
            <div class="f_12 l_h_12">©ヤオヨロズケムリクサプロジェクト</div>
            <div class="f_12 l_h_12">©あらゐけいいち・角川書店／東雲研究所</div>
            <div class="f_12 l_h_12">©2019 VOCALOMAKETS Powered by Bumpy Factory Corporation.<br>©Copyright  2014 AI,Inc. All Rights Reserved.<br>©AHS Co. Ltd.</div>
            <div class="f_12 l_h_12">©田中工務店</div>
            <div class="f_12 l_h_12">Art by 穂嶋</div>
            <div class="f_12 l_h_12">©2019 サンドロビッチ・ヤバ子，MAAM・小学館／シルバーマンジム</div>
            <div class="f_12 l_h_12">© 2008 CAVE CO., LTD.</div>
            <div class="f_12 l_h_12">©SORASAKI.F</div>
            <div class="f_12 l_h_12">©2019 なもり/一迅社・七森中ごらく部</div>
            <div class="f_12 l_h_12">Licensed by Sony Music Labels Inc.</div>
            <div class="f_12 l_h_12">℗2017 INCS To Enter Co.,Ltd.<br>©2017 IXY music Co.,Ltd.</div>
            <div class="f_12 l_h_12">© 虎虎／京都アニメーション／中二病でも製作委員会</div>
            <div class="f_12 l_h_12">©Magica Quartet／Aniplex・Madoka Movie Project Rebellion</div>
            <div class="f_12 l_h_12">©春場ねぎ・講談社／「五等分の花嫁」製作委員会</div>
            <div class="f_12 l_h_12">©Liber Entertainment Inc. All Rights Reserved.</div>
            <div class="f_12 l_h_12">© lowiro 2020</div>
            <div class="f_12 l_h_12">© SEGA / © Colorful Palette Inc. / © Crypton Future Media, INC. www.piapro.net All rights reserved.</div>
            <div class="f_12 l_h_12">©伍箇伝計画／とじともOVA製作委員会</div>
            <div class="f_12 l_h_12">©2009  by  NICHION,INC.&amp;  PONY CANYON MUSIC PUBLISHING INC.</div>
            <div class="f_12 l_h_12">©2016 うかみ／ＫＡＤＯＫＡＷＡ　アスキー・メディアワークス／ガヴリールドロップアウト製作委員会</div>
            <div class="f_12 l_h_12">© 安部真弘（週刊少年チャンピオン）／海の家れもん2号店</div>
            <div class="f_12 l_h_12">©伊藤いづも・芳文社／まちカドまぞく製作委員会</div>
            <div class="f_12 l_h_12">© 2017-2020 cover corp.</div>
            <div class="f_12 l_h_12">©Magica Quartet／Aniplex・Madoka Partners・MBS</div>
            <div class="f_12 l_h_12">©Gynoid.</div>
            <div class="f_12 l_h_12">©OTOIRO</div>
            <div class="f_12 l_h_12">©KADOKAWA CORPORATION</div>
            <div class="f_12 l_h_12">©得能正太郎・芳文社／NEW GAME!製作委員会</div>
            <div class="f_12 l_h_12">©伍箇伝計画／刀使ノ巫女製作委員会</div>
            <div class="f_12 l_h_12">重音テト© 線/小山乃舞世/ツインドリル</div>
            <div class="f_12 l_h_12">© Koi・芳文社／ご注文はBLOOM製作委員会ですか？</div>
            <div class="f_12 l_h_12">© Koi・芳文社／ご注文は製作委員会ですか？</div>
            <div class="f_12 l_h_12">©XFLAG</div>
            <div class="f_12 l_h_12">Licensed by Avex Music Publishing Inc.</div>
            <div class="f_12 l_h_12">© 宮島礼吏・講談社／「彼女、お借りします」製作委員会</div>
            <div class="f_12 l_h_12">©NHN PlayArt Corp. ©DWANGO Co., Ltd.</div>
            <div class="f_12 l_h_12">©ENTERBRAIN, INC./アマガミSS+製作委員会</div>
            <div class="f_12 l_h_12">©Lose</div>
            <div class="f_12 l_h_12">©2017-2021 Ichikara Inc.</div>
            <div class="f_12 l_h_12">©1996 EIGHTING　協力：有限会社エムツー ／ 株式会社スーパースィープ</div>
            <div class="f_12 l_h_12">Illustration by ぽあろ</div>
            <div class="f_12 l_h_12">Licensed by EMI Records, A UNIVERSAL MUSIC COMPANY</div>
            <div class="f_12 l_h_12"> ©2021 VOCALOMAKETS Powered by Bumpy Factory Corporation.</div>
            <div class="f_12 l_h_12">©長月達平・株式会社KADOKAWA刊／Re:ゼロから始める異世界生活2製作委員会</div>
            <div class="f_12 l_h_12">℗2020 KADOKAWA CORPORATION</div>
            <div class="f_12 l_h_12">©Avogado6</div>
            <div class="f_12 l_h_12">© 2017-2021 cover corp.</div>
            <div class="f_12 l_h_12">©GSC/NN</div>
            <div class="f_12 l_h_12">© Ｔ－ＡＲＴＳ / syn Sophia / テレビ東京 / PSプロジェクト</div>
            <div class="f_12 l_h_12">axsword</div>
            <div class="f_12 l_h_12">イラスト：鍋島テツヒロ　協力：執事眼鏡eyemirror</div>
            <div class="f_12 l_h_12">Illustration by wogura</div>
            <div class="f_12 l_h_12">Illustration by (ﾉω･､)</div>
            <div class="f_12 l_h_12">Illustration by 一斗まる</div>
            <div class="f_12 l_h_12">©OTOIRO inc.</div>
            <div class="f_12 l_h_12">©窪岡俊之 ©BANDAI NAMCO Entertainment Inc.</div>
            <div class="f_12 l_h_12">©Sana Natori</div>
            <div class="f_12 l_h_12">Licensed by Virgin Music, A UNIVERSAL MUSIC COMPANY</div>
            <div class="f_12 l_h_12">© 2016 COVER Corp.</div>
            <div class="f_12 l_h_12">©浜弓場 双・芳文社／ハナヤマタ製作委員会</div>
            <div class="f_12 l_h_12">©ANYCOLOR, Inc.</div>
        </div>
    </footer>
</div>
