<div class="f_0">
  <a routerLink="/friend/"><img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_list_on.png"></a>
  <a routerLink="/friend/search/"><img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_search.png"></a>
  <a routerLink="/friend/matching/"><img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_match.png"></a>
  <a routerLink="/friend/invite/"><img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_invite.png"></a>
  <a routerLink="/friend/accept">
    <img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_accept.png">
  </a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_friend_detail.png"></div>
<div class="container3 f_0">
  <hr class="gray_line m_b_0">
  <div class="user_data_container">
    <div class="battle_rank_block">
      <img src="https://ongeki-net.com/ongeki-mobile/img/br_ced92e75a35d5f8906a9ebb4935ff98f.png">
      <div class="battle_point_20">14,580</div>
    </div>
    <div class="icon_block">
      <img src="https://ongeki-net.com/ongeki-mobile/img/icon/7b629c6b496688ee.png">
    </div>
    <div class="trophy_block trophy_4 f_11 f_b">
      <span>心</span>
    </div>
    <div class="lv_block white">
      <span>89</span>
    </div>
    <div class="reincarnation_block">
      <span>2</span>
    </div>
    <div class="name_block f_15">
      <span>ＵＳＥＲ＿０００</span>
    </div>
    <div class="rating_block f_14">
      <img class="rating_label" src="https://ongeki-net.com/ongeki-mobile/img/rating/label_bronze.png">
      <div class="rating_field t_l">
        <span class="rating_bronze f_20 f_b">12.25</span><span class="f_11">（MAX 12.25）</span>
      </div>
    </div>
  </div>
  <div class="character_container">
    <div class="home_character_block">
      <img src="https://ongeki-net.com/ongeki-mobile/img/chara/a12c0a166ab26aa8.png">
    </div>
  </div>
  <hr class="gray_line m_t_0">
  <div class="t_l m_10 f_12 l_h_12">
    <div class="comment_block break">
      初音ミク大好き！
    </div>
  </div>
  <hr class="gray_line m_t_0">
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_activity.png"></div>
<div class="container3 t_l">
  <hr class="gray_line">
  <div class="m_15">
    <table class="user_activity_table collapse t_l f_12">
      <tbody>
        <tr>
          <td class="v_t gray">2021/11/21 21:47</td>
          <td class="v_t break">
            MASTERを解禁しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
            TEmPTaTiON
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/11/21 21:47</td>
          <td class="v_t break">
            テクニカルランク RANK SSS を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
            TEmPTaTiON
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/11/21 21:47</td>
          <td class="v_t break">
            オンゲキをプレイしました！<br>
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/11/05 21:36</td>
          <td class="v_t break">
            バトルランク 秀 を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            felys -final remix-
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/11/05 21:36</td>
          <td class="v_t break">
            テクニカルランク RANK SSS を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            felys -final remix-
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/11/05 21:27</td>
          <td class="v_t break">
            オンゲキをプレイしました！<br>
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/10/11 17:56</td>
          <td class="v_t break">
            MASTERを解禁しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            風に乗せた願い
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/10/11 17:56</td>
          <td class="v_t break">
            バトルランク 極 を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            風に乗せた願い
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/10/11 17:56</td>
          <td class="v_t break">
            テクニカルランク RANK SS を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            風に乗せた願い
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/10/11 17:52</td>
          <td class="v_t break">
            オンゲキをプレイしました！<br>
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/08/06 19:29</td>
          <td class="v_t break">
            MASTERを解禁しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            Contrail ～軌跡～
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/08/06 19:29</td>
          <td class="v_t break">
            FULL BELL &amp; ALL BREAKを達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            Contrail ～軌跡～
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/08/06 19:29</td>
          <td class="v_t break">
            バトルランク 極 を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            Contrail ～軌跡～
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/08/06 19:29</td>
          <td class="v_t break">
            テクニカルランク RANK SSS+ を達成しました！<br>
            <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
            Contrail ～軌跡～
          </td>
        </tr>
        <tr>
          <td class="v_t gray">2021/08/06 19:25</td>
          <td class="v_t break">
            オンゲキをプレイしました！<br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="gray_line">
</div>
<form accept-charset="utf-8" action="/friend/friendDetail/drop/" class="t_c" method="post">
  <input name="idx" type="hidden" value="5066189085337">
  <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
  <button type="submit"><img class="h_40 d_ib basic_btn"
      src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_drop.png"></button>
</form>
<hr class="gray_line">
<div class="t_c">
  <button class="f_0" onclick="location.href='/friend/';" type="button"><img
      src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>