<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_loginbonus.png?ver=1.30.0">
</div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/home/loginBonusSpecial/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_special.png"></a>
        <a routerLink="/home/loginBonus/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_ongeki.png"></a>
        <a routerLink="/home/loginBonusStandard/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_standard_on.png"></a>
        <a routerLink="/home/loginBonusPremium/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_premium.png"></a>
    </div>
</div>

<div class="container4 f_0">
    <hr class="gray_line m_t_0 m_b_0">
    <div class="container2 p_15">
        <div class="f_14 f_b">今月のログインボーナス：受け取り済み</div>
        <div class="white_block p_10 f_14">
            <img class="h_40 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/btn_bonus_standard_month.png">
            <hr class="gray_line">
            <div class="t_l f_12">
                <span class="sub_color">※ボーナスは次回「オンゲキ」ログイン時に受け取ることができます。</span><br>
                ※ホーム画面から「プレゼント」を開くと、筐体上で獲得していない<br>
                　ボーナスを確認することができます。<br>
                ※各コースのボーナスは、毎月１回のみ受け取ることができます。<br>
            </div>
            <hr class="gray_line">
        </div>
    </div>
    <hr class="gray_line m_t_0">
</div>
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
