<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_character_other.png"></div>
<hr class="gray_line">
<div class="character_name_block">
    <div class="t_c p_t_10 f_15 black">※カードを所持しているキャラクターのみ表示されます</div>
    <form accept-charset="utf-8" action="/character/characterOther/" method="get">
        <select class="m_5" name="idx">
            <option value="0">キャラクターを選択</option>
            <option selected="" value="2000">博麗 霊夢</option>
            <option value="2001">霧雨 魔理沙</option>
            <option value="2007">チルノ</option>
        </select>
    </form>
    <div class="t_c p_t_10 f_15 black">コスチュームを変更する</div>
    <div class="t_l m_10 m_t_0 p_5 f_0">
        <div class="border_block back_gray_border w_112 d_ib m_5 t_c v_t">
            <img class="w_87" src="https://ongeki-net.com/ongeki-mobile/img/costume/7de30dfccef1d40e.png">
            <div class="character_costume_setting_label">設定中</div>
        </div>
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/character/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
