<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_setting.png"></div>
<div class="container2 p_15 t_c">
    <img src="https://ongeki-net.com/ongeki-mobile/img/title_course.png">
    <div class="border_block m_t_12 p_10 f_14 t_l black">
        <table>
            <tbody>
            <tr>
                <td>
                    スタンダードコース
                </td>
                <td class="w_139">
                    <div class="t_r f_0" onclick="location.href='/courseDetail/';">
                        <img class="basic_btn h_40" src="https://ongeki-net.com/ongeki-mobile/img/btn_course_check.png">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="m_15"><a routerLink="/home/userOption/updateUserName/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_playername.png"></a></div>
<div class="m_15"><a routerLink="/home/userOption/updateUserComment/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_comment.png"></a></div>
<div class="m_15"><a routerLink="/home/userOption/updateUserOption/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_option.png"></a></div>
<div class="m_15"><a routerLink="/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_logout.png"></a></div>
