<div class="f_0">
    <a routerLink="/friend/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_list.png"></a>
    <a routerLink="/friend/search/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_search_on.png"></a>
    <a routerLink="/friend/matching/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_match.png"></a>
    <a routerLink="/friend/invite/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_invite.png"></a>
    <a routerLink="/friend/accept">
        <img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_accept.png">
    </a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_friend_search.png"></div>
<div class="container2 p_15">
    <form accept-charset="utf-8" action="/friend/search/searchUser/" method="get">
        <input name="friendCode" placeholder="フレンドコードを入力してください" type="text" value="">
        <button class="f_0" type="submit"><img class="h_40 d_ib basic_btn m_5"
                                               src="https://ongeki-net.com/ongeki-mobile/img/btn_search.png"></button>
    </form>
</div>
