<div class="f_0">
    <a routerLink="/card/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_book.png"></a>
    <a routerLink="/card/cardList/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_list.png"></a>
    <a routerLink="/card/deck/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_deck.png"></a>
    <a routerLink="/card/cardmaker/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_maker.png"></a>
    <a routerLink="/card/training/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_training_on.png"></a>
    <img class="card_training_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>
<div class="border_block m_10 f_0">
    <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/banner_card_training.png">
    <div class="t_l m_10 f_12 black">
        オンゲキをプレイしてない間もカードを成長させることができる機能です。<br>
        育成中のカードには1日1回経験値がストックされます。<br>
        経験値は5日分までストックすることができ、カードは3枚まで登録することができます。<br>
        ストックされた経験値はオンゲキをプレイすると受け取ることができます。<br>
        <br>
        <div class="t_c sub_color">※オンゲキプレミアムコースで利用可能な機能となります</div>
        <div class="p_10 t_c">
            <a href="https://gw.sega.jp/gw/login/?product_name=ongeki" target="_blank">
                <img class="basic_btn h_40" src="https://ongeki-net.com/ongeki-mobile/img/btn_charge_course_regist.png">
            </a>
        </div>
    </div>
</div>
