<div class="f_0">
    <a routerLink="/home/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_home_on.png?ver=1.30.0"></a>
    <a routerLink="/home/playerDataDetail/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_playerdata.png?ver=1.30.0"></a>
    <a routerLink="/home/bpTargetMusic/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_bp.png?ver=1.30.0"></a>
    <a routerLink="/home/ratingTargetMusic/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_home_rating.png?ver=1.30.0"></a>
    <img class="bp_target_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
    <img class="rating_target_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>

<div class="m_15 f_0">
    <a routerLink="/home/goodsCampaign">
        <img class="w_450 basic_btn"
             src="https://ongeki-net.com/ongeki-mobile/img/banner_goods_campaign_exchange.png?ver=1.30.0">
    </a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_playerdata.png"></div>
<div class="container3 f_0">
    <hr class="gray_line m_b_0">
    <div class="user_data_container">
        <div class="battle_rank_block">
            <img src="https://ongeki-net.com/ongeki-mobile/img/br_ced92e75a35d5f8906a9ebb4935ff98f.png">
            <div class="battle_point_20">14,540</div>
        </div>
        <div class="icon_block">
            <img src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
        </div>
        <div class="trophy_block trophy_4 f_11 f_b">
            <span>道なき道を行け！</span>
        </div>
        <div class="lv_block white">
            <span>75</span>
        </div>
        <div class="reincarnation_block">
            <span>1</span>
        </div>
        <div class="name_block f_15">
            <span>ＵＳＥＲ＿００１</span>
        </div>
        <div class="rating_block f_14">
            <img class="rating_label" src="https://ongeki-net.com/ongeki-mobile/img/rating/label_purple.png">
            <div class="rating_field t_l">
                <span class="rating_purple f_20 f_b">11.87</span><span class="f_11">（MAX 11.87）</span>
            </div>
        </div>
    </div>
    <div class="character_container">
        <div class="home_character_block">
            <img src="https://ongeki-net.com/ongeki-mobile/img/chara/3b785622706742b1.png">
        </div>
    </div>
    <hr class="gray_line m_t_0">
    <div class="t_l m_15 f_12 l_h_12">
        <div class="comment_block break">
            オンゲキ初心者 <br>
            よろしくお願いします<br>
            Twitter @dummy_user
        </div>
    </div>
    <div class="t_r">
        <form accept-charset="utf-8" action="/character/characterDetail/"
              class="d_ib" method="get">
            <input name="idx" type="hidden" value="1000">
            <input name="back" type="hidden" value="1">
            <button type="submit"><img class="basic_btn h_40 m_5"
                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_character_detail.png"></button>
        </form>
    </div>
    <hr class="gray_line m_t_0">
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_news.png"></div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <input id="tab_news" src="https://ongeki-net.com/ongeki-mobile/img/tab_news.png" type="image">
        <input id="tab_info" src="https://ongeki-net.com/ongeki-mobile/img/tab_info_off.png" type="image">
    </div>
    <div class="tab_container p_15 t_l" id="news">
        <div>
            <p class="f_13 m_5 h_24 under_block">
                2021/11/25 06:00　<img src="https://ongeki-net.com/ongeki-mobile/img/news_new.png"></p>
            <form accept-charset="utf-8" action="/home/webNewsDetail/" method="get">
                <input name="idx" type="hidden" value="0">
                <button class="f_b m_t_5 t_l white underline break" type="submit">
                    【11/25（木）開催！】む、温泉か！温泉といえば……『ぶらり湯けむり温泉郷』開催！
                </button>
            </form>
        </div>
        <hr>
        <div>
            <p class="f_13 m_5 h_24 under_block">
                2021/11/18 06:00　 </p>
            <form accept-charset="utf-8" action="/home/webNewsDetail/" method="get">
                <input name="idx" type="hidden" value="1">
                <button class="f_b m_t_5 t_l white underline break" type="submit">【11/18(木)楽曲追加！】マジカルミライテーマソングが登場！
                </button>
            </form>
        </div>
        <hr>
        <div>
            <p class="f_13 m_5 h_24 under_block">
                2021/11/11 06:00　 </p>
            <form accept-charset="utf-8" action="/home/webNewsDetail/" method="get">
                <input name="idx" type="hidden" value="2">
                <button class="f_b m_t_5 t_l white underline break" type="submit">【11/11（木）楽曲追加！】魔法かけて さよなら</button>
            </form>
        </div>
        <hr>
        <div class="t_r">
            <a routerLink="/home/webNewsAll/"><img
                    class="h_40" src="https://ongeki-net.com/ongeki-mobile/img/btn_more.png"></a>
        </div>
    </div>
    <div class="tab_container p_15 t_l" id="info" style="display:none">
    </div>
</div>
<div class="m_15 p_r">
    <a routerLink="/home/loginBonusSpecial/">
        <img class="loginbonus_cover" src="https://ongeki-net.com/ongeki-mobile/img/btn_loginbonus_cover.png">
        <img src="https://ongeki-net.com/ongeki-mobile/img/btn_loginbonus.png">
    </a>
</div>
<div class="m_15"><a routerLink="/home/activity/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_activity.png"></a></div>
<div class="m_15">
    <img class="present_item_on" src="https://ongeki-net.com/ongeki-mobile/img/chara_present.png">
    <a routerLink="/home/present/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_present.png?ver=1.30.0"></a>
</div>
<div class="m_15"><a routerLink="/home/serialcode/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_serialcode.png"></a></div>
<div class="m_15"><a routerLink="/home/goodsCampaign/"><img
        src="https://ongeki-net.com/ongeki-mobile/img/btn_goods_campaign.png"></a></div>
<div class="container2 p_15 t_l">
    <img src="https://ongeki-net.com/ongeki-mobile/img/title_sitemap.png">
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_record.png">
        <a class="main_color" routerLink="/record/">CHAPTER</a><br>
        <a class="gray" routerLink="/record/playlog/">プレイ履歴</a><br>
        <a class="gray" routerLink="/record/eventlog/">イベント履歴</a><br>
        <a class="gray" routerLink="/record/musicGenre/">楽曲別レコード</a><br>
        <a class="gray" routerLink="/record/region/">全国行脚</a><br>
    </div>
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_event.png">
        <a class="sub_color" routerLink="/event/">イベント</a><br>
    </div>
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_collection.png">
        <a class="main_color" routerLink="/collection/">アイコン</a><br>
        <a class="gray" routerLink="/collection/trophy/">称号</a><br>
        <a class="gray" routerLink="/collection/plate/">プレート</a><br>
        <a class="gray" routerLink="/collection/kaikaticket/">消費アイテム</a><br>
    </div>
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_character.png">
        <a class="sub_color" routerLink="/character/">キャラクター一覧</a><br>
    </div>
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_card.png">
        <a class="main_color" routerLink="/card/">オンゲキカード図鑑</a><br>
        <a class="gray" routerLink="/card/cardList/">カード一覧</a><br>
        <a class="gray" routerLink="/card/deck/">デッキ編集</a><br>
        <a class="gray" routerLink="/card/cardmaker/">カードメイカー</a><br>
        <a class="gray" routerLink="/card/training/">カード育成</a><br>
    </div>
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_friend.png">
        <a class="sub_color" routerLink="/friend/">フレンド一覧</a><br>
        <a class="gray" routerLink="/friend/search/">検索</a><br>
        <a class="gray" routerLink="/friend/matching/">マッチング</a><br>
        <a class="gray" routerLink="/friend/invite/">申請中</a><br>
        <a class="gray" routerLink="/friend/accept/">受付中</a><br>
    </div>
    <div class="white_block p_10 f_b f_14">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/sitemap_ranking.png">
        <a class="main_color" routerLink="/ranking/">楽曲別ランキング</a><br>
        <a class="gray" routerLink="/ranking/battlePoint/">バトルポイントランキング</a><br>
        <a class="gray" routerLink="/ranking/rating/">レーティングランキング</a><br>
        <a class="gray" routerLink="/ranking/totalHiscore/">トータルハイスコアランキング</a><br>
        <a class="gray" routerLink="/ranking/totalPoint/">総獲得マニーランキング</a><br>
        <a class="gray" routerLink="/ranking/intimate/">親密度ランキング</a><br>
    </div>
</div>
