<script src="../../../../../maidx-net/src/app/modules/aime-list/aime-list.component.ts"></script>
<div class="aime_main_container">
    <div class="m_10 t_c">
        <img src="https://ongeki-net.com/ongeki-mobile/img/title_course.png">
        <div class="border_block m_t_12 p_10 f_14 t_l black">
            <table>
                <tbody>
                <tr>
                    <td>
                        标准账户
                        <div class="f_11 red">※只能设置一张Aime使用付费账户。</div>
                    </td>
                    <td class="w_139">
                        <div class="t_r f_0"
                             onclick="location.href='/courseDetail/';">
                            <img class="basic_btn h_40"
                                 src="https://ongeki-net.com/ongeki-mobile/img/btn_course_check.png">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="aime_main_block">
        <div class="aime_data_container f_0">
            <div class="battle_rank_block">
                <img src="https://ongeki-net.com/ongeki-mobile/img/br_ced92e75a35d5f8906a9ebb4935ff98f.png">
                <div class="battle_point_20">14,540</div>
            </div>
            <div class="icon_block">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
            </div>
            <div class="trophy_block trophy_4 f_11 f_b">
                <span>道なき道を行け！</span>
            </div>
            <div class="lv_block white">
                <span>75</span>
            </div>
            <div class="reincarnation_block">
                <span>1</span>
            </div>
            <div class="name_block f_15">
                <span>ＵＳＥＲ＿００１</span>
            </div>
            <div class="rating_block f_14">
                <img class="rating_label" src="https://ongeki-net.com/ongeki-mobile/img/rating/label_purple.png">
                <div class="rating_field t_l">
                    <span class="rating_purple f_20 f_b">11.87</span><span class="f_11">（MAX 11.87）</span>
                </div>
            </div>
        </div>
        <div class="t_r">
            <button class="f_0" (click)="setCardAndLogin(0)"><img class="basic_btn m_10 h_40"
                                                   src="https://ongeki-net.com/ongeki-mobile/img/btn_aime_login.png"></button>
        </div>
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/';"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
