<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_goodscampaign.png"></div>
<div class="container2 t_l p_15">
    <div class="t_c f_16 m_10 black">― グッズキャンペーン第５弾 ―</div>
    <div class="t_r f_14 ">開催期間：2021/07/29 06:00～2021/12/16 03:59</div>
    <div class="col2 f_l f_0">
        <div class="border_block m_5 p_5">
            <img alt="オンゲキR.E.D. キービジュアルポスター&amp;Aimeカードセット"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/bbcad64a3d1f17f7.png">
            <div class="goodscampaign_pt_block f_12 f_b"><span class="f_20">60</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="border_block m_5 p_5">
            <img alt="オンゲキシューターズオリジナルアクリルスタンド R.E.D."
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/3874a9e96430d8ea.png">
            <div class="goodscampaign_pt_block f_12 f_b"><span class="f_20">25</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="border_block m_5 p_5">
            <img alt="オンゲキシューターズオリジナルアクリルスタンド B.L.U.E."
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/ed37ef0ec8a3876d.png">
            <div class="goodscampaign_pt_block f_12 f_b"><span class="f_20">25</span>ポイント</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="【SSR】柏木 美亜[ずっと、夏！]5枚セット"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/e25944bce10a4cc9.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">200</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="【SR】星咲 あかり[STARRED HEART]"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/1bc3c24d510311c7.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">5</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="【SR】結城 莉玖[STARRED HEART]"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/6ed9ad6fb171b429.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">5</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="【SR】九條 楓[STARRED HEART]"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/1e9887ac7658a01e.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">5</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="【SR】珠洲島 有栖[STARRED HEART]"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/7621ca6bf8a744ed.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">5</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="【SR】東雲 つむぎ[STARRED HEART]"
                 class="w_189" src="https://ongeki-net.com/ongeki-mobile/img/campaign/4811c0e169274b29.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">5</span>ポイント</div>
        </div>
    </div>
    <div class="col2 f_l f_0">
        <div class="blue_border_block m_5 p_5">
            <img alt="親密度アイテム（大）" class="w_189"
                 src="https://ongeki-net.com/ongeki-mobile/img/campaign/6ff3a3785a4d4b67.png">
            <div class="goodscampaign_label_block f_12 f_b blue">【デジタルアイテム】</div>
            <div class="goodscampaign_pt_block f_12 f_b blue"><span class="f_20">60</span>ポイント</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="white_block p_10">
        <div class="t_r f_14">
            <a class="sub_color" routerLink="/home/goodsCampaign/goodsCampaignLog/">&gt;&gt;キャンペーンコード発行履歴</a>
        </div>
    </div>
    <hr class="white_line">
    <div class="white_block m_b_10 p_10">
        <div class="m_t_5 f_15 blue">【デジタルアイテム交換所】<br><span class="black">　所持デジタルポイント：0pt</span></div>
        <hr class="gray_line m_t_5">
        <table class="placelist_box text_l">
            <tbody>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【SSR】柏木 美亜[ずっと、夏！]5枚セット"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/e25944bce10a4cc9.png"></td>
                <td>【SSR】柏木 美亜[ずっと、夏！]5枚セット<br>交換可能回数：1回<br>必要ポイント：200pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【SR】星咲 あかり[STARRED HEART]"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/1bc3c24d510311c7.png"></td>
                <td>【SR】星咲 あかり[STARRED HEART]<br>交換可能回数：1回<br>必要ポイント：5pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【SR】結城 莉玖[STARRED HEART]"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/6ed9ad6fb171b429.png"></td>
                <td>【SR】結城 莉玖[STARRED HEART]<br>交換可能回数：1回<br>必要ポイント：5pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【SR】九條 楓[STARRED HEART]"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/1e9887ac7658a01e.png"></td>
                <td>【SR】九條 楓[STARRED HEART]<br>交換可能回数：1回<br>必要ポイント：5pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【SR】珠洲島 有栖[STARRED HEART]"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/7621ca6bf8a744ed.png"></td>
                <td>【SR】珠洲島 有栖[STARRED HEART]<br>交換可能回数：1回<br>必要ポイント：5pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【SR】東雲 つむぎ[STARRED HEART]"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/4811c0e169274b29.png"></td>
                <td>【SR】東雲 つむぎ[STARRED HEART]<br>交換可能回数：1回<br>必要ポイント：5pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="親密度アイテム（大）"
                                     class="blue_border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/6ff3a3785a4d4b67.png"></td>
                <td>親密度アイテム（大）<br>交換可能回数：20回<br>必要ポイント：60pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="white_block m_b_10 p_10">
        <div class="m_t_5 f_15 black">【Dummy Shop】<br><span class="main_color">　所持ポイント：1pt</span></div>
        <hr class="gray_line m_t_5">
        <table class="placelist_box text_l">
            <tbody>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="オンゲキR.E.D. キービジュアルポスター&amp;Aimeカードセット"
                                     class="border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/bbcad64a3d1f17f7.png">
                </td>
                <td>オンゲキR.E.D. キービジュアルポスター&amp;Aimeカードセット<br>必要ポイント：60pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="オンゲキシューターズオリジナルアクリルスタンド R.E.D."
                                     class="border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/3874a9e96430d8ea.png"></td>
                <td>オンゲキシューターズオリジナルアクリルスタンド R.E.D.<br>必要ポイント：25pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="オンゲキシューターズオリジナルアクリルスタンド B.L.U.E."
                                     class="border_block w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/ed37ef0ec8a3876d.png"></td>
                <td>オンゲキシューターズオリジナルアクリルスタンド B.L.U.E.<br>必要ポイント：25pt</td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="【デジタルポイント】に交換する"
                                     class="w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/593c3c398777ed68.png"></td>
                <td>
                    【デジタルポイント】に交換する<br>
                    <select class="w_212" name="changePoint">
                        <option value="0">交換するptを選択</option>
                    </select>
                </td>
                <td style="w_74">
                    <img class="basic_btn h_40 gray_img"
                         src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods.png">
                </td>
            </tr>
            <tr class="f_12 l_h_12">
                <td class="f_0"><img alt="所持ポイントを全て【デジタルポイント】に交換する"
                                     class="w_55 m_r_5 m_b_5" src="https://ongeki-net.com/ongeki-mobile/img/campaign/569c77f8d70acacc.png"></td>
                <td>
                    所持ポイントを全て【デジタルポイント】に交換する<br>
                </td>
                <td style="w_74">
                    <form accept-charset="utf-8" action="/home/goodsCampaign/goodsDetail/"
                          method="get">
                        <input name="placeId" type="hidden" value="16">
                        <input name="goodsId" type="hidden" value="3491">
                        <input name="point" type="hidden" value="0">
                        <button type="submit">
                            <img class="basic_btn h_40"
                                 src="https://ongeki-net.com/ongeki-mobile/img/btn_change_goods2.png">
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="m_5 m_t_0 f_12 l_h_10 red">※交換できるデジタルアイテムがない場合、<br>　店舗のポイントを、デジタルポイントに交換できません。</div>
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
