<div class="f_0">
    <a routerLink="/friend/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_list.png"></a>
    <a routerLink="/friend/search/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_search.png"></a>
    <a routerLink="/friend/matching/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_match_on.png"></a>
    <a routerLink="/friend/invite/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_invite.png"></a>
    <a routerLink="/friend/accept">
        <img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_accept.png">
    </a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_friend_matching.png"></div>
<div>マッチングで一緒に遊んだプレイヤーが表示されます。</div>
