<div class="f_0">
    <a routerLink="/event/eventChapterDetail/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_chapter_on.png?ver=1.30.0"></a>
    <a routerLink="/event/reward/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_reward.png?ver=1.30.0"></a>
    <a routerLink="/event/cardBonus/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_card.png?ver=1.30.0"></a>
    <img class="gray_img" src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_ranking.png">
    <a routerLink="/event/techChallenge/?idx=80016"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_event_techchallenge.png"></a>
</div>
<div class="border_block event_back m_15 ">
    <img class="col3 f_l" src="https://ongeki-net.com/ongeki-mobile/img/event/1dcfb6c6683be7af.png">
    <div class="col3_2 f_l">
        <span class="d_ib m_5 f_13 sub_color">ぶらり湯けむり温泉郷</span>
        <hr class="event_line">
        <div class="col2 f_l m_t_5 t_c f_b">
            <span class="p_l_5 f_12 main_color">累計獲得ジュエル</span>
            <hr class="gray_line m_t_0 m_b_0">
            <div class="t_r f_14 black">0JP</div>
        </div>
        <div class="col2 f_l m_t_5 t_c f_b">
            <span class="p_l_5 f_12 main_color">所持ジュエル</span>
            <hr class="gray_line m_t_0 m_b_0">
            <div class="t_r p_r_5 f_14 black">
                0JP
            </div>
        </div>
        <div class="clearfix"></div>
        <hr class="event_line m_t_5">
        <div class="t_r m_5 m_b_0"><span class="f_11">更新日時：2021/11/29 09:32</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<img class="event_title" src="https://ongeki-net.com/ongeki-mobile/img/title_event_silverjewel_open.png">
<div class="event_container p_5 t_l f_15">
    <div class="border_block m_10 p_10 t_c">
        <img class="event_info_chara" src="https://ongeki-net.com/ongeki-mobile/img/info_chara3.png">
        <div class="m_3"><a class="main_color" routerLink="/event/reward/?idx=80016">イベント報酬を確認する！</a>
        </div>
    </div>
</div>
<div class="container3 t_l f_11 back_lightblue">
    <hr class="gray_line m_t_0">
    <div class="kadai_score_back basic_btn m_10 p_5">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <img class="f_l w_112" src="https://ongeki-net.com/ongeki-mobile/img/music/308d93a8bc52e3f2.png">
                <div class="w_302 f_l">
                    <div class="m_10 f_14 l_h_12 break">ぽかぽか温泉音頭</div>
                    <hr class="basic_line m_10 break">
                    <div class="m_10 m_b_0">
                        曲：橘亮祐、篠崎あやと／歌：三角 葵(CV：春野 杏)、逢坂 茜(CV：大空 直美)、日向 千夏(CV：岡咲 美保)<br>
                        <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
                        逢坂 茜
                        Lv.30
                        <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_fire.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="border_block h_45 m_t_5">
                <img class="kadak_reward_img w_45"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png">
                <div class="kadai_info_block p_t_5 kadai_color">
                    <div class="p_t_10 p_l_10 f_l f_11 break">
                        <span>課題クリアまで残り<span class="d_ib p_l_10 f_b f_20">200</span> %</span>
                    </div>
                </div>
            </div>
            <input name="idx" type="hidden"
                   value="MAk7VVMbwHG4QvKSho9urhdYSFFcKBZw8RKRbwTs7RttLFc4e8Yk8i6xR0jkqzZhYsqUV6BJv19Fa4f6oIC4YA==">
        </form>
    </div>
    <div class="kadai_score_back basic_btn m_10 p_5">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <img class="f_l w_112" src="https://ongeki-net.com/ongeki-mobile/img/music/e48e5626d9fd5208.png">
                <div class="w_302 f_l">
                    <div class="m_10 f_14 l_h_12 break">Mizutama-Tripster</div>
                    <hr class="basic_line m_10 break">
                    <div class="m_10 m_b_0">
                        こふ<br>
                        <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                        三角 葵
                        Lv.40
                        <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_aqua.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="border_block h_45 m_t_5">
                <img class="kadak_reward_img w_45"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png">
                <div class="kadai_info_block p_t_5 kadai_color">
                    <div class="p_t_10 p_l_10 f_l f_11 break">
                        <span>課題クリアまで残り<span class="d_ib p_l_10 f_b f_20">400</span> %</span>
                    </div>
                </div>
            </div>
            <input name="idx" type="hidden"
                   value="Xbr+aBMZlArOdLhuSxoCT4gs2t25gTpIfZf6NE77yXQLSh2JchCKHYiJidqnH+TTpnLMIESxdREIGhvjYCzgHQ==">
        </form>
    </div>
    <div class="kadai_score_back basic_btn m_10 p_5">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <img class="f_l w_112" src="https://ongeki-net.com/ongeki-mobile/img/music/6dbc31a5cc77de6a.png">
                <div class="w_302 f_l">
                    <div class="m_10 f_14 l_h_12 break">うぇるかむ to ONSEN!!</div>
                    <hr class="basic_line m_10 break">
                    <div class="m_10 m_b_0">
                        温泉むすめ 道後泉海（CV:篠田みなみ）「温泉むすめ」<br>
                        <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
                        三角 葵
                        Lv.40
                        <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_aqua.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="border_block h_45 m_t_5">
                <img class="kadak_reward_img w_45 p_3"
                     src="https://ongeki-net.com/ongeki-mobile/img/music/a0b4c4bdea32ea80.png">
                <div class="kadai_info_block p_t_5 kadai_color">
                    <div class="p_t_10 p_l_10 f_l f_11 break">
                        <span>課題クリアまで残り<span class="d_ib p_l_10 f_b f_20">3000</span> %</span>
                    </div>
                </div>
            </div>
            <input name="idx" type="hidden"
                   value="HBhXdn/xTSp+csxFT49WQoBC+SlEpkPOASejjgwZklK0Dz5UpCVDDwXTzJBu6e/L3l3jYwsn7aLbldSGExeyJw==">
        </form>
    </div>
    <div class="kadai_score_back basic_btn m_10 p_5">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <img class="f_l w_112" src="https://ongeki-net.com/ongeki-mobile/img/music/7ec667a662a900a1.png">
                <div class="w_302 f_l">
                    <div class="m_10 f_14 l_h_12 break">足立オウフwwww</div>
                    <hr class="basic_line m_10 break">
                    <div class="m_10 m_b_0">
                        笑う角を曲がる<br>
                        <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                        九條 楓
                        Lv.35
                        <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_leaf.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="border_block h_45 m_t_5">
                <img class="kadak_reward_img w_65 m_t_10"
                     src="https://ongeki-net.com/ongeki-mobile/img/ticket/5c00b65c4dcccd38.png">
                <div class="kadai_info_block p_t_5 kadai_color">
                    <div class="p_t_10 p_l_10 f_l f_11 break">
                        <span>課題クリアまで残り<span class="d_ib p_l_10 f_b f_20">600</span> %</span>
                    </div>
                </div>
            </div>
            <input name="idx" type="hidden"
                   value="f1cwvnv0jQpwN23uvCfpxWj0njQ/YFc/gZNiWS/8+A6/UFQFLSnXqyR5ZudKNQUgcZATJfXGcQgla9phibcSqw==">
        </form>
    </div>
    <div class="kadai_score_back basic_btn m_10 p_5">
        <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
            <div>
                <img class="f_l w_112" src="https://ongeki-net.com/ongeki-mobile/img/music/02c68bf0b61fccb0.png">
                <div class="w_302 f_l">
                    <div class="m_10 f_14 l_h_12 break">福宿音屋魂音泉</div>
                    <hr class="basic_line m_10 break">
                    <div class="m_10 m_b_0">
                        魂音泉<br>
                        <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_leaf.png">
                        日向 千夏
                        Lv.20
                        <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_leaf.png">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="border_block h_45 m_t_5">
                <img class="kadak_reward_img w_45"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png">
                <div class="kadai_info_block p_t_5 kadai_color">
                    <div class="p_t_10 p_l_10 f_l f_11 break">
                        <span>課題クリアまで残り<span class="d_ib p_l_10 f_b f_20">800</span> %</span>
                    </div>
                </div>
            </div>
            <input name="idx" type="hidden"
                   value="RzMzrkdJb0JMoDbcUv5rs/VkJEQ4AXeCNSRrSMmA3NXbxOANMbjrNTN7TqpRRMt+5IaXLyJMBe/qifjNtGwVzg==">
        </form>
    </div>
    <div class="chapter_item_container p_5">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/title_chapter_item.png">
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_card_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/card/a541a1970b92322e.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_trophy_img" src="https://ongeki-net.com/ongeki-mobile/img/trophy_Silver.png">
                <div class="chapter_item_trophy_name f_b"><span>う、この流れは……</span></div>
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_trophy_img" src="https://ongeki-net.com/ongeki-mobile/img/trophy_Silver.png">
                <div class="chapter_item_trophy_name f_b"><span>最高ではないか！</span></div>
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_trophy_img" src="https://ongeki-net.com/ongeki-mobile/img/trophy_Platinum.png">
                <div class="chapter_item_trophy_name f_b"><span>ぶらり湯けむり温泉郷</span></div>
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/7e8bcb73e57ee483.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/2afe8ecb83177275.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/0aa66e74f4273e68.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/cfb1d10fc499dbd8.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/f822e7cabd40a054.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/1e23e8b65e70b059.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/a6ce0c8da02543ba.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/55e04680ba59a9c3.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/4cbd363ae4739d18.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/1940946e5313c4a1.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/6482a827b3b49207.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/a9a9b67901657c4b.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/42697ad06571e2a2.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/128eee33edab1623.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/6367a837c035b7c2.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/e75c329c03cee8bb.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/9ccc10d80153cd54.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/8e9d39438e004db9.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/872b90564f3a8bac.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/332617786bebdc53.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/b42c308f50c30465.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/a03d484277076c9f.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/2616b4e1baf7176a.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/effa2b458ba67ed4.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/87afd9230a9da6bc.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/ef1aa8305eb89e03.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/37b77294442472da.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/937b95532c7d0898.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/a3e7ddc116a91ed2.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/c0f0126ed89bf3ac.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/dda3f4644abcad8b.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/c1d4298e468ba005.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/5010db29dd4d7180.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/b4f75743e348e09d.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/6e33f9e559b3a2bf.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/4d96ab928c64d52b.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/86e3381423667491.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/a0006f3f6ef22cb9.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/c4950c4518577b14.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/971bc91badd3fd30.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/15fa12488d69c59a.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/8f57919f1f2f3815.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/10436ab40e37b95b.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/ff9191989ebb5069.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/ee526b6b93b22f51.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/228155e8103bd7f8.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/e666c59f3cc0ea63.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/cd905d0d4ca5da97.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/95cd194c87c4f111.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/72a66a65377bfcd5.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/55457df4f937cb41.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/d7f8224b711a7ffb.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/c8f6bf4147ee8d20.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/411366c70906a522.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/400746a91866f79c.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/35fa07d06ff8d2f2.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/7404b66ed108bf43.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/88e29fdb37522a9d.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/60c84cf8b38dcda8.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/fb6127426dc455a3.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/8f387b6616e0a3f6.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/b417523c4f6c1fcf.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/6f5efdd92c41b6a6.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/b99f4dd404c27d7b.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/67c4fbbdb5f063f2.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/8af0eb592fab4672.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_costume_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/costume/3bb43fe5cd41205c.png">
                <img class="item_jewel_lock_base" src="https://ongeki-net.com/ongeki-mobile/img/lock_jewel.png">
                <img class="item_jewel_lock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_label.png">
                <img class="item_jewel_lock" src="https://ongeki-net.com/ongeki-mobile/img/jewel/3006b571d107cb44.png">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="chapter_item_container p_5">
        <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/title_chapter_item2.png">
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_expup_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/1b66bc3a1e50c995.png">
                <img class="item_jewel_unlock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_off_label.png">
                <div class="item_stock_block f_13 l_h_10 white">14</div>
                <img class="item_recommend" src="https://ongeki-net.com/ongeki-mobile/img/recommend.png">
            </div>
            <div class="item_trade_count_block t_c f_13 white">
                <span class="f_10 f_l">残り</span>10
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_expup_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png">
                <img class="item_jewel_unlock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_off_label.png">
                <div class="item_stock_block f_13 l_h_10 white">5</div>
                <img class="item_recommend" src="https://ongeki-net.com/ongeki-mobile/img/recommend.png">
            </div>
            <div class="item_trade_count_block t_c f_13 white">
                <span class="f_10 f_l">残り</span>3
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_intimateup_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/c97bb65abac89d6b.png">
                <img class="item_jewel_unlock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_off_label.png">
                <div class="item_stock_block f_13 l_h_10 white">1</div>
                <img class="item_recommend" src="https://ongeki-net.com/ongeki-mobile/img/recommend.png">
            </div>
            <div class="item_trade_count_block t_c f_13 white">
                <span class="f_10 f_l">残り</span>10
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_intimateup_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/7cc858d2021c8039.png">
                <img class="item_jewel_unlock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_off_label.png">
                <div class="item_stock_block f_13 l_h_10 white">0</div>
                <img class="item_recommend" src="https://ongeki-net.com/ongeki-mobile/img/recommend.png">
            </div>
            <div class="item_trade_count_block t_c f_13 white">
                <span class="f_10 f_l">残り</span>5
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_intimateup_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png">
                <img class="item_jewel_unlock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_off_label.png">
                <div class="item_stock_block f_13 l_h_10 white">0</div>
                <img class="item_recommend" src="https://ongeki-net.com/ongeki-mobile/img/recommend.png">
            </div>
            <div class="item_trade_count_block t_c f_13 white">
                <span class="f_10 f_l">残り</span>3
            </div>
        </div>
        <div class="col4 f_l p_5 t_c f_0">
            <div class="chapter_item_block">
                <img class="chapter_item_book_img"
                     src="https://ongeki-net.com/ongeki-mobile/img/item/7e2edf6d3ba9709f.png">
                <img class="item_jewel_unlock_label" src="https://ongeki-net.com/ongeki-mobile/img/lock_off_label.png">
                <div class="item_stock_block f_13 l_h_10 white">0</div>
                <img class="item_recommend" src="https://ongeki-net.com/ongeki-mobile/img/recommend.png">
            </div>
            <div class="item_trade_count_block t_c f_13 white">
                <span class="f_10 f_l">残り</span>1
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <hr class="gray_line m_b_0">
</div>
<div class="t_c">
    <button class="f_0" onclick="location.href='/event/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back_event.png"></button>
</div>
