<div class="f_0">
    <a routerLink="/card/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_book_on.png"></a>
    <a routerLink="/card/cardList/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_list.png"></a>
    <a routerLink="/card/deck/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_deck.png"></a>
    <a routerLink="/card/cardmaker/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_maker.png"></a>
    <a routerLink="/card/training/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_training.png"></a>
    <img class="card_training_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_card_book.png"></div>
<div class="t_c">
    <div class="card_count_block">
        <svg viewBox="0 0 63.6619772368 63.6619772368">
            <circle cx="31.8309886184" cy="31.8309886184" fill="#dadada" r="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="rgba(0,0,0,0)" r="15.9154943092" stroke="#f1699a"
                    stroke-dasharray="94.12,5.88" stroke-dashoffset="25" stroke-width="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="#fff" r="30" stroke="#fff"></circle>
            <text fill="#000" font-size="10" text-anchor="middle" x="31.8309886184" y="48">16/17</text>
        </svg>
        <img class="card_count_block_icon" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_n.png">
    </div>
    <div class="card_count_block">
        <svg viewBox="0 0 63.6619772368 63.6619772368">
            <circle cx="31.8309886184" cy="31.8309886184" fill="#dadada" r="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="rgba(0,0,0,0)" r="15.9154943092" stroke="#f1699a"
                    stroke-dasharray="89.39,10.61" stroke-dashoffset="25" stroke-width="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="#fff" r="30" stroke="#fff"></circle>
            <text fill="#000" font-size="10" text-anchor="middle" x="31.8309886184" y="48">118/132</text>
        </svg>
        <img class="card_count_block_icon" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_r.png">
    </div>
    <div class="card_count_block">
        <svg viewBox="0 0 63.6619772368 63.6619772368">
            <circle cx="31.8309886184" cy="31.8309886184" fill="#dadada" r="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="rgba(0,0,0,0)" r="15.9154943092" stroke="#f1699a"
                    stroke-dasharray="51.22,48.78" stroke-dashoffset="25" stroke-width="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="#fff" r="30" stroke="#fff"></circle>
            <text fill="#000" font-size="10" text-anchor="middle" x="31.8309886184" y="48">84/164</text>
        </svg>
        <img class="card_count_block_icon" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_sr.png">
    </div>
    <div class="card_count_block">
        <svg viewBox="0 0 63.6619772368 63.6619772368">
            <circle cx="31.8309886184" cy="31.8309886184" fill="#dadada" r="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="rgba(0,0,0,0)" r="15.9154943092" stroke="#f1699a"
                    stroke-dasharray="23.53,76.47" stroke-dashoffset="25" stroke-width="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="#fff" r="30" stroke="#fff"></circle>
            <text fill="#000" font-size="10" text-anchor="middle" x="31.8309886184" y="48">8/34</text>
        </svg>
        <img class="card_count_block_icon" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_srp.png">
    </div>
    <div class="card_count_block">
        <svg viewBox="0 0 63.6619772368 63.6619772368">
            <circle cx="31.8309886184" cy="31.8309886184" fill="#dadada" r="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="rgba(0,0,0,0)" r="15.9154943092" stroke="#f1699a"
                    stroke-dasharray="17.35,82.65" stroke-dashoffset="25" stroke-width="31.8309886184"></circle>
            <circle cx="31.8309886184" cy="31.8309886184" fill="#fff" r="30" stroke="#fff"></circle>
            <text fill="#000" font-size="10" text-anchor="middle" x="31.8309886184" y="48">17/98</text>
        </svg>
        <img class="card_count_block_icon" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_ssr.png">
    </div>
    <div class="clearfix"></div>
</div>
<div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/e8c10e109a360539.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0001</div>
                <input name="idx" type="hidden"
                       value="hzLmE+hU3hs5Vwq04D+WJtsG2pz1qQn3rgkJkpLuf12PkfhBiUtnRrd5xgRoQgGGMUH+qfsOzD8lrg+3sLRsJQ==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/a23f836d6e35484c.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0002</div>
                <input name="idx" type="hidden"
                       value="KsLWnQq1A1WTMJDK0JZgWj/G634bwgZ46/JeVkpgeDCMcmYAuv3Hm/q/1UtpFug2AVfw0ySudhSFJZYasDmY3w==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/80a8f7511d391924.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0003</div>
                <input name="idx" type="hidden"
                       value="ekcmsGuIHfNS55P7X9ZsWc259V10CwPsYjbE93/rSzeiy/XVWxikx7SKDmQvGz7/ACP5w5hHMkUrwbkI83fC1g==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/ee3157bc507d629e.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0004</div>
                <input name="idx" type="hidden"
                       value="VgYekycs/INq6Teb9y0upFH6Ybf7ABrh5LYRMiJzs37OUqKSvJTcfkEabmSV8WIlFafHGJ0afXmEuJeLR9kNmA==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/d87e561254120a6d.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0005</div>
                <input name="idx" type="hidden"
                       value="aLgnzVRocybwsuJSukoCbXIrrUuggWZJdGhkBU1zSQV/w16t79dHaOKzJwl/kaufEM8GPXoWEi6MqenAzseyKA==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/789dbb1622585733.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0006</div>
                <input name="idx" type="hidden"
                       value="KbV9HbspWg614SCkvx2wKmzH2jA3gY58wBu+OBpwYTXjhObc/f/D13hL5zCtYUQ6/LHoPmwaAKsHBruZ2YD3vA==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/b823091aab4b0d14.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0007</div>
                <input name="idx" type="hidden"
                       value="MjNrdQbXJOpn4kNKuQtfQxS+XXiOfS/RW90inHGE1qJUa59Vc5+/HCLI0dPCuJee/7f5v58Yo3o0DnIY+KprvQ==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/3e515b0bc7703f73.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0008</div>
                <input name="idx" type="hidden"
                       value="EXFegJcZah1u/HiXexrxdn0ahqcyMrmXf/FUUV8n0GEhXRAqczMTwAdAH5jdXYyDo/qYETU3kYqVuH6jCBn2sQ==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/21b048bee21fd3fb.png">
            <img class="w_127 card_lock_img" src="https://ongeki-net.com/ongeki-mobile/img/lock_card.png">
            <img class="card_lock_icon" src="https://ongeki-net.com/ongeki-mobile/img/lock.png">
            <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0009</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/2edb4d2345e596ef.png">
            <img class="w_127 card_lock_img" src="https://ongeki-net.com/ongeki-mobile/img/lock_card.png">
            <img class="card_lock_icon" src="https://ongeki-net.com/ongeki-mobile/img/lock.png">
            <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0010</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/66cf6ac1952c8f55.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0011</div>
                <input name="idx" type="hidden"
                       value="mLh3mNBYoc6xYJhdJ3A7nc/BewFUBf3bIZFe3t+ZWyZY4P6sVuy659GtE/7HEzPPGTwQacAUdNgtmul7webiSA==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/beb0c657cbf17d84.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0012</div>
                <input name="idx" type="hidden"
                       value="MFssIXq8Bmy/8VV3znYx45RAvFBwRSuunfl2mmo0sXTjSQUNySzA0NXDpUo3JKvf3xSNALkebpdFmzC/TpzObw==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/3b7712deb35fef40.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0013</div>
                <input name="idx" type="hidden"
                       value="Mq4rQjmAaSqmgsPIfHGnjJG2SPxHZA2ufKC4kjaN3E/678cH+d4QHUnhuMzg0bfD1+pfUI8W4uoWAcIVfrYy/g==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/30aa3f0799e34715.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0014</div>
                <input name="idx" type="hidden"
                       value="X/ITsMETnOQEs3rJeyOWqF4IfgkkYYmaKagp6aTqHex1ncWOn+Omy0Qg3kOHps3vwStZdx+O7G+d2Ck+kTh3yQ==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/f0fd178ca623e236.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0015</div>
                <input name="idx" type="hidden"
                       value="GmkkVFWSipXUk1qzY6u1lyWFgr7cbn18tx3Yyxf4of+6lqv5GAZyAFqNupmr3EO4Ws/mIpFfH6moVKTEupj/yw==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/9e4d994bb3eec70f.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0016</div>
                <input name="idx" type="hidden"
                       value="fw5LMJf3u9JAe7kVoA1vEv0//io8ojKeFbjufkxs1peUdlZapHviTlUsTBmyMXroDjeOdhyAlOvu6PKd40NePg==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/0bc3b28817e2c20c.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0017</div>
                <input name="idx" type="hidden"
                       value="AiCKsFY0IeKzQFj2aPFz3d5oWe1SubtaKTsZQk85luqWFOSXJH+4H7wYnpdo3KqO0M53oKtt8ZRu03lubO1d2g==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/23ed013250d3ff5c.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0018</div>
                <input name="idx" type="hidden"
                       value="6BlA8AT/5RXgO75QCoXq2mBLvPCN/wtLS0DW1T0IvDDgpVvI53O3AVMEGgbOnYOUFgac1IXQlz6qqiGI3KGIPw==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/d5bcba514afc3d75.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0019</div>
                <input name="idx" type="hidden"
                       value="gvF2VnzLFW+X111kzicQd9b1kqptaQgwupYDZEiG2v11B0mjoWE1DhRQcVabgPpfyflkk+g0fG8mCA//xzdRKQ==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/64ee82e875445779.png">
            <img class="w_127 card_lock_img" src="https://ongeki-net.com/ongeki-mobile/img/lock_card.png">
            <img class="card_lock_icon" src="https://ongeki-net.com/ongeki-mobile/img/lock.png">
            <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0020</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/bb1e3409822498cd.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0021</div>
                <input name="idx" type="hidden"
                       value="udWgnDdXiU/GFCo/i7Q6FPWN8ofi4DkwlSxZG11HfcALM02tj6MTQzonjeBzWIvVeAqfRcFR5ULojWGNAsdY8g==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/4427c448f3f70d95.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0022</div>
                <input name="idx" type="hidden"
                       value="FOnxiFqRYP+KiUmlkkN/ZsF44BagCkKtTuRYEBvhh0xMz4TKurxjgPil9DeijxDUW5UuSZ9Vx4+jjr88rBrccg==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/463dad3dd4a615bb.png">
            <img class="w_127 card_lock_img" src="https://ongeki-net.com/ongeki-mobile/img/lock_card.png">
            <img class="card_lock_icon" src="https://ongeki-net.com/ongeki-mobile/img/lock.png">
            <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0023</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/0e5c4e66aff4c77c.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0024</div>
                <input name="idx" type="hidden"
                       value="esz1Ee+REr1m56ewov9idQ9W//3FptsoW1+/sRJo1sFcvKjxt4SLJNVA8WmLd+x6R14O8kbzLMi5bENEP70+Uw==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/bce5f0125884c79b.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0025</div>
                <input name="idx" type="hidden"
                       value="xHL2rirThaJlYEZA94N8vmncdD5vUHP0siyVY6zIIZ309ju82eHyPjBAjOdXaeNNnp7Z11ANLJMNsQFsedUA7g==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/0748a09823b25e5e.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0026</div>
                <input name="idx" type="hidden"
                       value="9iNNx89JdApOshCAJ1PnGndJX04i205Pt/P2CyWMhltpuaTFCZCshyVvH6KtjcG996l9acy2ZY3gAXktNVi65A==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/7757c90f8a5898e6.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0027</div>
                <input name="idx" type="hidden"
                       value="xegBJT+eL7AS1AVZW46PDa6BesovyG8HLewawHwilxObp9AALN+u6AwiRKo5Kl+F2YGDAADT8hV0jPu59R3eqg==">
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <form accept-charset="utf-8" action="/card/cardDetail/" method="get">
                <button class="f_0" type="submit"><img
                        class="w_127 basic_btn"
                        src="https://ongeki-net.com/ongeki-mobile/img/card/3a856602a4f2ee61.png"></button>
                <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0028</div>
                <input name="idx" type="hidden"
                       value="65HBJShP64lR/df42kyqKX0WakDNE3Rl68Qbh/xAlRE6unrkCcY77hEpEgGnOkFUy3OaFJZd+ySsYxWexmzo8A==">
            </form>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/1db2fdf0134a2865.png">
            <img class="w_127 card_lock_img" src="https://ongeki-net.com/ongeki-mobile/img/lock_card.png">
            <img class="card_lock_icon" src="https://ongeki-net.com/ongeki-mobile/img/lock.png">
            <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0029</div>
        </div>
    </div>
    <div class="f_l col3">
        <div class="t_c border_block m_5 p_5">
            <img class="w_127 gray_img" src="https://ongeki-net.com/ongeki-mobile/img/card/c6de1a2389057466.png">
            <img class="w_127 card_lock_img" src="https://ongeki-net.com/ongeki-mobile/img/lock_card.png">
            <img class="card_lock_icon" src="https://ongeki-net.com/ongeki-mobile/img/lock.png">
            <div class="t_c break f_11">[O.N.G.E.K.I.]1.00-0030</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="clearfix"></div>
</div>
<hr class="gray_line">
<form accept-charset="utf-8" action="/card/pages/" class="v_m f_0" method="get">
    <button class="m_5" name="type" type="submit" value="first"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_first.png"></button>
    <button class="m_5" name="type" type="submit" value="prev"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_prev.png"></button>
    <div class="d_ib m_5 v_t"><input class="pager" name="idx" type="text" value="1"><span class="f_15">/15</span></div>
    <button class="m_5" name="type" type="submit" value="next"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_next.png"></button>
    <button class="m_5" name="type" type="submit" value="last"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_last.png"></button>
</form>
