<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_loginbonus.png?ver=1.30.0">
</div>
<div class="f_0">
    <div class="news_tab_block t_l">
        <a routerLink="/home/loginBonusSpecial/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_special.png"></a>
        <a routerLink="/home/loginBonus/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_ongeki_on.png"></a>
        <a routerLink="/home/loginBonusStandard/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_standard.png"></a>
        <a routerLink="/home/loginBonusPremium/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_premium.png"></a>
    </div>
</div>

<div class="container4 f_0">
    <hr class="gray_line m_t_0 m_b_0">
    <div class="loginbonus_container">
        <div class="loginbonus_chara_container" style="width: 480px;">
            <img class="loginbonus_chara"
                 src="https://ongeki-net.com/ongeki-mobile/img/chara/3b785622706742b1.png?ver=1.30.0" style="display: block; left: -115.2px;">
        </div>
        <div class="p_t_10 f_14 white">本日のログインボーナス：未受け取り</div>
        <div class="p_r_5 t_r f_14">No.015</div>
        <div class="loginbonus_item_block_1">
            <img class="loginbonus_item_block_back"
                 src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_normal.png">
            <div class="loginbonus_item_block_no f_11">1</div>
            <img class="loginbonus_item_money" src="https://ongeki-net.com/ongeki-mobile/img/money_m.png">
            <div class="loginbonus_item_detail f_11">
                <div><span>マニー</span></div>
            </div>
            <img class="loginbonus_item_get" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
        </div>
        <div class="loginbonus_item_block_2">
            <img class="loginbonus_item_block_back"
                 src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_normal.png">
            <div class="loginbonus_item_block_no f_11">2</div>
            <img class="loginbonus_item" src="https://ongeki-net.com/ongeki-mobile/img/item/1b66bc3a1e50c995.png">
            <div class="loginbonus_item_detail f_11">
                <div class="loginbonus_marquee"><span>【ALL】強化アイテム（中）</span></div>
            </div>
            <img class="loginbonus_item_get" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
        </div>
        <div class="loginbonus_item_block_3">
            <img class="loginbonus_item_block_back" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
            <div class="loginbonus_item_block_no f_11">3</div>
            <img class="loginbonus_item_jewel"
                 src="https://ongeki-net.com/ongeki-mobile/img/jewel/658a4874416cf515.png">
            <div class="loginbonus_item_detail f_11">
                <div class="loginbonus_marquee"><span>オールマイティジュエル</span></div>
            </div>
            <img class="loginbonus_item_get" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
        </div>
        <div class="loginbonus_item_block_4">
            <img class="loginbonus_item_block_back"
                 src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_normal.png">
            <div class="loginbonus_item_block_no f_11">4</div>
            <img class="loginbonus_item_money" src="https://ongeki-net.com/ongeki-mobile/img/money_m.png">
            <div class="loginbonus_item_detail f_11">
                <div><span>マニー</span></div>
            </div>
            <img class="loginbonus_item_get" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
        </div>
        <div class="loginbonus_item_block_5">
            <img class="loginbonus_item_block_back"
                 src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_normal.png">
            <div class="loginbonus_item_block_no f_11">5</div>
            <img class="loginbonus_item" src="https://ongeki-net.com/ongeki-mobile/img/item/c97bb65abac89d6b.png">
            <div class="loginbonus_item_detail f_11">
                <div class="loginbonus_marquee"><span>親密度上昇プレゼント（小）</span></div>
            </div>
            <img class="loginbonus_item_get" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
        </div>
        <div class="loginbonus_item_block_6">
            <img class="loginbonus_item_block_back" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
            <div class="loginbonus_item_block_no f_11">6</div>
            <img class="loginbonus_item_jewel"
                 src="https://ongeki-net.com/ongeki-mobile/img/jewel/658a4874416cf515.png">
            <div class="loginbonus_item_detail f_11">
                <div class="loginbonus_marquee"><span>オールマイティジュエル</span></div>
            </div>
            <img class="loginbonus_item_get" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_get_stamp.png">
        </div>
        <div class="loginbonus_item_block_7">
            <img class="loginbonus_item_block_back"
                 src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_normal.png">
            <div class="loginbonus_item_block_no f_11">7</div>
            <img class="loginbonus_item_money" src="https://ongeki-net.com/ongeki-mobile/img/money_m.png">
            <div class="loginbonus_item_detail f_11">
                <div><span>マニー</span></div>
            </div>
        </div>
        <div class="loginbonus_item_block_8">
            <img class="loginbonus_item_block_back" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
            <div class="loginbonus_item_block_no f_11">8</div>
            <img class="loginbonus_item" src="https://ongeki-net.com/ongeki-mobile/img/item/7cc858d2021c8039.png">
            <div class="loginbonus_item_detail f_11">
                <div class="loginbonus_marquee"><span>親密度上昇プレゼント（中）</span></div>
            </div>
        </div>
        <div class="loginbonus_item_block_9">
            <img class="loginbonus_item_block_back"
                 src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_normal.png">
            <div class="loginbonus_item_block_no f_11">9</div>
            <img class="loginbonus_item_money" src="https://ongeki-net.com/ongeki-mobile/img/money_m.png">
            <div class="loginbonus_item_detail f_11">
                <div><span>マニー</span></div>
            </div>
        </div>
        <div class="loginbonus_item_block_10">
            <img class="loginbonus_item_block_back" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_gold.png">
            <div class="loginbonus_item_block_no f_11">10</div>
            <img class="loginbonus_item" src="https://ongeki-net.com/ongeki-mobile/img/item/0b593087052470c5.png">
            <div class="loginbonus_item_detail f_11">
                <div class="loginbonus_marquee"><span>【ALL】強化アイテム（大）</span></div>
            </div>
        </div>
        <img class="loginbonus_item_block_next" src="https://ongeki-net.com/ongeki-mobile/img/loginbonus_next.png">
    </div>
    <hr class="gray_line m_t_0">
</div>
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
