<div class="f_0">
    <a routerLink="/collection/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_icon.png"></a>
    <a routerLink="/collection/trophy/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_trophy.png"></a>
    <a routerLink="/collection/plate/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_plate.png"></a>
    <a routerLink="/collection/kaikaticket/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_collection_item_on.png"></a>
</div>
<div class="m_t_15 f_0">
    <div class="news_tab_block t_c">
        <a routerLink="/collection/kaikaticket/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_kaikaticket.png"></a>
        <a routerLink="/collection/expUpItem/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_exp.png"></a>
        <a routerLink="/collection/intimateUpItem/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_intimate_on.png"></a>
        <a routerLink="/collection/starticket/"><img
                src="https://ongeki-net.com/ongeki-mobile/img/tab_starticket.png"></a>
    </div>
</div>

<hr class="gray_line m_t_0">
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_intimateupitem.png"></div>
<div class="border_block m_10 p_5">
    <div class="col4 f_l">
        <img class="w_74 m_t_5" src="https://ongeki-net.com/ongeki-mobile/img/item/c97bb65abac89d6b.png">
    </div>
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">親密度上昇プレゼント（小）</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="f_15 black"><span class="d_ib m_3 p_5">1個所有</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="border_block m_10 p_5">
    <div class="col4 f_l">
        <img class="w_74 m_t_5" src="https://ongeki-net.com/ongeki-mobile/img/item/7cc858d2021c8039.png">
    </div>
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">親密度上昇プレゼント（中）</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="f_15 black"><span class="d_ib m_3 p_5">0個所有</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="border_block m_10 p_5">
    <div class="col4 f_l">
        <img class="w_74 m_t_5" src="https://ongeki-net.com/ongeki-mobile/img/item/81aed7cdc4ce4c4e.png">
    </div>
    <div class="col3_2 f_l p_5 p_b_0">
        <div class="f_12 gray break">親密度上昇プレゼント（大）</div>
        <hr class="gray_line m_t_0 m_b_0">
        <div class="f_15 black"><span class="d_ib m_3 p_5">0個所有</span></div>
    </div>
    <div class="clearfix"></div>
</div>
<hr class="gray_line m_t_0">
