<div class="f_0">
    <a routerLink="/card/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_book.png"></a>
    <a routerLink="/card/cardList/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_list.png"></a>
    <a routerLink="/card/deck/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_deck.png"></a>
    <a routerLink="/card/cardmaker/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_maker_on.png"></a>
    <a routerLink="/card/training/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_card_training.png"></a>
    <img class="card_training_flag spin" src="https://ongeki-net.com/ongeki-mobile/img/icon_premium.png">
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_gachaprint.png"></div>
<div class="m_15 m_b_0 f_0">
    <div class="w_100 f_l">
        <div class="border_block p_5">
            <img class="w_35 f_l" src="https://ongeki-net.com/ongeki-mobile/img/item/7e2edf6d3ba9709f.png">
            <div class="w_35 f_r p_5">
                <div class="p_t_10 f_14 t_r black">0</div>
            </div>
            s
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="w_350 f_r t_l">
        <div class="border_block w_112 m_l_4 m_b_5 p_5 d_ib">
            <img class="h_24 f_l" src="https://ongeki-net.com/ongeki-mobile/img/ticket/35ea8e08b0227734.png">
            <div class="f_12 t_r black">1</div>
        </div>
        <div class="border_block w_112 m_l_4 m_b_5 p_5 d_ib">
            <img class="h_24 f_l" src="https://ongeki-net.com/ongeki-mobile/img/ticket/1dca2d172db6d334.png">
            <div class="f_12 t_r black">0</div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<img class="w_450 m_5" src="https://ongeki-net.com/ongeki-mobile/img/line_04.png">
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/c239c5211dee81d7.png">
        <div class="t_r p_t_5 p_r_5 f_13 l_h_10 black">
            セレクトポイント：0／110<br>
        </div>
        <div class="t_r p_r_5 f_13">
            開催期間：2021/11/25 06:00 ～ 2021/12/23 01:59
        </div>
    </button>
    <input name="idx" type="hidden" value="1126">
</form>
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/81ddb04983d409d9.png">
        <div class="t_r p_r_5 f_13">
            開催期間：2021/11/11 06:00 ～ 2021/12/02 01:59
        </div>
    </button>
    <input name="idx" type="hidden" value="1121">
</form>
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/2b71b5a98059e72d.png">
        <div class="t_r p_r_5 f_13">
            開催期間：2021/10/28 06:00 ～ 2021/12/02 01:59
        </div>
    </button>
    <input name="idx" type="hidden" value="1114">
</form>
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/4a10c312527ade0b.png">
        <div class="t_r p_r_5 f_13">
            開催期間：2021/10/28 06:00 ～ 2021/12/02 01:59
        </div>
    </button>
    <input name="idx" type="hidden" value="1113">
</form>
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/19a07fd1670c7aae.png">
    </button>
    <input name="idx" type="hidden" value="1112">
</form>
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/cd03ebc8b078b2aa.png">
    </button>
    <input name="idx" type="hidden" value="1012">
</form>
<form accept-charset="utf-8" action="/card/gachaDetail/" method="get">
    <button class="basic_btn m_10 f_0" type="submit">
        <img class="w_450" src="https://ongeki-net.com/ongeki-mobile/img/gacha/9d7ced66aa16034c.png">
    </button>
    <input name="idx" type="hidden" value="1011">
</form>
