<div class="f_0">
    <a routerLink="/friend/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_list_on.png"></a>
    <a routerLink="/friend/search/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_search.png"></a>
    <a routerLink="/friend/matching/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_match.png"></a>
    <a routerLink="/friend/invite/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_invite.png"></a>
    <a routerLink="/friend/accept">
        <img src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_friend_accept.png">
    </a>
</div>

<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_friend.png"></div>
<div class="m_15 f_12 l_h_12">
    <table>
        <tbody>
        <tr>
            <td class="t_r v_b f_0 p_3" colspan="3">
                <div align="right">
                    <a routerLink="/friend/userFriendCode/">
                        <img class="w_212" src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_code.png">
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="w_139 v_b">
                <div class="border_block m_5 p_3 t_c">
                    フレンド数<br>
                    9/100
                </div>
            </td>
            <td class="w_139 v_b">
                <div class="border_block m_5 p_3 t_c">
                    お気に入り数<br>
                    5/10
                </div>
            </td>
            <td class="w_139 v_b">
                <div class="border_block m_5 p_3 t_c">
                    ライバル数<br>
                    0/3
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_favorite t_l f_0">
            <img class="spin" src="https://ongeki-net.com/ongeki-mobile/img/friend_favorite.png">
        </div>
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/7b629c6b496688ee.png">
            </div>
            <div class="friend_trophy_block trophy_4 f_11 f_b">
                <span>心</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="5066189085337">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００１</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/21 21:57</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                初音ミク大好き！
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <form accept-charset="utf-8" action="/friend/friendGenreVs/"
                  class="d_ib" method="get">
                <input name="idx" type="hidden" value="5066189085337">
                <button class="f_0" type="submit"><img class="h_40 basic_btn m_5"
                                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/favoriteOff/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="5066189085337">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_off.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="5066189085337">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_favorite t_l f_0">
            <img class="spin" src="https://ongeki-net.com/ongeki-mobile/img/friend_favorite.png">
        </div>
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/8eeeb886e8fd4ec0.png">
            </div>
            <div class="friend_trophy_block trophy_1 f_11 f_b">
                <span>栃木勢</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="6062288284843">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００２</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/21 21:26</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                　
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <form accept-charset="utf-8" action="/friend/friendGenreVs/"
                  class="d_ib" method="get">
                <input name="idx" type="hidden" value="6062288284843">
                <button class="f_0" type="submit"><img class="h_40 basic_btn m_5"
                                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/favoriteOff/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6062288284843">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_off.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6062288284843">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_favorite t_l f_0">
            <img class="spin" src="https://ongeki-net.com/ongeki-mobile/img/friend_favorite.png">
        </div>
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/331a2488cd3393f3.png">
            </div>
            <div class="friend_trophy_block trophy_4 f_11 f_b">
                <span>Mini skirt</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="6086911997032">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００３</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/26 19:16</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                ＬＳＰ
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <form accept-charset="utf-8" action="/friend/friendGenreVs/"
                  class="d_ib" method="get">
                <input name="idx" type="hidden" value="6086911997032">
                <button class="f_0" type="submit"><img class="h_40 basic_btn m_5"
                                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/favoriteOff/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6086911997032">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_off.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6086911997032">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_favorite t_l f_0">
            <img class="spin" src="https://ongeki-net.com/ongeki-mobile/img/friend_favorite.png">
        </div>
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
            </div>
            <div class="friend_trophy_block trophy_5 f_11 f_b">
                <span>全国制覇</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="4086977271786">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００４</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/26 21:43</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                chinatsu.
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <form accept-charset="utf-8" action="/friend/friendGenreVs/"
                  class="d_ib" method="get">
                <input name="idx" type="hidden" value="4086977271786">
                <button class="f_0" type="submit"><img class="h_40 basic_btn m_5"
                                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/favoriteOff/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="4086977271786">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_off.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="4086977271786">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_favorite t_l f_0">
            <img class="spin" src="https://ongeki-net.com/ongeki-mobile/img/friend_favorite.png">
        </div>
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/3fd5e6604ee942bc.png">
            </div>
            <div class="friend_trophy_block trophy_5 f_11 f_b">
                <span>TOP 10 [魔法少女まどか☆マギカ]</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="1001597068925">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００５</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/10/22 15:29</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                2020/02/01 全国制覇<br>
                2020/10/30 魔法少女まどか☆マギカ 8位<br>
                2020/11/21 柚子 親密度700 達成<br>
                2021/08/12 柚子 親密度800 達成(77位)
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <form accept-charset="utf-8" action="/friend/friendGenreVs/"
                  class="d_ib" method="get">
                <input name="idx" type="hidden" value="1001597068925">
                <button class="f_0" type="submit"><img class="h_40 basic_btn m_5"
                                                       src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/favoriteOff/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="1001597068925">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_off.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="1001597068925">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/820e5231d9c3fade.png">
            </div>
            <div class="friend_trophy_block trophy_4 f_11 f_b">
                <span>ぐーたらゲーマーのお世話係・年365日</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="6011312764364">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００６</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/29 16:05</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                孤 兒
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <img class="h_40 basic_btn gray_img m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png">
            <form accept-charset="utf-8" action="/friend/favoriteOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6011312764364">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_on.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6011312764364">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/a787025fb8fb5e98.png">
            </div>
            <div class="friend_trophy_block trophy_4 f_11 f_b">
                <span>不思議少女の着ぐるみフレンズ・気が合う仲</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="6066506428056">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００７</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/26 16:59</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                　
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <img class="h_40 basic_btn gray_img m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png">
            <form accept-charset="utf-8" action="/friend/favoriteOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6066506428056">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_on.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="6066506428056">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/53f81a384ce2ffab.png">
            </div>
            <div class="friend_trophy_block trophy_5 f_11 f_b">
                <span>星咲あかり推し</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="4035120407679">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００８</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/26 19:10</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                　
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <img class="h_40 basic_btn gray_img m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png">
            <form accept-charset="utf-8" action="/friend/favoriteOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="4035120407679">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_on.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="4035120407679">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div>
    <div class="back_friend_block m_15 p_b_5 f_13">
        <div class="friend_data_container black">
            <div class="friend_icon_block f_0">
                <img src="https://ongeki-net.com/ongeki-mobile/img/icon/023963169d53b361.png">
            </div>
            <div class="friend_trophy_block trophy_4 f_11 f_b">
                <span>ハッピーな柚子の笑顔を守る会</span>
            </div>
            <div class="friend_name_block f_15">
                <form accept-charset="utf-8" action="/friend/friendDetail/"
                      class="f_r" method="get">
                    <input name="idx" type="hidden" value="7040149222477">
                    <button type="submit"><span class="underline">ＦＲＩＥＮＤ＿００９</span></button>
                </form>
            </div>
            <div class="friend_date_block t_r gray">最終プレイ日時：2021/11/28 20:37</div>
        </div>
        <div class="border_block t_l m_10 m_b_0 p_5 f_12 l_h_12 break black">
            <div class="comment_block break">
                差不多得了吧.jpg
            </div>
        </div>
        <div class="m_5 m_t_0 t_r f_0">
            <img class="h_40 basic_btn gray_img m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_vs.png">
            <form accept-charset="utf-8" action="/friend/favoriteOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="7040149222477">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_favorite_on.png"></button>
            </form>
            <form accept-charset="utf-8" action="/friend/rivalOn/" class="d_ib"
                  method="post">
                <input name="idx" type="hidden" value="7040149222477">
                <input name="token" type="hidden" value="d846ad202670fffb7d77680fc0e09419">
                <button class="f_0" type="submit"><img
                        class="h_40 d_ib basic_btn m_5"
                        src="https://ongeki-net.com/ongeki-mobile/img/btn_friend_rival_on.png"></button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr class="gray_line">
<div class="gray_img f_0">
    <img class="m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_first.png">
    <img class="m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_prev.png">
    <div class="d_ib m_5 v_t">
        <div class="d_ib border_block w_35 p_5 t_l f_14">1</div>
        <span class="f_15">/1</span></div>
    <img class="m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_next.png">
    <img class="m_5" src="https://ongeki-net.com/ongeki-mobile/img/btn_last.png">
</div>
