<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_activity.png"></div>
<div class="container3 t_l">
    <hr class="gray_line">
    <div class="m_15">
        <table class="activity_table collapse f_12">
            <tbody>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 21:08
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    FULL BELL &amp; ALL BREAKを達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    初音天地開闢神話
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 21:08
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    テクニカルランク RANK SSS+ を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    初音天地開闢神話
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 21:04
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    MASTERを解禁しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    初音天地開闢神話
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 21:04
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    バトルランク 秀 を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    初音天地開闢神話
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 20:56
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    オンゲキをプレイしました！<br>
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/331a2488cd3393f3.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００３</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 19:11
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    バトルランク 極 を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    竹
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/331a2488cd3393f3.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００３</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 18:55
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    FULL COMBOを達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    Baqeela
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/331a2488cd3393f3.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００３</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 18:44
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    MASTERを解禁しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    初音天地開闢神話
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/331a2488cd3393f3.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００３</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 18:44
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    テクニカルランク RANK SSS を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    初音天地開闢神話
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/331a2488cd3393f3.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００３</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/26 18:44
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    オンゲキをプレイしました！<br>
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/22 18:49
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    FULL BELL &amp; ALL BREAKを達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    僕たちの旅とエピローグ。
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/22 18:27
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    テクニカルランク RANK SSS+ を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    Satori ～3rd EyEs (2020 Recall)
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/22 18:09
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    バトルランク 秀 を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    Singularity
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/22ef1eabac2e963a.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿０１０</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/22 18:05
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    オンゲキをプレイしました！<br>
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">あなた</div>
                    <div class="f_14 l_h_12 f_b">ＵＳＥＲ＿００１</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/21 21:51
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    バトルランク 秀 を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
                    TEmPTaTiON
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">あなた</div>
                    <div class="f_14 l_h_12 f_b">ＵＳＥＲ＿００１</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/21 21:47
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    MASTERを解禁しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
                    TEmPTaTiON
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/7b629c6b496688ee.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００１</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/21 21:47
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    MASTERを解禁しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
                    TEmPTaTiON
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">あなた</div>
                    <div class="f_14 l_h_12 f_b">ＵＳＥＲ＿００１</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/21 21:47
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    テクニカルランク RANK SSS を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
                    TEmPTaTiON
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/7b629c6b496688ee.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">お気に入りフレンド</div>
                    <div class="f_14 l_h_12 f_b">ＦＲＩＥＮＤ＿００１</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/21 21:47
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    テクニカルランク RANK SSS を達成しました！<br>
                    <img class="v_m" src="https://ongeki-net.com/ongeki-mobile/img/diff_expert.png">
                    TEmPTaTiON
                </td>
            </tr>
            <tr>
                <td class="w_87 v_t f_0" rowspan="2">
                    <img class="activity_icon_block"
                         src="https://ongeki-net.com/ongeki-mobile/img/icon/dece117ac53364c1.png">
                </td>
                <td class="v_t l_h_10">
                    <div class="gray f_11 l_h_10">あなた</div>
                    <div class="f_14 l_h_12 f_b">ＵＳＥＲ＿００１</div>
                </td>
                <td class="t_r v_t sub_color l_h_10">
                    2021/11/21 21:47
                </td>
            </tr>
            <tr>
                <td class="v_t p_10 break" colspan="2">
                    オンゲキをプレイしました！<br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="gray_line">
</div>
<form accept-charset="utf-8" action="/home/activity/pages/" class="f_0"
      method="get">
    <button class="m_5" name="type" type="submit" value="first"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_first.png"></button>
    <button class="m_5" name="type" type="submit" value="prev"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_prev.png"></button>
    <div class="d_ib m_5 v_t"><input class="pager" name="idx" type="text" value="1"><span class="f_15">/5</span></div>
    <button class="m_5" name="type" type="submit" value="next"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_next.png"></button>
    <button class="m_5" name="type" type="submit" value="last"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_last.png"></button>
</form>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/';" type="button"><img
            src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
