<div class="f_0">
  <a routerLink="/record/"><img
      src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
  <a routerLink="/record/playlog/"><img
      src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog_on.png?ver=1.30.0"></a>
  <a routerLink="/record/eventlog/"><img
      src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
  <a routerLink="/record/musicGenre/"><img
      src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
  <a routerLink="/record/region/"><img
      src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region.png?ver=1.30.0"></a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_playlog.png"></div>
<div class="container3 t_l">
  <hr class="gray_line">
  <div class="m_10">
    <img src="https://ongeki-net.com/ongeki-mobile/img/diff_lunatic.png"> <span class="f_r f_12 h_10">2021/11/21
      21:55</span>
    <div class="m_5 l_h_10 break">
      <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> No Limit RED Force
    </div>
    <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/6ada0962cdfcadde.png">
    <div class="f_r">
      <div class="playlog_score_block m_5 p_5 t_r white">
        <table>
          <tbody>
            <tr>
              <td class="battle_score_block_new">
                <div class="f_11">BATTLE SCORE</div>
                <div class="f_20">12,353,439</div>
              </td>
              <td class="w_65" rowspan="2">
                <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_good.png">
              </td>
            </tr>
            <tr>
              <td class="battle_score_block_new">
                <div class="f_11">OVER DAMAGE</div>
                <div class="f_20">170.63％</div>
              </td>
            </tr>
            <tr>
              <td class="technical_score_block_new">
                <div class="f_11">TECHNICAL SCORE</div>
                <div class="f_20">999,697</div>
              </td>
              <td class="w_65">
                <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_ss.png">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix p_t_5 t_l f_0">
          <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
          <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
          <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="vs_container">
    <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/playlog_deck.png">
    <div class="vs_block m_10 p_3 f_13 break">
      <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_fire.png">
      星咲 あかり Lv.55
      <img class=" v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_fire.png">
    </div>
    <div class="t_c l_h_10">
      <div class="card_block f_l col3 f_0">
        <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
            class="sub_color">322</span>
        </div>
        <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/f9ae5daed6b15d52.png">
      </div>
      <div class="card_block f_l col3">
        <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
            class="sub_color">322</span>
        </div>
        <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/bf4ddffb888d89c9.png">
      </div>
      <div class="card_block f_l col3">
        <div class="card_info_block f_11 gray"><span class="main_color">Lv.60</span>　攻撃力<span
            class="sub_color">304</span>
        </div>
        <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/43f4de065ede32a5.png">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="m_10 t_r f_12">
    <div class="col2 f_l p_5">
      <table class="score_detail_table f_r">
        <tbody>
          <tr>
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_max_combo.png"></th>
            <td class="f_b">428</td>
          </tr>
          <tr class="score_critical_break">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_critical_break.png">
            </th>
            <td class="f_b">1,421</td>
          </tr>
          <tr class="score_break">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_break.png">
            </th>
            <td class="f_b">69</td>
          </tr>
          <tr class="score_hit">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_hit.png"></th>
            <td class="f_b">6</td>
          </tr>
          <tr class="score_miss">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_miss.png">
            </th>
            <td class="f_b">7</td>
          </tr>
          <tr class="score_bell">
            <th>BELL</th>
            <td class="f_b">67/67</td>
          </tr>
          <tr class="score_damage">
            <th>DAMAGE</th>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col2 f_r p_5">
      <table class="score_detail_table">
        <tbody>
          <tr>
            <th>TAP</th>
            <td class="f_b">98%</td>
          </tr>
          <tr>
            <th>HOLD</th>
            <td class="f_b">99%</td>
          </tr>
          <tr>
            <th>FLICK</th>
            <td class="f_b">98%</td>
          </tr>
          <tr>
            <th>SIDE TAP</th>
            <td class="f_b">98%</td>
          </tr>
          <tr>
            <th>SIDE HOLD</th>
            <td class="f_b">100%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="playlog_event_name m_10 f_13 l_h_10 t_l break">
    <img class="f_l h_17 m_10" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png">
    <div class="p_10">Mission : マンスリーミッション(2021/11月)<span class="main_color f_b"> +152 </span>獲得！</div>
  </div>
  <div class="t_l m_10 f_13 l_h_10 break" id="placeName">
    <img class="f_r" id="placeNameCtrl" src="https://ongeki-net.com/ongeki-mobile/img/on.png">
    <span class="d_b p_10" style="display: block;">Dummy Shop</span>
    <div class="clearfix"></div>
  </div>
  <div class="p_r_5">
    <div class="f_r m_5">
      <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <img class="basic_btn h_35" id="myRecord" src="https://ongeki-net.com/ongeki-mobile/img/btn_myrecord.png">
        <input name="idx" type="hidden"
          value="jAWjILG12kDsNlP28plDeuXdLU3G/7uMxBuR1keTdjxfea16W25PvJZbB2PSTy88In1hTK9fEZHs9URRXwO0mw==">
      </form>
    </div>
    <div class="lunatic_score_back basic_btn w_100 m_5 p_5 d_ib f_r t_c f_12 white" onclick="linkRanking(this)">
      <form accept-charset="utf-8" action="/ranking/musicRankingDetail/" method="get">
        ランキング
        <input name="diff" type="hidden" value="10">
        <input name="idx" type="hidden"
          value="jAWjILG12kDsNlP28plDeuXdLU3G/7uMxBuR1keTdjxfea16W25PvJZbB2PSTy88In1hTK9fEZHs9URRXwO0mw==">
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr class="gray_line">
</div>
<div class="t_c">
  <button class="f_0" onclick="history.back();" type="button"><img
      src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>


<div class="container3 t_l">
  <hr class="gray_line">
  <div class="m_10">
    <img src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png"> <span class="f_r f_12 h_10">2021/11/21
      21:51</span>
    <div class="m_5 l_h_10 break">
      <img class="f_r h_21" src="https://ongeki-net.com/ongeki-mobile/img/icon_matching.png"> <img class="f_r h_21"
        src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png"> TEmPTaTiON
    </div>
    <img class="m_5 f_l" src="https://ongeki-net.com/ongeki-mobile/img/music/a96fb62629a43762.png">
    <div class="f_r">
      <div class="playlog_score_block m_5 p_5 t_r white">
        <table>
          <tbody>
            <tr>
              <td class="battle_score_block_new">
                <div class="f_11">BATTLE SCORE</div>
                <div class="f_20">9,942,297</div>
              </td>
              <td class="w_65" rowspan="2">
                <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_br_excellent.png">
              </td>
            </tr>
            <tr>
              <td class="battle_score_block_new">
                <div class="f_11">OVER DAMAGE</div>
                <div class="f_20">306.34％</div>
              </td>
            </tr>
            <tr>
              <td class="technical_score_block_new">
                <div class="f_11">TECHNICAL SCORE</div>
                <div class="f_20">985,941</div>
              </td>
              <td class="w_65">
                <img class="f_r" src="https://ongeki-net.com/ongeki-mobile/img/score_tr_s.png">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix p_t_5 t_l f_0">
          <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_win.png">
          <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fb.png">
          <img src="https://ongeki-net.com/ongeki-mobile/img/score_detail_fc_base.png">
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="vs_container">
    <img class="add_title_img" src="https://ongeki-net.com/ongeki-mobile/img/playlog_deck.png">
    <div class="vs_block m_10 p_3 f_13 break">
      <img class="h_16 v_m" src="https://ongeki-net.com/ongeki-mobile/img/card_icon_aqua.png">
      珠洲島 有栖 Lv.30
      <img class=" v_m" src="https://ongeki-net.com/ongeki-mobile/img/enemy_icon_mini_aqua.png">
    </div>
    <div class="t_c l_h_10">
      <div class="card_block f_l col3 f_0">
        <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
            class="sub_color">322</span>
        </div>
        <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/614896fa57b507f2.png">
      </div>
      <div class="card_block f_l col3">
        <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
            class="sub_color">327</span>
        </div>
        <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/c7056d16fd8e0475.png">
      </div>
      <div class="card_block f_l col3">
        <div class="card_info_block f_11 gray"><span class="main_color">Lv.70</span>　攻撃力<span
            class="sub_color">300</span>
        </div>
        <img class="w_127" src="https://ongeki-net.com/ongeki-mobile/img/card/207c6a9d63aa3630.png">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="m_10 t_r f_12">
    <div class="col2 f_l p_5">
      <table class="score_detail_table f_r">
        <tbody>
          <tr>
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_max_combo.png"></th>
            <td class="f_b">730</td>
          </tr>
          <tr class="score_critical_break">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_critical_break.png">
            </th>
            <td class="f_b">1,869</td>
          </tr>
          <tr class="score_break">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_break.png">
            </th>
            <td class="f_b">107</td>
          </tr>
          <tr class="score_hit">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_hit.png"></th>
            <td class="f_b">45</td>
          </tr>
          <tr class="score_miss">
            <th class="f_0"><img class="h_16" src="https://ongeki-net.com/ongeki-mobile/img/score_miss.png">
            </th>
            <td class="f_b">23</td>
          </tr>
          <tr class="score_bell">
            <th>BELL</th>
            <td class="f_b">141/141</td>
          </tr>
          <tr class="score_damage">
            <th>DAMAGE</th>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col2 f_r p_5">
      <table class="score_detail_table">
        <tbody>
          <tr>
            <th>TAP</th>
            <td class="f_b">95%</td>
          </tr>
          <tr>
            <th>HOLD</th>
            <td class="f_b">99%</td>
          </tr>
          <tr>
            <th>FLICK</th>
            <td class="f_b">97%</td>
          </tr>
          <tr>
            <th>SIDE TAP</th>
            <td class="f_b">99%</td>
          </tr>
          <tr>
            <th>SIDE HOLD</th>
            <td class="f_b">100%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="playlog_event_name m_10 f_13 l_h_10 t_l break">
    <img class="f_l h_17 m_10" src="https://ongeki-net.com/ongeki-mobile/img/icon_event.png">
    <div class="p_10">Mission : マンスリーミッション(2021/11月)<span class="main_color f_b"> +140 </span>獲得！</div>
  </div>
  <div class="t_l m_10 f_13 l_h_10 break" id="placeName">
    <img class="f_r" id="placeNameCtrl" src="https://ongeki-net.com/ongeki-mobile/img/on.png">
    <span class="d_b p_10">Dummy Shop</span>
    <div class="clearfix"></div>
  </div>
  <div class="t_l m_10 f_0" id="matching">
    <img class="f_r" id="matchingCtrl" src="https://ongeki-net.com/ongeki-mobile/img/on.png">
    <img class="f_l h_17 m_10" src="https://ongeki-net.com/ongeki-mobile/img/icon_matching.png">
    <div class="m_10 f_13 l_h_10">店内マッチング</div>
    <div class="clearfix black">
      <span class="d_ib col3 f_l f_15 l_h_12 p_5">
        <span class="master_score_back d_b border_block t_c p_3">
          <img class="d_ib" src="https://ongeki-net.com/ongeki-mobile/img/diff_master.png">
          <div class="border_block">ＵＳＥＲ＿０００</div>
        </span>
      </span>
      <span class="d_ib col3 f_l f_0 p_5">
        <img class="border_block" src="https://ongeki-net.com/ongeki-mobile/img/matching_base.png">
      </span>
      <span class="d_ib col3 f_l f_0 p_5">
        <img class="border_block" src="https://ongeki-net.com/ongeki-mobile/img/matching_base.png">
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="p_r_5">
    <div class="f_r m_5">
      <form accept-charset="utf-8" action="/record/musicDetail/" method="get">
        <img class="basic_btn h_35" id="myRecord" src="https://ongeki-net.com/ongeki-mobile/img/btn_myrecord.png">
        <input name="idx" type="hidden"
          value="qpPHpOmxR+BvaWxHV4XbtvBEbOUPimypNL5bUK9Bkn1Ck6ysX/TZ4eyAhMBmwCfq521gHnKbdzQR19n5kef3ng==">
      </form>
    </div>
    <div class="master_score_back basic_btn w_100 m_5 p_5 d_ib f_r t_c f_12 white" onclick="linkRanking(this)">
      <form accept-charset="utf-8" action="/ranking/musicRankingDetail/" method="get">
        ランキング
        <input name="diff" type="hidden" value="3">
        <input name="idx" type="hidden"
          value="qpPHpOmxR+BvaWxHV4XbtvBEbOUPimypNL5bUK9Bkn1Ck6ysX/TZ4eyAhMBmwCfq521gHnKbdzQR19n5kef3ng==">
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr class="gray_line">
</div>