<div class="f_0">
    <a routerLink="/record/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_chapter.png?ver=1.30.0"></a>
    <a routerLink="/record/playlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_playlog.png?ver=1.30.0"></a>
    <a routerLink="/record/eventlog/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_eventlog.png?ver=1.30.0"></a>
    <a routerLink="/record/musicGenre/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_music.png?ver=1.30.0"></a>
    <a routerLink="/record/region/"><img
            src="https://ongeki-net.com/ongeki-mobile/img/menu_sub_record_region_on.png?ver=1.30.0"></a>
</div>
<div class="m_15"><img class="title" src="https://ongeki-net.com/ongeki-mobile/img/title_region.png"></div>
<div class="region_map_container">
    <div class="region_map_block">
        <div class="region_map_text t_c">
            <div class="f_12">達成状況</div>
            <div class="f_20">13/47</div>
        </div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map18.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map28.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map14.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map25.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map20.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map5.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map26.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map40.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map47.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map33.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map16.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map35.png"></div>
        <div class="region_map_block_img"><img src="https://ongeki-net.com/ongeki-mobile/img/map/japan_map9.png"></div>
    </div>
</div>
<div class="container2 t_l p_10 f_14">
    <div class="region_text">
        <div class="d_ib w_100 f_b">群馬県</div>
        2021/06/06 16:50
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">栃木県</div>
        2021/06/06 15:19
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">神奈川県</div>
        2021/06/06 12:32
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">千葉県</div>
        2020/10/05 15:49
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">埼玉県</div>
        2020/10/05 14:10
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">茨城県</div>
        2020/10/04 19:32
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">東京都</div>
        2020/10/03 22:26
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">北海道</div>
        2020/01/01 17:21
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">和歌山県</div>
        2019/09/26 14:21
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">奈良県</div>
        2019/08/02 20:09
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">京都府</div>
        2019/07/27 14:27
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">兵庫県</div>
        2019/07/21 16:47
    </div>
    <div class="region_text">
        <div class="d_ib w_100 f_b">大阪府</div>
        2018/07/26 16:21
    </div>
</div>
