<div class="container2 p_15">
    <div class="f_b">シリアルコード入力エラー</div>
    <div class="white_block p_10 t_l f_14">
        以下の原因が考えられます。<br>
        <br>
        ・入力されたシリアルコードが違います。<br>
        ・シリアルコードの有効期限が過ぎています。<br>
        ・使用済みのシリアルコードです。<br>
        ・すでにアイテムを獲得済みです。<br>
    </div>
</div>
<hr class="gray_line">
<div class="t_c">
    <button class="f_0" onclick="location.href='/home/serialcode/';" type="button">
        <img src="https://ongeki-net.com/ongeki-mobile/img/btn_back.png"></button>
</div>
